Repository ngageoint/hootenanny, pull requests merged in 2018-07, with the labels that each got.

#2486 Added the first of many schema geometry fixes
  conf/schema/use.json
Labels: Category: Schema, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug, in progress

#2491 Fixed another use=* issue
  conf/schema/use.json
Labels: Category: Core, Category: Schema, Category: Translation, Priority: High, Status: Ready For Review, Type: Bug, in progress

#2493 Another use=* issue
  conf/schema/use.json
Labels: Category: Schema, Category: Translation, Priority: High, Status: Ready for Test, Type: Bug, in progress

#2504 Blanket fix for use=*
  conf/schema/leisure.json
  conf/schema/use.json
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug, in progress

#2484 Write changeset files to OSM API database through the API
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayJoinerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetElementTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ApplyChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiCapabilites.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  plugins/translate.js
  test-files/io/OsmChangesetElementTest/ChangesetMergeExpected.osc
  test-files/io/OsmChangesetElementTest/DjiboutiNonAsciiTest.osc
  test-files/io/OsmChangesetElementTest/DjiboutiNonAsciiTestExpected.osc
  test-files/io/OsmChangesetElementTest/ToyTestA.osc
  test-files/io/OsmChangesetElementTest/ToyTestAChangeset1.osc
  test-files/io/OsmChangesetElementTest/ToyTestAChangeset2.osc
  test-files/io/OsmChangesetElementTest/ToyTestAConflicts.osc
  test-files/io/OsmChangesetElementTest/ToyTestAInput.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit1.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit1.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit2.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit2.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit3.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit3.response.xml
  test-files/io/OsmChangesetElementTest/XmlChangesetSplit.osc
Labels: Category: Core, Priority: Critical, Type: Feature, Type: Task

#2487 Update descriptions of road engines
  conf/services/conflateAdvOps.json
Labels: Category: UI

#2511 Add "write changeset to OSM API Db" as a Hootenanny command
  docs/commands/changeset-apply.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ApplyChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  test-files/io/OsmChangesetElementTest/ToyTestASplit1.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit1.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit2.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit2.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit3.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit3.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit4.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit4.response.xml
Labels: Category: Core, Category: Services, Priority: Medium, Status: In Progress, Type: Feature, Type: Maintenance, Type: Support, Type: Task

#2515 Write changeset files to OSM API database through the API
  hoot-core/src/main/cpp/hoot/core/cmd/ApplyChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#2517 Colorado (3.8G file) fails to load to OSM API
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#2526 Updates to 'changeset-apply' command
  docs/commands/changeset-apply.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetElementTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ApplyChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Category: Documentation, Category: Test, Priority: High, Type: Feature, Type: Maintenance, Type: Requirement, Type: Task

#2546 fix formatting for info cmd
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayer.cpp
  test-files/cmd/slow/InfoCmdTest.sh.stdout
Labels: Category: Core
