Repository ngageoint/hootenanny, pull requests merged in 2018-05, with the labels that each got.

#2346 Figure out why core tests are randomly failing
  hoot-core/src/main/cpp/hoot/core/algorithms/optimizer/IntegerProgrammingSolver.cpp
Labels: Category: Algorithms, Category: Core, Category: Test, Priority: High, Status: In Progress, Type: Bug, Type: Task, in progress

#2353 Add missing name to adv opt
  conf/services/conflateAdvOps.json
Labels: Category: UI

#2354 Fix Line vs Area for some features
  conf/schema/leisure.json
  conf/schema/man_made.json
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: In Progress, Status: Ready For Review, Type: Bug, in progress

#2360 Fix up some lingering copyright issues
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveRef2VisitorMultipleCriterionTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AttributeComparison.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropMapCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/PbfIsSortedCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonTagIgnoreListReader.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonTagIgnoreListReader.h
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/filters/ImplicitTagEligibleCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/ImplicitTagEligiblePoiCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/filters/ImplicitTagEligiblePoiCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/ImplicitTagEligiblePoiPolyCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/filters/ImplicitTagEligiblePoiPolyCriterion.h
  hoot-core/src/main/cpp/hoot/core/io/ImplicitTagRulesSqliteReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ImplicitTagRulesSqliteReader.h
  hoot-core/src/main/cpp/hoot/core/io/ImplicitTagRulesSqliteWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ImplicitTagRulesSqliteWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagUtils.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagUtils.h
  hoot-core/src/main/cpp/hoot/core/schema/TagListReader.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagListReader.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitPoiPolygonTypeTagger.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitPoiPolygonTypeTagger.h
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitPoiTypeTagger.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitPoiTypeTagger.h
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitTypeTaggerBase.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitTypeTaggerBase.h
  hoot-js/src/test/cpp/hoot/js/util/UuidHelperJsTest.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/DeriveImplicitTagRawRulesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagCustomRules.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagCustomRules.h
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRawRulesDeriver.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRawRulesDeriver.h
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRulesDatabaseDeriver.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRulesDatabaseDeriver.h
Labels: Category: Core, Category: Documentation, Priority: Low, Type: Requirement, Type: Task

#2369 Ensure multipoly building relation members are removed correctly during a building merge
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RecursiveElementRemover.h
  test-files/cases/unifying/building-5/Expected.osm
  test-files/cases/unifying/building-5/Input1.osm
  test-files/cases/unifying/building-5/Input2.osm
  test-files/cases/unifying/building-5/README.txt
  test-files/js/conflate/ElementMergerJsTest/building-one-way-one-relation-target-as-way-out.osm
Labels: Category: Core

#2372 Make the services test use ENV variables
  hoot-services/src/test/java/hoot/services/command/ExternalCommandRunnerImplTest.java
  hoot-services/src/test/java/hoot/services/jerseyframework/HootServicesSpringTestConfig.java
Labels: Category: Core, Category: Services, Category: Test, Priority: Low, Status: Ready for Test, Type: Maintenance, Type: Support, in progress

#2374 Fix SonarCube findings for Hootenanny
  hoot-core-test/src/test/cpp/hoot/core/index/metric-hybrid/RFqHybridTreeTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/LongBox.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AddOsmPbfHeaderCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/frechet/FrechetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/match-graph/MatchGraph.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetworkExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/elements/NodeData.cpp
  hoot-core/src/main/cpp/hoot/core/manipulators/WayMatchSet.h
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryPainter.cpp
  hoot-js/src/main/cpp/hoot/js/util/HootExceptionJs.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/opt/AbstractRegressionTestFitnessFunction.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/opt/PertyTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/opt/ReleaseTest.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
  tgs/src/main/cpp/tgs/FeatureExtraction/GeneticAlgorithm.cpp
  tgs/src/main/cpp/tgs/FeatureSelection/CfsSubsetEvaluator.cpp
  tgs/src/main/cpp/tgs/RStarTree/Box.cpp
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.cpp
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.cpp
  tgs/src/test/cpp/tgs/FeatureExtraction/CalculatorGenomeNodeTest.cpp
Labels: Category: Build, Category: Core, Category: Test, Priority: High, Type: Bug, Type: Maintenance, Type: Requirement, Type: Task

#2385 GBDX XML & JSON export
  conf/core/ConfigOptions.asciidoc
  docker/hootcore/hoot-gbdx.py
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddBboxVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddBboxVisitor.h
Labels: Category: Core, Category: Translation, Priority: Low, Status: Ready For Review, Type: Feature, Type: Support, Type: Task, in progress

#2393 Add archive creation script
  scripts/ci/archive.sh
Labels: Category: Build, Category: Test

#2396 Somehow missed a line in the translation
  plugins/mgcp.js
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready for Test, Type: Bug, in progress

#2399 OSM file containing "action='delete'" crashes when converted to Shapefile
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#2409 Nightly Regression
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#2414 Nightly Regression
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Maintenance, Type: Task

#2415 Nightly Regression
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeString.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagUtils.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Maintenance, Type: Task

#2386 Added a Modify option to the Tag Override function
  plugins/translate.js
Labels: Category: Core, Category: Translation, Priority: Low, Status: Ready for Test, Type: Task, in progress

#2417 Fix way ordering when making a multipolygon
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/MultiPolygonCreator.cpp
Labels: Category: Core, Priority: Medium, Status: Ready For Review, Type: Bug, in progress
