Repository ngageoint/hootenanny, pull requests merged in 2018-06, with the labels that each got.

#2434 Branch pruning #1582
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/polygon/BuildingMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/OsmSchemaTest.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
Labels: Category: Core, Category: Schema, Priority: Low, Type: Maintenance, Type: Task

#2431 Add AddAttributesVisitor
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/AddAttributesVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveAttributesVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementAttributeType.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/util/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveAttributesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveAttributesVisitor.h
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/ServiceHootApiDbReaderTest.sh
  test-files/visitors/AddAttributesVisitorTest-runAddAttributesOnlyIfEmptyTest1.osm
  test-files/visitors/AddAttributesVisitorTest-runAddAttributesOnlyIfEmptyTest2.osm
  test-files/visitors/AddAttributesVisitorTest-runAddAttributesTest.osm
  test-files/visitors/AddAttributesVisitorTest.osm
  test-files/visitors/AddAttributesVisitorTest2.osm
  test-files/visitors/AddAttributesVisitorTest3.osm
  test-files/visitors/RemoveAttributesVisitorTest-runRemoveAttributesTest.osm
  test-files/visitors/RemoveAttributesVisitorTest.osm
Labels: Category: Core

#2439 Power line translations
  docs/HootenannyDeveloperGuide.asciidoc
  docs/developer/HootenannyConflatingANewFeatureTypeWithGenericConflation.asciidoc
  docs/developer/HootenannyManualConflation.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/PythonTranslator.cpp
  translations/power-lines/ca-state-gov-power-lines-to-osm.py
  translations/power-lines/energy-data-dot-info-africa-power-lines-to-osm.py
  translations/power-lines/green-mountain-power-lines-to-osm.py
  translations/power-lines/us-eia-power-lines-to-osm.py
Labels: Category: Translation

#2441 Upgrade element type filter on SetTagValueVisitor to ElementCriterionFilter
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/SetTagValueVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/filters/ElementCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/NodeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/filters/NodeCriterion.h
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.h
  translations/power-lines/green-mountain-power-lines-to-osm.py
Labels: Category: Core

#2435 Fix missing relation roles
  hoot-core/src/main/cpp/hoot/core/cmd/UnionPolygonsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/MultiPolygonCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/MultiPolygonCreator.h
  test-files/cmd/quick/UnionPolygonCmdTest.sh
  test-files/cmd/quick/UnionPolygonCmdTest/diamond_polygon.osm
  test-files/cmd/quick/UnionPolygonCmdTest/diamond_relation.osm
  test-files/cmd/quick/UnionPolygonCmdTest/multi_polygon1.osm
  test-files/cmd/quick/UnionPolygonCmdTest/multi_polygon2.osm
  test-files/cmd/quick/UnionPolygonCmdTest/square_polygon.osm
  test-files/cmd/quick/UnionPolygonCmdTest/square_relation.osm
  test-files/cmd/quick/UnionPolygonCmdTest/union.osm
  test-files/cmd/quick/UnionPolygonCmdTest/union_multi_both.osm
  test-files/cmd/quick/UnionPolygonCmdTest/union_multi_one.osm
  test-files/cmd/quick/UnionPolygonCmdTest/union_polygon.osm
Labels: Category: Core, Status: Ready For Review, Type: Support, in progress

#2433 Removed the TXT length validation
  plugins/mgcp_rules.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Task, in progress

#2442 Add railway default match creator to config opts
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/ops/CalculateStatsOpTest.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  test-files/cmd/slow/ConflateCmdStatsToyBuildingsTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyTest.sh.stdout
  test-files/cmd/slow/RndServiceMultiaryIngestCmdTest.sh.stdout
  test-files/cmd/slow/StatsFileTest.sh.stdout
Labels: Category: Core

#2451 Element criterion filtering upgrades
  conf/core/ConfigOptions.asciidoc
  conf/core/RemoveReview2Pre.conf
  conf/core/TdsExport.json
  docs/user/ImplicitTypeTagging.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveElementsVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveTagsVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/SetTagValueVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/filters/ChainCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/ElementCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/ElementCriterionConsumer.h
  hoot-core/src/main/cpp/hoot/core/filters/ElementTypeCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/StatsAreaFilter.h
  hoot-core/src/main/cpp/hoot/core/filters/TagContainsFilter.h
  hoot-core/src/main/cpp/hoot/core/filters/TagCriterion.h
  hoot-core/src/main/cpp/hoot/core/filters/TagKeyCriterion.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOnlyOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MultiVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/extractors/FeatureExtractorJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/ElementJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/NodeJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/RelationJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/WayJs.cpp
  hoot-js/src/main/cpp/hoot/js/filter/ElementCriterionJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRawRulesDeriver.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/scoring/MatchScoringMapPreparer.cpp
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/ServiceHootApiDbReaderTest.sh
  test-files/visitors/RemoveElementsVisitorNegatedFilterOutput.osm
  test-files/visitors/RemoveTagsVisitorTest-runFilterTest.osm
  test-files/visitors/RemoveTagsVisitorTest-runNegatedFilterTest.osm
  test-files/visitors/RemoveTagsVisitorTest-runRemoveTest.osm
  test-files/visitors/RemoveTagsVisitorTest.osm
  test-files/visitors/SetTagValueVisitorTest-runFilterTest.osm
  test-files/visitors/SetTagValueVisitorTest-runNegatedFilterTest.osm
Labels: Category: Core

#2482 Added CSV options to the OGR Reader
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Feature, in progress
