Repository ngageoint/hootenanny, pull requests merged in 2018-10, with the labels that each got.

#2659 Qube 2657
  hoot-core-test/src/test/cpp/hoot/core/scoring/AttributeComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/MapComparatorTest.cpp
  hoot-core/hoot-core.pro
  hoot-core/src/main/cpp/hoot/core/algorithms/BufferedLineSegmentIntersector.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/MaximalSubline.h
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityPlotCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileBoundsCalculator.h
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileWorker.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateWayRemover.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.h
  hoot-core/src/main/cpp/hoot/core/visitors/CalculateMapBoundsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ExtractNodesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ExtractWaysVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/FindNodesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/FindWaysVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/WorstCircularErrorVisitor.h
  hoot-rnd/src/main/cpp/hoot/rnd/fourpass/TileWorker2.h
  hoot-rnd/src/main/cpp/hoot/rnd/perty/PermuteGridCalculator.h
  hoot-rnd/src/main/cpp/hoot/rnd/perty/PertyOp.h
  hoot-rnd/src/main/cpp/hoot/rnd/visitors/AddExportTagsVisitor.h
  sonar-project.properties
  tgs/src/main/cpp/tgs/Interpolation/IdwInterpolator.h
  tgs/src/main/cpp/tgs/RandomForest/RandomForestUtilities.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#2661 Remove hardcoded items from poi/poly and implicit tagging workflows
  conf/core/ConfigOptions.asciidoc
  conf/core/implicit-tag-rules/implicitTagRulesCustomRuleList
  conf/core/implicit-tag-rules/implicitTagRulesNameCleaningTokens
  conf/core/poi-polygon/poiPolygonTypeToNames
  conf/core/streetTypes
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonTypeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonTypeScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/language/DictionaryTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/language/DictionaryTranslator.h
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagUtils.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagUtils.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.h
  test-files/cmd/slow/RndImplicitTypeDatabaseDeriverTest.sh.stdout
Labels: Category: Core

#2660 Remove side-effects from right hand of && or || operators
  hoot-core/src/main/cpp/hoot/core/algorithms/ExpectationIntersection.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  tbs/src/main/cpp/tbs/stats/TDistribution.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#2662 English text recognition bug fix in to English translator
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonTypeScoreExtractor.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesTranslatorClient.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesTranslatorClient.h
Labels: Category: Algorithms

#2663 Qube and Makefile updates
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbBulkInserterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ExternalMergeElementSorter.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRawRulesDeriver.cpp
  hoot-services/Makefile
  test-files/ui/Makefile
Labels: Category: Build, Category: Core, Priority: Low, Type: Maintenance, Type: Task

#2679 Fixed toilets and malls
  plugins/ggdm30.js
  plugins/ggdm30_rules.js
  plugins/tds40.js
  plugins/tds40_rules.js
  plugins/tds61.js
  plugins/tds61_rules.js
  plugins/test/mall_motor_vehicle.js
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready for Test, Type: Bug, Type: Suggestion, in progress

#2687 Poi/poly extractor cleanup
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  docs/algorithms/PoiToPolygonConflation.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/extractors/NameExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/extractors/NameExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonAddressScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonAddressScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonNameScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonNameScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonTypeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonTypeScoreExtractor.h
Labels: Category: Core, Type: Maintenance

#2688 Poi/poly address tag keys expansion
  conf/core/ConfigOptions.asciidoc
  conf/core/addressTagKeys
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonAddressScoreExtractorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonAdvancedMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonAddressScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonAddressScoreExtractor.h
Labels: Category: Core

#2698 Append to dataset now appends
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ScriptTranslatorFactory.cpp
  test-files/cmd/slow/AppendFGDBTest.sh
  test-files/cmd/slow/AppendFGDBTest.sh.stderr
  test-files/cmd/slow/AppendFGDBTest.sh.stdout
Labels: Category: Core, Priority: High, Status: Ready For Review, Type: Bug, in progress

#2704 Building convert bug
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.h
  test-files/cmd/quick/RemoveBuildingsTest.sh
  test-files/cmd/quick/RemoveBuildingsTest.sh.stderr
  test-files/cmd/quick/RemoveBuildingsTest.sh.stdout
Labels: Category: Core, Priority: Medium, Type: Bug

#2695 Export CSV Format
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPgCsvWriterTest.cpp
  hoot-core/hoot-core.pro
  hoot-core/src/main/cpp/hoot/core/io/OsmPgCsvWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPgCsvWriter.h
  test-files/io/PgCsvWriter/runBasic-nodes.pgcsv
  test-files/io/PgCsvWriter/runBasic-relationmembers.pgcsv
  test-files/io/PgCsvWriter/runBasic-relations.pgcsv
  test-files/io/PgCsvWriter/runBasic-waynodes.pgcsv
  test-files/io/PgCsvWriter/runBasic-ways.pgcsv
Labels: Category: Core, Category: Test, Priority: Medium, Type: Feature, Type: Task
