Repository ngageoint/hootenanny, pull requests merged in 2018-09, with the labels that each got.

#2602 Add linestring to tourism=attraction
  conf/schema/tourism.json
Labels: Category: CWS, Category: Translation, Status: Ready For Review, Type: Task, in progress

#2616 UFD Translator
  conf/services/DefaultTranslations.json
  plugins/ggdm30_rules.js
  plugins/gifd_d4_rules.js
  plugins/translate.js
  translations/UFD_to_Osm.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Feature, in progress

#2624 Bad changeset IDs in bulk upload
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#2629 Upgrade JSON and GeoJSON readers to read bounding boxes better
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/WayStringTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwaySnapMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Feature, Type: Requirement, Type: Task

#2639 Added exclusions to Sonar properties file
  .gitignore
  scripts/cover/coverGcov.sh
  scripts/sonar/sonar-scan.sh
  sonar-project.properties
Labels: Category: Build, Priority: Medium, Type: Feature, Type: Task

#2643 Makefile updates
  Makefile.am
  Makefile.old
Labels: Category: Build, Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#2645 Makefile updates
  Makefile.am
  Makefile.hoot
  docs/developer/HootenannyBuild.asciidoc
  scripts/jenkins/TestQuick.sh
  scripts/jenkins/centos67/TestPullRequest_core.sh
  stub/Makefile
Labels: Category: Build, Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#2653 Auto-fix some OSM API changeset issues
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Algorithms, Category: Core, Priority: Medium, Type: Feature, Type: Task
