Repository ngageoint/hootenanny, pull requests merged in 2018-02, with the labels that each got.

#2137 Added options for SDV/ZI001_SDV/ZI001_SDD
  Makefile.old
  plugins/ggdm30.js
  plugins/mgcp.js
  plugins/tds40.js
  plugins/tds61.js
Labels: Category: Translation, Priority: Low, Status: Ready For Review, Type: Support, Type: Task

#2146 Make unit tests clean up after themselves in the HootApiDb
  scripts/core/ServiceOsmApiDbHootApiDbConflate.sh
  test-files/cmd/glacial/ServiceDbEmptyTagsTest.sh
  test-files/cmd/glacial/ServiceOsmApiDbHootApiDbDcStreetsNetworkConflateTest/output.osm
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbAllDataTypesConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbBuildingConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbDcStreetsConflateTest2.sh.stdout
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbDcStreetsNetworkConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbHaitiDrConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbPoiPolygonConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbRafahConflateTest.sh.stdout
  test-files/cmd/slow/ServiceMultiaryIngestCmdTest.sh
  test-files/cmd/slow/ServiceMultiaryIngestCmdTest.sh.stdout
  test-files/cmd/slow/serial/ServiceCalculateTilesCmdTest.sh
  test-files/cmd/slow/serial/ServiceOsmApiDbHootApiDbDcStreetsConflateTest.sh.stdout
  test-files/cmd/slow/serial/ServiceStreamingApiDbTest.sh
  test-files/cmd/slow/serial/ServiceStreamingApiDbTest.sh.stdout
Labels: Category: Core, Category: Test, Priority: Medium, Status: Defined, Type: Bug

#2156 Post Hadoop removal cleanup
  test-files/cmd/glacial/BigPertyCmd.sh.off
  test-files/cmd/glacial/serial/BigConflateCmd.sh.off
  test-files/cmd/glacial/serial/BigConvertCmd.sh.off
  test-files/cmd/slow/BigIteratorTest.sh.off
Labels: Category: Core, Priority: Low, Status: Defined, Type: Maintenance

#2155 test-files/DcOsmRoads.osm fails to load in Debug
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
Labels: Category: Core, Category: Test, Priority: Medium, Type: Bug

#2152 UI adv opts cleanup
  conf/core/Diff.conf
  conf/services/conflateAdvOps.json
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  test-files/ui/features/advanced_options.feature
  test-files/ui/features/advanced_options_invalid_input.feature
  test-files/ui/features/conflate_frechet_distance.feature
  test-files/ui/features/conflate_network_frechet_distance.feature
Labels: Category: UI

#2172 temp add rubber sheet ui options back in
  conf/services/conflateAdvOps.json
  test-files/ui/features/advanced_options.feature
  test-files/ui/features/advanced_options_invalid_input.feature
Labels: Category: UI

#2154 Building conflation option updates
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  hoot-core-test/src/test/cpp/hoot/core/conflate/ReviewMarkerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/polygon/BuildingMatchCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MarkForReviewMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MarkForReviewMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ReviewMarker.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayReviewCleanerOp.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/filters/NeedsReviewCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/filters/NeedsReviewCriterion.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveDuplicateReviewsOp.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.h
  hoot-core/src/main/cpp/hoot/core/visitors/CountUniqueReviewsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/CountUniqueReviewsVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/ReviewMarkerJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMerger.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/PartialNetworkMerger.cpp
  test-files/ui/features/advanced_options.feature
Labels: Category: Core

#2175 Add simple single setting for in memory api db bulk loader data validation
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
Labels: Category: Core

#2174 Add option to review poi/poly matches with multi-use buildings
  conf/core/ConfigOptions.asciidoc
  conf/schema/shop.json
  conf/services/conflateAdvOps.json
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/filters/BuildingCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  test-files/ui/features/advanced_options.feature
Labels: Category: Algorithms

#2138 GLPK and Dependencies Update; Ubuntu removal
  README.md
  VAGRANT.md
  VagrantProvisionCentOS7.sh
  VagrantProvisionUbuntu1604.sh
  VagrantProvisionUbuntu1604.sh.old
  VagrantProvisionVars.sh
  Vagrantfile
  Vagrantfile.old
  configure.ac
  docs/install/HootenannyInstall.asciidoc
  scripts/HootEnv.sh
  scripts/hoot-repo/RPM-GPG-KEY-Hoot
  scripts/hoot-repo/yum-configure.sh
  scripts/jenkins/ConfigureCoverageUbuntu1404VagrantEnvironment.sh
  scripts/jenkins/ConfigureCucumberUbuntu1404VagrantEnvironment.sh
  scripts/jenkins/ConfigureTestUbuntu1404VagrantEnvironment.sh
  scripts/jenkins/ConfigureUbuntu1404VagrantEnvironment.sh
  scripts/jenkins/Jenkinsfile
  scripts/tomcat/tomcat8/centos7/tomcat8_start.sh
  scripts/tomcat/tomcat8/ubuntu/etc/default/tomcat8
  test-files/cmd/slow/ConflateCmdStatsGenericRiversTest.sh.stdout
Labels: Category: Build

#2184 Poi poly multiuse bug 2-23-18
  LocalConfig.pri.orig
  VAGRANT.md
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  docs/algorithms/PoiToPolygonConflation.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
Labels: Category: Algorithms

#2189 Fixed path in unit test
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayMatchStringMergerTest.cpp
Labels: Category: Core, Category: Test, Priority: Low, Status: Ready for Test, Type: Bug

#2198 Require stxxl and remove #warning
  m4/nodejs.m4
  m4/stxxl.m4
  scripts/TestConfigure.sh
  tgs/src/main/cpp/tgs/BigContainers/BigMap.h
  tgs/src/main/cpp/tgs/BigContainers/BigMapHybrid.h
  tgs/src/main/cpp/tgs/BigContainers/BigMapStl.h
  tgs/tgs.pro
Labels: Category: Build, Category: Core, Category: Test, Priority: Critical, Type: Bug, Type: Support, Type: Task

#2148 Matcher/merger, rubber sheeting, and adv UI opts fixes
  conf/core/ConfigOptions.asciidoc
  conf/core/Diff.conf
  conf/core/Network.conf
  conf/services/conflateAdvOps.json
  hoot-core-test/src/test/cpp/hoot/core/conflate/RubberSheetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/SearchRadiusCalculatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/OptionsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/RubberSheetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MatchFactory.h
  hoot-core/src/main/cpp/hoot/core/conflate/MergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/RubberSheet.h
  hoot-core/src/main/cpp/hoot/core/conflate/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/perty/PertyMatchScorer.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/PartialNetworkMerger.cpp
  test-files/cases/hoot-rnd/network/Config.conf
  test-files/cases/unifying/highway-662/Config.conf
  test-files/cmd/glacial/NetworkConflateCmdTest.sh.stdout
  test-files/cmd/glacial/ServiceOsmApiDbHootApiDbDcStreetsNetworkConflateTest/output.osc
  test-files/cmd/glacial/ServiceOsmApiDbHootApiDbDcStreetsNetworkConflateTest/output.osc.sql
  test-files/cmd/glacial/ServiceOsmApiDbHootApiDbDcStreetsNetworkConflateTest/output.osm
  test-files/cmd/glacial/serial/ServiceOsmApiDbHootApiDbDcStreetsNetworkConflateTest.sh.stdout
  test-files/cmd/slow/BadMatchPairTest.sh
  test-files/cmd/slow/ConflateAverageTest.sh
  test-files/cmd/slow/ConflateNoInfoTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
  test-files/cmd/slow/MergeEmptyBuildingsTest.sh
  test-files/cmd/slow/RubberSheetCmdTest/out.osm
  test-files/cmd/slow/RubberSheetConflateTest.sh
  test-files/ui/features/advanced_options.feature
  test-files/ui/features/advanced_options_invalid_input.feature
Labels: Category: Core

#2200 CWS Translation fixes
  plugins/fcode_common.js
  plugins/ggdm30.js
  plugins/ggdm30_rules.js
  plugins/mgcp.js
  plugins/mgcp_rules.js
  plugins/tds40.js
  plugins/tds40_rules.js
  plugins/tds61.js
  plugins/tds61_rules.js
Labels: Category: CWS, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Maintenance, Type: Support
