Repository ngageoint/hootenanny, pull requests merged in 2018-03, with the labels that each got.

#2208 sort utility command
  docs/commands/sort.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/SortCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/GeoNamesReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmFileSorter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.h
  hoot-core/src/main/cpp/hoot/core/schema/ImplicitTagRawRulesDeriver.cpp
  test-files/cmd/slow/SortCmdTest.sh
  test-files/cmd/slow/SortCmdTest.sh.stderr
  test-files/cmd/slow/SortCmdTest.sh.stdout
  test-files/cmd/slow/SortCmdTest/input.geonames
  test-files/cmd/slow/SortCmdTest/input.osm
  test-files/cmd/slow/SortCmdTest/input.osm.pbf
  test-files/cmd/slow/SortCmdTest/output.geonames
  test-files/cmd/slow/SortCmdTest/output.osm
  test-files/cmd/slow/SortCmdTest/output.osm.pbf
Labels: Category: Core

#2209 Fix poi/poly auto review types option in UI
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
Labels: Category: Core

#2214 better status logging from db readers
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.h
Labels: Category: Core

#2211 Check for user ID existence before bulk insert to database
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbBulkInserterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.h
Labels: Category: Core

#2218 Hoot API Database bulk writing fixes
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbBulkInserterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  test-files/io/ServiceHootApiDbBulkInserterTest/psql-offline.sql
Labels: Category: Core

#2220 Fix plugins-test dependency issue
  Makefile.old
Labels: Category: Build

#2222 Add 'make eclipse' step to provisioning
  VagrantBuild.sh
Labels: Category: Build

#2221 Make ui test clean a pre-req of overall clean
  Makefile.old
Labels: Category: Build

#2238 More less destructive splitting/way creation - DualWaySplitter
  hoot-core-test/src/test/cpp/hoot/core/conflate/splitter/DualWaySplitterTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/splitter/DualWaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/splitter/DualWaySplitter.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveNodeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveNodeOp.h
  test-files/DualWaySplitterSimpleExpected.osm
  test-files/DualWaySplitterSimpleInput.osm
  test-files/DualWaySplitterTestExpected.osm
Labels: Category: Core, Category: Test, Priority: Medium, Type: Task

#2257 Add review type tags to generic conflation reviews
  hoot-core/src/main/cpp/hoot/core/conflate/MarkForReviewMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MarkForReviewMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/js/ScriptMatch.cpp
  hoot-js/src/test/cpp/hoot/js/conflate/ElementMergerJsTest.cpp
  test-files/cases/hoot-js/poi/poi-generic-13/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-14/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-15/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-16/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-2/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-20/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-22/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-23/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-24/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-26/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-27/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-28/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-29/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-3/Expected.osm
  test-files/cases/hoot-js/poi/poi-generic-30/Expected.osm
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/csr/csr.osm
  test-files/cmd/slow/ConflateCmdTest/output.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
  test-files/conflate/CumulativeConflatorTest/CumulativeConflatorTest.osm
Labels: Category: Core

#2260 Remove previously deprecated '--' in front of command calls
  conf/core/ConfigOptions.asciidoc
  docs/HootenannyConfigOptions.asciidoc
  docs/commands/big-ogr2osm.asciidoc
  docs/developer/HootenannyTests.asciidoc
  docs/developer/HootenannyTroubleshooting.asciidoc
  docs/install/HootenannyTroubleshooting.asciidoc
  docs/user/BigData.asciidoc
  docs/user/OldDocs.asciidoc
  hoot-cmd/src/main/cpp/hoot/cmd/HelpCmd.cpp
  hoot-cmd/src/main/cpp/hoot/cmd/main.cpp
  hoot-services/src/main/java/hoot/services/controllers/osm/changeset/ChangesetDbWriter.java
  hoot-services/src/test/java/hoot/services/controllers/osm/changeset/ChangesetResourceUploadDeleteTest.java
  hoot-services/src/test/java/hoot/services/controllers/osm/changeset/ChangesetResourceUploadModifyTest.java
  scripts/TestConfigure.sh
  scripts/jenkins/Jenkinsfile
  scripts/jenkins/TestAll.sh
  scripts/jenkins/TestBasics.sh
  scripts/jenkins/TestDevelop.sh
  scripts/jenkins/TestInitialNightly.sh
  scripts/jenkins/TestPullRequest_all.sh
  scripts/jenkins/TestPullRequest_core.sh
  scripts/jenkins/TestPullRequest_ui.sh
  scripts/jenkins/TestQuick.sh
  test-files/cmd/glacial/ConflationStatsReportTest.sh
  test-files/cmd/glacial/RubberSheetConflateTest.sh
  test-files/cmd/glacial/ServiceDbEmptyTagsTest.sh
  test-files/cmd/glacial/ServiceExportOsm.sh
  test-files/cmd/quick/OptionsCmdTest.sh.stdout
  test-files/cmd/quick/OptionsCmdTest/ConfigOptions.asciidoc
  test-files/cmd/quick/PrepareForValidationTest.sh
  test-files/cmd/quick/dirShpMultiLayerTranslationAssistantTest.sh
  test-files/cmd/slow/ConflateAverageTest.sh
  test-files/cmd/slow/ConflateCmdTest.sh
  test-files/cmd/slow/ConflateConsistencyTest.sh
  test-files/cmd/slow/ConflateNoInfoTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh
  test-files/cmd/slow/MgcpTranslationTest.sh
  test-files/cmd/slow/Ogr2OsmTranslation.sh
  test-files/cmd/slow/Osm2OgrTranslation.sh
  test-files/cmd/slow/RoadBridgeTest.sh
  test-files/cmd/slow/ServiceExportRenderDbTest.sh
  test-files/cmd/slow/eTDSTranslationAssistantTest.sh
  test-files/cmd/slow/fgdbMultiLayerTranslationAssistantTest.sh
  translations/OSM_to_englishGGDM30.js
  translations/OSM_to_englishMGCP.js
  translations/OSM_to_englishTDS.js
  translations/OSM_to_englishTDS61.js
  translations/PrintOsmDocs.js
  translations/englishGGDM30_to_OSM.js
  translations/englishMGCP_to_OSM.js
  translations/englishTDS61_to_OSM.js
  translations/englishTDS_to_OSM.js
Labels: Category: Core

#2265 Create test to validate non-destructive work
  docs/commands/derive-changeset.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/schema/ScoreMatrixTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/MaxWordSetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/MeanWordSetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/string/MinSumWordSetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/string/WeightedWordDistance.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DeriveChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/schema/ScoreMatrix.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ScoreMatrix.h
  test-files/cmd/glacial/NonDestructiveConflationTest.sh
  test-files/cmd/glacial/NonDestructiveConflationTest.sh.stderr
  test-files/cmd/glacial/NonDestructiveConflationTest.sh.stdout
Labels: Category: Core, Category: Test, Priority: High, Type: Task

#2248 More less destructive splitting/way creation - WayAverager
  hoot-core-test/src/test/cpp/hoot/core/conflate/ConflatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.cpp
  hoot-core/src/main/cpp/hoot/core/manipulators/WayMergeManipulation.cpp
  test-files/algorithms/MaximalNearestSubline2TestOutput.osm
  test-files/cmd/glacial/RubberSheetConflateTest/output.osm
  test-files/cmd/slow/ConflateAverageTest/output.osm
  test-files/conflate/TileConflatorTest.osm
  test-files/manipulators/WayMergeManipulationOutput.osm
Labels: Category: Core, Category: Test, Priority: Medium, Type: Task

#2272 GeoJson GBDX files are failing to translate
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  test-files/io/GeoJson/BostonSubsetRoadBuilding.osm
Labels: Category: Core, Category: Translation, Priority: Critical, Type: Bug, Type: Task

#2279 Explicitly use boost::make_shared in ZCurveRanger
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.cpp
Labels: Category: Core, Priority: Low, Type: Task

#2280 Consolidate createWay utility function
  hoot-core-test/src/test/cpp/hoot/core/algorithms/MaximalNearestSublineMatcherTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/MaximalSublineStringMatcherTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/MultiLineStringSplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwayExpertClassifierTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwayMatchTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwaySnapMergerTest.cpp
Labels: Category: Core, Category: Test, Priority: Low, Type: Maintenance, Type: Task
