Repository ngageoint/hootenanny, pull requests merged in 2018-08, with the labels that each got.

#2556 Fixed field length error on export
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  test-files/cmd/slow/o2sTranslationTest.sh.stdout
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready For Review, Type: Bug, in progress

#2557 2552 - Separate feature count and stat command logic
  conf/core/ConfigOptions.asciidoc
  docs/commands/HootCommandLineReference.asciidoc
  docs/commands/count-features.asciidoc
  docs/commands/count.asciidoc
  docs/commands/stat.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/AverageNumericTagsVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AverageNumericTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AverageNumericTagsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SumNumericTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SumNumericTagsVisitor.h
  test-files/cmd/slow/CountCmdTest.sh
  test-files/cmd/slow/CountCmdTest.sh.stderr
  test-files/cmd/slow/CountCmdTest.sh.stdout
  test-files/cmd/slow/CountFeaturesCmdTest.sh
  test-files/cmd/slow/CountFeaturesCmdTest.sh.stderr
  test-files/cmd/slow/StatCmdTest.sh
  test-files/cmd/slow/StatCmdTest.sh.stderr
  test-files/cmd/slow/StatCmdTest.sh.stdout
  test-files/visitors/SumNumericTagsVisitorTest.osm
Labels: Category: Core

#2512 Fix SonarCube findings for Hootenanny
  hoot-core-test/src/test/cpp/hoot/core/algorithms/LevenshteinDistanceTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/LongestCommonNodeStringTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/MaximalSublineStringMatcherTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/splitter/CornerSplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/splitter/DualWaySplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/splitter/IntersectionSplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/ClosePointHashTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/metric-hybrid/FqTreeTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/metric-hybrid/RTreeTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/manipulators/DividedHighwayManipulationTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/manipulators/DividedHighwayMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/manipulators/WayMergeManipulationTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/AttributeComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/GraphComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/MapComparatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/Translator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/Translator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.h
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceElementOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceElementOp.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.h
  hoot-core/src/main/cpp/hoot/core/util/HootException.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
  hoot-js/src/main/cpp/hoot/js/JsRegistrar.cpp
  hoot-js/src/main/cpp/hoot/js/JsRegistrar.h
  hoot-rnd/src/test/cpp/hoot/rnd/scoring/MapScoringStatusAndRefTagValidatorTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparatorTest.cpp
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Maintenance, Type: Task

#2520 2467 - UI test for diff conflate
  conf/services/conflateAdvOps.json
  docs/commands/conflate.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-services/src/main/java/hoot/services/controllers/conflation/ConflateCommand.java
  test-files/ui/Makefile
  test-files/ui/features/conflate_differential_with_stats.feature
  test-files/ui/features/z_conflate_export_osm_api_db.off
Labels: Category: Test

#2576 Export relation with missing members mangling polygon geometry
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.h
  test-files/io/ServiceHootApiDbReaderTest/runReadByBoundsTestInput.osm
  test-files/io/ServiceHootApiDbReaderTest/runReadByBoundsTestOutput.osm
  test-files/io/ServiceOsmApiDbReaderTest/runReadByBoundsTest.osm
Labels: Category: Core, Priority: High, Type: Bug, Type: Task
