Repository ngageoint/hootenanny, pull requests merged in 2018-11, with the labels that each got.

#2726 Silence the Hoot UI 2x build
  Makefile.hoot
Labels: Category: Build, Priority: Medium, Type: Maintenance, Type: Task

#2728 small command changes - 11-3-18
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CumulativeConflateCmd.cpp
Labels: Category: Core, Type: Maintenance

#2729 Fixes for Java vulnerabilities in the NVD - 11-5-18
  hoot-services/pom.xml
Labels: Category: Services, Type: Maintenance

#2681 Add phone number matching/validation to poi/poly conflation
  .circleci/config.yml
  Configure.pri.in
  VagrantProvisionCentOS7.sh
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  configure.ac
  docs/algorithms/PoiToPolygonConflation.asciidoc
  docs/user/OldDocs.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonNameScoreExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonPhoneNumberScoreExtractorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/PhoneNumberParser.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/PhoneNumberParser.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonAdvancedMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonNameScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonNameScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonPhoneNumberScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonPhoneNumberScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/extractors/PoiPolygonTypeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  m4/libphonenumber.m4
Labels: Category: Algorithms

#2733 turn off type tagging lang translation by default
  conf/core/ConfigOptions.asciidoc
Labels: Category: Core

#2732 Added barrier=city_wall
  plugins/ggdm30_rules.js
  plugins/mgcp_rules.js
  plugins/tds40_rules.js
  plugins/tds61_rules.js
Labels: Category: CWS, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#2738 Add node conversion to GeometryConverter to fix cropping crash
  hoot-core/src/main/cpp/hoot/core/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.h
  hoot-core/src/main/cpp/hoot/core/util/GeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryConverter.h
Labels: Category: Core

#2737 Add string comps and val aggs to info command
  README.md
  docs/commands/info.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/ExactStringDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/KskipBigramDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/LevenshteinDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/MaxWordSetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/MeanWordSetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/Soundex.h
  hoot-core/src/main/cpp/hoot/core/algorithms/StringDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/MaxAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/MeanAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/MinAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/QuantileAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/RmseAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/SigmaAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/ValueAggregator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/string/MinSumWordSetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/string/WeightedWordDistance.h
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayer.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayer.h
  hoot-core/src/main/cpp/hoot/core/language/TranslateStringDistance.h
Labels: Category: Core

#2739 Add manual match count to score-matches output
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ScoreMatchesCmd.cpp
  test-files/cmd/slow/RndScoreMatchesCmdTest.sh.stdout
Labels: Category: Core

#2740 Schema changes for geometries
  conf/schema/REF1.json
  conf/schema/REF2.json
  conf/schema/address.json
  conf/schema/colour.json
  conf/schema/contact.json
  conf/schema/destination.json
  conf/schema/ele.json
  conf/schema/email.json
  conf/schema/frequency.json
  conf/schema/gauge.json
  conf/schema/height.json
  conf/schema/hoot_tags.json
  conf/schema/is_in.json
  conf/schema/lanes.json
  conf/schema/maxspeed.json
  conf/schema/metadata.json
  conf/schema/name.json
  conf/schema/note.json
  conf/schema/source.json
  conf/schema/url.json
  conf/schema/website.json
  conf/schema/width.json
  conf/schema/wikipedia.json
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaChecker.cpp
Labels: Category: Core, Category: Schema, Category: Test, Priority: Medium, Type: Bug, Type: Maintenance, Type: Task

#2746 Prevent OsmMapConsumer based visitor convert ops from crashing during streaming I/O
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
Labels: Category: Core, Type: Bug

#2749 Add option to display cleaning op descriptions from info command
  docs/commands/info.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayer.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayer.h
  hoot-core/src/main/cpp/hoot/core/ops/RelationCircularRefRemover.h
  hoot-core/src/main/cpp/hoot/core/util/Factory.h
  test-files/cmd/slow/InfoCmdTest.sh
  test-files/cmd/slow/InfoCmdTest.sh.stdout
Labels: Category: Core, Type: Feature

#2755 OSM with missing nodes fails geometry type handling for closed ways
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  plugins/TranslationServer.js
  plugins/test/runway.js
Labels: Category: Core, Category: Schema, Category: Test, Category: Translation, Priority: High, Type: Bug, Type: Task

#2758 OSM with missing nodes fails geometry type handling for closed ways
  plugins/TranslationServer.js
Labels: Category: Translation, Priority: Low, Type: Maintenance, Type: Task

#2763 Hoot schema print command is fixed.
  plugins/tds40_rules.js
  plugins/tds61_rules.js
  translations/PrintOsmDocs.js
Labels: Category: Core, Category: Translation, Priority: Low, Status: Ready For Review, Type: Maintenance, Type: Task

#2759 Add option to make rubber sheeting more fault tolerant
  conf/core/ConfigOptions.asciidoc
  docs/algorithms/GenericLineConflation.asciidoc
  docs/algorithms/PoiToPolygonConflation.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DeleteDbMapCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/NodeMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/NodeMatcher.h
Labels: Category: Algorithms, Type: Bug
