Repository ngageoint/hootenanny, pull requests merged in 2019-08, with the labels that each got.

#3375 Changeset splits are non-atomic
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlChangesetFileWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbSqlChangesetFileWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
Labels: Category: Core, Priority: High, Status: Defined, Type: Maintenance

#3378 Fix Network alg input road edge error
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.h
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh.stderr
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh.stdout
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/input1.osm
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/input2.osm
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
Labels: Category: Algorithms, Type: Bug

#3379 Fixed circular relation references causing crashes.
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#3380 OSM API testing server updates
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
Labels: Category: Core, Category: Test, Priority: High, Type: Feature, Type: Task

#3382 Mismatched versions 3291
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/TagComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/AttributeComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#3383 Translation fixes
  conf/schema/aeroway.json
  conf/schema/military.json
  test-files/MGCPv3/AAL015-output.osm
  translations/UFD_to_OSM.js
  translations/WorldPortIndex.js
  translations/dnc_core.js
  translations/fcode_common.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug, Type: Support

#3395 Prevent Diff conflate separate output tag changes for differing geometry types
  conf/core/ConfigOptions.asciidoc
  docs/commands/conflate.asciidoc
  docs/commands/info.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/AddAttributesVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveElementsVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ElementCriterionConsumer.h
  hoot-core/src/main/cpp/hoot/core/criterion/StatusCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/UnknownCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/UnknownCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMerger.cpp
  test-files/cases/attribute/network/highway-2927-bridge-2/README.txt
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest.sh
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest.sh.stderr
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest.sh.stdout
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest/Input1.osm
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest/Input2.osm
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest/output.tags.osc
  test-files/visitors/AddAttributesVisitorTest/runMultipleCriteriaTest.osm
  test-files/visitors/AddAttributesVisitorTest/runNegatedFilterTest.osm
  test-files/visitors/RemoveElementsVisitorTest/RemoveElementsVisitorTest-runMultipleCriteriaTestOut.osm
Labels: Category: Algorithms, Type: Bug

#3400 Change OGR to OSM building simplification behavior
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.h
Labels: Category: Core, Type: Bug

#3405 UI conf updates 8/21/19
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/core/DifferentialConflation.conf
  conf/core/HorizontalConflation.conf
  conf/core/ReferenceConflation.conf
  conf/core/UnifyingAlgorithm.conf
  conf/services/conflationTypes.json
  hoot-services/src/test/java/hoot/services/controllers/info/AdvancedOptResourceTest.java
  rules/Area.js
Labels: Category: Core, Category: UI, Type: Maintenance

#3408 Add an OsmApiReader
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.h
  test-files/io/OsmApiReaderTest/SimpleTestExpected.osm
  test-files/io/OsmApiReaderTest/SplitTestExpected.osm
  test-files/io/OsmApiReaderTest/ToyTestA-Part1.osm
  test-files/io/OsmApiReaderTest/ToyTestA-Part2.osm
  test-files/io/OsmApiReaderTest/ToyTestA-Part3.osm
  test-files/io/OsmApiReaderTest/ToyTestA-Part4.osm
Labels: Category: Core, Priority: Medium, Status: Defined, Type: Feature

#3433 Fix schema command and add test for it
  hoot-core/src/main/cpp/hoot/core/cmd/SchemaCmd.cpp
  test-files/cmd/quick/SchemaCmdTest.sh
  test-files/cmd/quick/SchemaCmdTest.sh.stderr
  test-files/cmd/quick/SchemaCmdTest.sh.stdout
  translations/PrintOsmDocs.js
Labels: Category: Core, Category: Test, Type: Bug
