Repository ngageoint/hootenanny, pull requests merged in 2019-01, with the labels that each got.

#2836 Fixed an FGDB layer name error
  plugins/ggdm30.js
  plugins/tds61_rules.js
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready For Review, Type: Bug, in progress

#2840 Change AddRef1Visitor from ElementVisitor to ElementOsmMapVisitor
  hoot-core/src/main/cpp/hoot/core/visitors/AddRef1Visitor.h
  hoot-js/src/main/cpp/hoot/js/visitors/ElementVisitorJs.cpp
Labels: Category: Core, Type: Bug

#2829 Update version command to show all dependency versions
  hoot-core/src/main/cpp/hoot/core/cmd/VersionCmd.cpp
  tgs/src/main/cpp/tgs/System/SystemInfo.cpp
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#2848 Make generic building merge functions like other generic merge functions
  rules/PolygonBuilding.js
Labels: Category: Core, Type: Maintenance

#2851 Move some tests to glacial
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/CumulativeConflatorTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryHierarchicalClusterAlgorithmTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryPoiGenericTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergeCacheTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergerTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryReviewCommandTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryScoreCacheTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryUtilitiesTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/IterativeNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/SingleSidedNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/VagabondNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/fourpass/FourPassManagerTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/io/MultiaryIngestChangesetReaderTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/io/MultiaryIngestChangesetWriterTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/io/SparkChangesetWriterTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparatorTest.cpp
Labels: Category: Core, Type: Maintenance

#2852 Throw exception when Remove*Op has no ID specified
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveElementOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveNodeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveNodeOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRelationOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRelationOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveWayOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveWayOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  scripts/jenkins/Jenkinsfile
Labels: Category: Core, Type: Maintenance

#2803 Track map ID in jobs table through core command call by services
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Status.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ServicesJobStatus.cpp
  hoot-core/src/main/cpp/hoot/core/io/ServicesJobStatus.h
  hoot-services/src/main/java/hoot/services/command/ExternalCommand.java
  hoot-services/src/main/java/hoot/services/controllers/clipping/ClipDatasetCommand.java
  hoot-services/src/main/java/hoot/services/controllers/conflation/ConflateCommand.java
  hoot-services/src/main/java/hoot/services/controllers/export/ExportCommand.java
  hoot-services/src/main/resources/db/changelogs/023-AddJobStatusResourceIdCol.xml
  hoot-services/src/test/java/hoot/services/controllers/conflation/ConflateCommandTest.java
Labels: Category: Core, Type: Maintenance

#2857 Remove Unifying conflation specific conflate ops
  README.md
  conf/core/ConfigOptions.asciidoc
  conf/core/Diff.conf
  conf/core/Network.conf
  conf/core/RemoveReview2Pre.conf
  conf/core/TdsExport.json
  conf/services/conflationHorizontalOps.json
  docs/HootenannyConfigOptions.asciidoc
  docs/HootenannyUserGuide.asciidoc
  docs/commands/convert.asciidoc
  docs/user/CommandLineExamples.asciidoc
  docs/user/OldDocs.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/SearchRadiusCalculatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
  hoot-rnd/src/main/cpp/hoot/rnd/perty/PertyMatchScorer.cpp
  scripts/jenkins/Jenkinsfile
  test-files/cases/hoot-rnd/network/Config.conf
  test-files/cases/network/Config.conf
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
Labels: Category: Core, Type: Maintenance

#2854 OsmXmlReader should populate CE mem var with circular.error.default.value config option
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/ops/MapCropperTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/DebugNetworkMapCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementData.h
  hoot-core/src/main/cpp/hoot/core/elements/Node.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/NodeData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/NodeData.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/elements/RelationData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/elements/WayData.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnionPolygonsOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/WorstCircularErrorVisitor.h
  test-files/cmd/slow/DiffConflateCmdTest/output.osc
  test-files/cmd/slow/DiffConflateCmdTest/output.tags.osc
  test-files/cmd/slow/DiffConflateCmdTest/output_unified.osc
Labels: Category: Core, Priority: Low, Status: Defined, Type: Bug

#2866 Deep Copy - Performance Issue
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#2872 Config options list
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RandomForestModelBuilder.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#2878 Add conflate pre/post ops to info command options
  docs/commands/info.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.h
  test-files/cmd/slow/InfoCmdTest.sh
  test-files/cmd/slow/InfoCmdTest.sh.stdout
Labels: Category: Core, Type: Feature

#2875 Get rid of ref1 ID preserve config option that isn't used
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringSplitter.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineMatchString.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MarkForReviewMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/Merger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerBase.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/PartialNetworkMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-services/src/main/java/hoot/services/HootProperties.java
  hoot-services/src/main/java/hoot/services/controllers/conflation/ConflateCommand.java
  hoot-services/src/main/java/hoot/services/controllers/conflation/ConflateResource.java
  hoot-services/src/main/java/hoot/services/controllers/conflation/ConflateUtils.java
  hoot-services/src/main/java/hoot/services/controllers/conflation/UpdateMapTagsCommand.java
  hoot-services/src/main/java/hoot/services/controllers/export/ApplyChangesetCommand.java
  hoot-services/src/main/java/hoot/services/controllers/export/DeriveChangesetCommand.java
  hoot-services/src/main/java/hoot/services/controllers/export/ExportResource.java
  hoot-services/src/main/java/hoot/services/models/osm/Map.java
  hoot-services/src/main/resources/conf/hoot-services.conf.in
  hoot-services/src/test/java/hoot/services/controllers/conflation/ConflateUtilsTest.java
  hoot-services/src/test/java/hoot/services/controllers/conflation/ConflationResourceTest.java
  hoot-services/src/test/java/hoot/services/controllers/export/ApplyChangesetCommandTest.java
  hoot-services/src/test/java/hoot/services/controllers/export/DeriveChangesetCommandTest.java
  hoot-services/src/test/java/hoot/services/controllers/export/ExportResourceTest.java
  test-files/cmd/glacial/serial/RndServiceOsmApiDbHootApiDbAllDataTypesConflateTest.sh.off
  test-files/cmd/glacial/serial/RndServiceOsmApiDbHootApiDbDcStreetsConflateTest.sh.off
  test-files/cmd/slow/serial/RndServiceNodeDensityTilesCmdTest.sh
  test-files/cmd/slow/serial/RndServiceNodeDensityTilesCmdTest.sh.stdout
Labels: Category: Core, Category: Services, Type: Maintenance

#2882 Overwrite ref tags for Attribute Conflation
  conf/services/conflationAttributeOps.json
Labels: Category: Core, Type: Bug

#2891 Attribute Conflation tag merge fix #1
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  test-files/cases/unifying/highway-2888/Config.conf
  test-files/cases/unifying/highway-2888/Expected.osm
  test-files/cases/unifying/highway-2888/Input1.osm
  test-files/cases/unifying/highway-2888/Input2.osm
  test-files/cases/unifying/highway-2888/README.txt
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
Labels: Category: Algorithms, Type: Bug

#2898 Fix class name typo in MatchFactory::_tempFixDefaults()
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
Labels: Category: Core, Type: Bug
