Repository ngageoint/hootenanny, pull requests merged in 2019-10, with the labels that each got.

#3508 3497 - POI/Polygon runtime performance improvement
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonCache.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/BuildingWayNodeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/info/Version.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-core/src/main/cpp/hoot/core/visitors/IndexElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/MultiaryIngester.cpp
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
Labels: Category: Algorithms, Type: Maintenance

#3512 3502 - Fix orphaned nodes in way simplification
  hoot-core-test/src/test/cpp/hoot/core/algorithms/RdpWayGeneralizerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/perty/PertyMatchScorerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RandomWayGeneralizerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.h
  hoot-core/src/main/cpp/hoot/core/visitors/WayGeneralizeVisitor.cpp
  test-files/algorithms/RdpWayGeneralizerTest/runGeneralizeWayInput1NoInformationNodesTest-out.osm
  test-files/algorithms/RdpWayGeneralizerTest/runGeneralizeWayInput1WithInformationNodesTest-out.osm
  test-files/algorithms/perty/PertyMatchScorerTest/PertyMatchScorerTest-perturbed-out-1.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-1.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-2.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-3.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-4.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-5.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-6.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-7.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-8.osm
  test-files/visitors/RandomWayGeneralizerTest/RandomWayGeneralizerTest-out-9.osm
  test-files/visitors/WayGeneralizeVisitorTest/runBasicTest.osm
Labels: Category: Algorithms, Type: Bug

#3514 Minor logging changes 10/2/19
  docs/commands/tag-distribution.asciidoc
  docs/commands/tag-info.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.h
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  test-files/cmd/slow/TagDistributionCmdTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#3516 Updated test server and error handling.
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-test/src/main/cpp/hoot/test/ProcessPool.cpp
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Category: Core, Category: Test, Priority: Medium, Type: Maintenance, Type: Task

#3521 Fixed inline object creation passed by reference crash in DEBUG mode.
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
Labels: Category: Core, Priority: Medium, Type: Bug, Type: Task

#3522 Fix memory leaks
  hoot-core-test/src/test/cpp/hoot/core/algorithms/BufferedLineSegmentIntersectorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ObjectInputStreamTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#3523 1063 - Robust manual match error checking
  docs/commands/score-matches.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPgCsvWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/ManualMatchValidatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/MapScoringStatusAndRefTagValidatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/CookieCutter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonCache.h
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.h
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/scoring/MapScoringStatusAndRefTagValidator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapScoringStatusAndRefTagValidator.h
  hoot-core/src/main/cpp/hoot/core/scoring/MatchScoringMapPreparer.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-core/src/main/cpp/hoot/core/util/UuidHelper.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementIdToTagValueMapper.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/ops/RandomMapCropper.cpp
  test-files/ScoreMatchRef1.osm
  test-files/ScoreMatchRef2.osm
  test-files/cmd/glacial/ScoreMatchesCmdTest.sh.stdout
  test-files/io/PgCsvWriter/runBasic-relations.pgcsv
  test-files/io/PgCsvWriter/runBasic-ways.pgcsv
  test-files/scoring/MapScoringStatusAndRefTagValidatorTest/has-ref1-tags-only.osm
  test-files/scoring/MapScoringStatusAndRefTagValidatorTest/has-ref2-tags-only.osm
Labels: Category: Core, Type: Bug

#3526 3247 - Remove area geometry from poi=yes in schema
  conf/core/ConfigOptions.asciidoc
  conf/schema/poi.json
  hoot-core-test/src/test/cpp/hoot/core/criterion/AreaCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/criterion/NonBuildingAreaCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/ManualMatchValidatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/BuildingCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-js/src/main/cpp/hoot/js/schema/JsonOsmSchemaLoader.cpp
Labels: Category: Schema, Type: Bug

#3528 Fix the next batch of memory leaks
  hoot-core-test/src/test/cpp/hoot/core/conflate/matching/GreedyConstrainedMatchesTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/matching/OptimalConstrainedMatchesTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/elements/OsmMapTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/MultiPolygonCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RasterComparator.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  hoot-js/src/main/cpp/hoot/js/io/StreamUtilsJs.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryUtilities.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryHierarchicalClusterAlgorithmTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergeCacheTest.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3532 3531 - Make ManualMatchValidator backward compatible with UUID manual match IDs
  conf/core/ConfigOptions.asciidoc
  docs/commands/score-matches.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/language/HootServicesLanguageDetectorClientTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/language/HootServicesTranslatorClientTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/ManualMatchValidatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
Labels: Category: Core, Type: Bug

#3533 Valgrind memory leaks
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3534 3530 - Prevent shared nodes from being removed from roundabouts
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveNodeByEid.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRoundabouts.cpp
Labels: Category: Algorithms, Type: Bug

#3536 Valgrind Memory Leaks - Mergers
  hoot-core-test/src/test/cpp/hoot/core/conflate/matching/GreedyConstrainedMatchesTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/matching/OptimalConstrainedMatchesTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MarkForReviewMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MarkForReviewMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/criterion/TagKeyContainsCriterion.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMergerCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMergerCreator.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergeCache.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergerCreator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergerCreator.h
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3537 HootTest reorganization and memory leak fix.
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.cpp
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3540 Various logging changes to make debugging slow Network alg jobs easier
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.cpp
Labels: Category: Core, Type: Maintenance

#3542 3385 - Add an option to pass unconflatable data through to output for diff conflate
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  test-files/cmd/slow/DiffConflateCmdTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
  test-files/cmd/slow/DiffConflateCmdTest/output-keep-unconflatable.osm
Labels: Category: Algorithms, Type: Feature

#3547 Minor changes as pre-cursor to #3394
  docs/HootenannyDeveloperGuide.asciidoc
  docs/commands/optimize-network-conf.asciidoc
  docs/developer/HootenannyOptimizingNetworkAlgorithmSettings.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.cpp
  test-files/cases/network/conflicts/pap-008/README.txt
Labels: Category: Core, Type: Maintenance

#3558 Turn on hoot:id tag when writer.include.debug.tags=true
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3555 Add 'source' to geojson output from 'generate-alpha-shape' and 'node-density-tiles' commands
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/GenerateAlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityTilesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.h
  hoot-core/src/main/cpp/hoot/core/io/GeoNamesReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapReader.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.h
  test-files/cmd/glacial/RndCropRandomCmdTest/out-tiles.osm
  test-files/cmd/glacial/RndCropRandomCmdTest/out.osm
  test-files/cmd/glacial/RndCropRandomCommandTest.sh
  test-files/cmd/slow/NodeDensityTilesCmdTest.sh
  test-files/cmd/slow/NodeDensityTilesCmdTest/output-cropped.geojson
  test-files/cmd/slow/NodeDensityTilesCmdTest/output-random.geojson
  test-files/cmd/slow/NodeDensityTilesCmdTest/output.geojson
  test-files/cmd/slow/serial/ServiceNodeDensityTilesCmdTest.sh
Labels: Category: Core, Priority: High, Type: Feature, Type: Task

#3566 Joining loses parent way IDs
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/UpdateWayParentVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/UpdateWayParentVisitor.h
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/PowerLineConflateTest/output.osm
Labels: Category: Build, Priority: Medium, Type: Feature, Type: Task

#3569 remove AC UI option that no longer exists
  conf/services/conflationTypes.json
Labels: Category: UI, Type: Maintenance

#3562 Preserve ids 3457
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwaySnapMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonTypeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  test-files/algorithms/wayjoiner/WayJoinerAdvancedConflateExpected.osm
  test-files/algorithms/wayjoiner/WayJoinerConflateExpected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-2/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Expected.osm
  test-files/cases/hoot-js/line-generic-1/Expected.osm
  test-files/cases/network/conflicts/highway-015/Expected.osm
  test-files/cases/network/conflicts/highway-017/Expected.osm
  test-files/cases/network/conflicts/highway-025/Expected.osm
  test-files/cases/network/conflicts/highway-026/Expected.osm
  test-files/cases/network/conflicts/highway-030/Expected.osm
  test-files/cases/network/conflicts/pap-004/Expected.osm
  test-files/cases/network/conflicts/pap-009/Expected.osm
  test-files/cases/network/conflicts/pap-010/Expected.osm
  test-files/cases/roundabouts/rcase-002/Expected.osm
  test-files/cases/roundabouts/rcase-003/Expected.osm
  test-files/cases/unifying/highway-578/Expected.osm
  test-files/cases/unifying/highway-search-radius-1/Expected.osm
  test-files/cmd/glacial/ConflateCmdHighwayExactMatchInputsTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdTest/output.osm
  test-files/cmd/glacial/NonContiguousRoadReviewsTest/output.osm
  test-files/cmd/glacial/NonDestructiveConflationTest.sh.stdout
  test-files/cmd/glacial/NonDestructiveTest/Expected.osm
  test-files/cmd/glacial/PowerLineConflateTest/output.osm
  test-files/cmd/glacial/RubberSheetConflateTest/output.osm
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRoadStrictTest/RndServiceChangesetReplacementRoadStrictTest-xml-replaced.osm
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsGenericRiversTest.sh.stdout
  test-files/cmd/slow/ConflateCmdTest/output.osm
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output2.osm
  test-files/conflate/highway/HighwaySnapMergerTest/runTagsSplitTest.json
Labels: Category: Core, Category: Test, Priority: High, Type: Maintenance, Type: Task

#3574 3570 - Remove lenient date tag matching from HighwayCriterion
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/NodeMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/NodeMatcher.h
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/network/conflicts/pap-004/Expected.osm
  test-files/cases/network/conflicts/pap-004/README.txt
  test-files/cases/network/conflicts/pap-008.off/Expected.osm
  test-files/cases/network/conflicts/pap-008.off/Input1.osm
  test-files/cases/network/conflicts/pap-008.off/Input2.osm
  test-files/cases/network/conflicts/pap-008.off/README.txt
  test-files/cases/network/conflicts/pap-008/README.txt
Labels: Category: Core, Type: Bug

#3577 Add 'source' to geojson output from 'generate-alpha-shape' and 'node-density-tiles' commands
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/info/FormatsDisplayer.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/MultiaryIngester.cpp
  test-files/cmd/slow/NodeDensityTilesCmdTest/output-cropped.geojson
  test-files/cmd/slow/NodeDensityTilesCmdTest/output-random.geojson
  test-files/cmd/slow/NodeDensityTilesCmdTest/output.geojson
  test-files/cmd/slow/serial/ServiceNodeDensityTilesCmdTest.sh
Labels: Category: Core, Priority: Medium, Type: Feature, Type: Task

#3578 3561 - Add --ogr option to info --formats
  docs/commands/info.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/info/FormatsDisplayer.cpp
  hoot-core/src/main/cpp/hoot/core/info/FormatsDisplayer.h
  test-files/cmd/slow/InfoCmdTest.sh
  test-files/cmd/slow/InfoCmdTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#3581 Fix way gen for loop
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.cpp
Labels: Category: Algorithms, Type: Bug
