Repository ngageoint/hootenanny, pull requests merged in 2019-09, with the labels that each got.

#3437 Fix builds
  VagrantProvisionCentOS7.sh
Labels: Category: Build, Priority: Critical, Type: Maintenance, Type: Task

#3448 fix stats file parsing bug in conflate cmd
  conf/core/ConfigOptions.asciidoc
  docs/commands/conflate.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
Labels: Category: Core, Type: Bug

#3475 3443 - Make poi/poly review note more descriptive
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  test-files/cases/unifying/poi-polygon/poi-polygon-2/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-3/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-4/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-10/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-13/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-14/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-3/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-4/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-5/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-6/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-auto-merge-9/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-keep-closest-match-only-10/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-keep-closest-match-only-3/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-keep-closest-match-only-4/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-keep-closest-match-only-5/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-keep-closest-match-only-9/Expected.osm
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
Labels: Category: Core, Type: Maintenance

#3480 Move chaneset stats from INFO to STATUS
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#3479 Fix Hoot Overpass URL reading
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3463 Translation Assistant updates
  test-files/cmd/quick/regexTranslationAssistantTest.sh
  test-files/cmd/quick/regexTranslationAssistantTest.sh.stderr
  test-files/cmd/quick/regexTranslationAssistantTest.sh.stdout
  test-files/translation_assistant/regex-translation.dbf
  test-files/translation_assistant/regex-translation.js
  test-files/translation_assistant/regex-translation.osm
  test-files/translation_assistant/regex-translation.prj
  test-files/translation_assistant/regex-translation.qpj
  test-files/translation_assistant/regex-translation.shp
  test-files/translation_assistant/regex-translation.shx
  translations/test/translation_assistant.js
  translations/translation_assistant.js
Labels: Category: Translation, Priority: Medium, Type: Feature, Type: Task

#3487 Utilities created in preparation for 3446
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/commands/HootCommandLineReference.asciidoc
  docs/commands/changeset-derive-replacement.asciidoc
  docs/commands/crop-random.asciidoc
  docs/commands/crop.asciidoc
  docs/commands/db-delete-map.asciidoc
  docs/commands/db-list-maps.asciidoc
  docs/commands/info.asciidoc
  docs/commands/node-density-tiles.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-cmd/src/main/cpp/hoot/cmd/HelpCmd.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbDeleteMapCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbListMapsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileBoundsCalculator.h
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousWayRemover.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/NodeDensityTilesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/ops/RandomMapCropper.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/ops/RandomMapCropper.h
  hoot-rnd/src/main/cpp/hoot/rnd/util/TileUtils.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/util/TileUtils.h
  scripts/core/ServiceOsmApiDbHootApiDbConflate.sh
  test-files/cmd/glacial/CropRandomCmdTest/out-tiles.osm
  test-files/cmd/glacial/CropRandomCmdTest/out.osm
  test-files/cmd/glacial/RndCropRandomCommandTest.sh
  test-files/cmd/glacial/RndCropRandomCommandTest.sh.stderr
  test-files/cmd/glacial/RndCropRandomCommandTest.sh.stdout
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest.sh
  test-files/cmd/glacial/ServiceDbEmptyTagsTest.sh
  test-files/cmd/glacial/ServiceExportOsm.sh
  test-files/cmd/glacial/serial/RndServiceNodeDensityTilesCmdTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceStreamingApiDbTest.sh
  test-files/cmd/quick/ServicesDbListMapsCmdTest.sh
  test-files/cmd/quick/ServicesDbListMapsCmdTest.sh.stderr
  test-files/cmd/quick/ServicesDbListMapsCmdTest.sh.stdout
  test-files/cmd/slow/InfoCmdTest.sh
  test-files/cmd/slow/InfoCmdTest.sh.stdout
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/ServiceHootApiDbReaderCmdTest.sh
  test-files/ui/Makefile
Labels: Category: Core, Type: Feature, Type: Maintenance

#3494 3446 - Reduce nearby node merging distance to prevent JOSM validation errors with buildings
  conf/core/ConfigOptions.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/MapCropperTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.h
  hoot-core/src/main/cpp/hoot/core/ops/MergeNearbyNodes.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousWayRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousWayRemover.h
  test-files/cmd/quick/dirShpMultiLayerTranslationAssistantTest.sh
  test-files/cmd/slow/Ogr2OsmTranslation.sh
  test-files/cmd/slow/SplitLongWaysTest.sh
  test-files/cmd/slow/eTDSTranslationAssistantTest.sh
  test-files/cmd/slow/fgdbMultiLayerTranslationAssistantTest.sh
  test-files/io/OsmJsonReaderTest/runBoundsLeaveConnectedOobWaysTest.osm
  test-files/io/OsmXmlReaderTest/runBoundsLeaveConnectedOobWaysTest.osm
  test-files/ops/MapCropper/runKeepFeaturesOnlyCompletelyInBoundsTest-2.osm
Labels: Category: Core, Type: Bug

#3496 3486 - Remove building tag from multi-poly relation building members during Attribute Conflation
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  test-files/cases/attribute/unifying/Config.conf
Labels: Category: Core, Type: Maintenance

#3501 Remove db urls from changeset replacement stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersChainedTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementPoiStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementPoiStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest.sh.stdout
Labels: Category: Test, Type: Maintenance

#3500 Fixed --name crash for HootTest
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task
