Repository ngageoint/hootenanny, pull requests merged in 2019-03, with the labels that each got.

#3017 doc updates 3-1-19
  README.md
  docs/user/CommandLineExamples.asciidoc
Labels: Category: Core, Category: Documentation

#3019 Attribute Conflation conf value fixes - 3-1-19
  conf/core/AttributeConflation.conf
  conf/services/conflateAdvOps.json
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  test-files/cases/attribute/unifying/Config.conf
Labels: Category: Core, Category: Services, Type: Bug

#3023 Fixed sonar scanner failure.
  scripts/sonar/sonar-scan.sh
Labels: Category: Build, Category: Core, Priority: Critical, Type: Bug, Type: Task

#3007 ConfigOptions as JSON
  .gitignore
  Makefile.hoot
  scripts/core/CreateConfigAsJSON.py
Labels: Category: Core, Priority: Low, Status: Ready For Review, Type: Feature

#3021 Repeated 'source' and 'attribution' values from WayJoiner
  test-files/cases/network/conflicts/pap-001/Expected.osm
  test-files/cases/network/conflicts/pap-001/Input1.osm
  test-files/cases/network/conflicts/pap-002/Expected.osm
  test-files/cases/network/conflicts/pap-002/Input1.osm
  test-files/cases/network/conflicts/pap-003/Expected.osm
  test-files/cases/network/conflicts/pap-003/Input1.osm
  test-files/cases/network/conflicts/pap-004/Expected.osm
  test-files/cases/network/conflicts/pap-004/Input1.osm
  test-files/cases/network/conflicts/pap-005/Expected.osm
  test-files/cases/network/conflicts/pap-005/Input1.osm
  test-files/cases/network/conflicts/pap-006/Expected.osm
  test-files/cases/network/conflicts/pap-006/Input1.osm
  test-files/cases/network/conflicts/pap-007/Expected.osm
  test-files/cases/network/conflicts/pap-007/Input1.osm
  test-files/cases/network/conflicts/pap-008/Expected.osm
  test-files/cases/network/conflicts/pap-008/Input1.osm
  test-files/cases/network/conflicts/pap-009/Expected.osm
  test-files/cases/network/conflicts/pap-009/Input1.osm
  test-files/cases/network/conflicts/pap-010/Expected.osm
  test-files/cases/network/conflicts/pap-010/Input1.osm
  test-files/cases/roundabouts/rcase-001/Expected.osm
  test-files/cases/roundabouts/rcase-001/Input1.osm
  test-files/cases/roundabouts/rcase-002/Input1.osm
  test-files/cases/roundabouts/rcase-003/Input1.osm
  test-files/cases/unifying/building-5/Expected.osm
  test-files/cases/unifying/building-5/Input1.osm
Labels: Category: Core, Priority: Medium, Type: Bug, Type: Task

#3027 Attribute Conflation building relation fixes
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationAttributeOps.json
  hoot-core-test/src/test/cpp/hoot/core/ops/BuildingOutlineUpdateOpTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/MultiPolygonCreator.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RecursiveElementRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRelationOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRelationOp.h
  hoot-core/src/main/cpp/hoot/core/util/GeometryConverter.cpp
  test-files/cases/attribute/unifying/Config.conf
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Expected.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Input1.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Input2.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/README.txt
Labels: Category: Algorithms, Type: Bug

#3010 Fix bridge=no
  Vagrantfile
  plugins/dnc.js
  plugins/dnc_rules.js
  plugins/ggdm30.js
  plugins/mgcp.js
  plugins/tds40.js
  plugins/tds61.js
  test-files/GGDMv30/GGDMv30.osm
  test-files/MGCPv3/AAL015-output.osm
  test-files/MGCPv3/LAN010-output.osm
  test-files/MGCPv3/LAQ040-output.osm
  test-files/TDSv40/TDSv40.osm
  test-files/TDSv61/TDSv61.osm
  test-files/cmd/slow/GGDMv30TranslationTest.sh.stdout
  test-files/translation/MgcpTranslated.osm
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Bug

#3038 Prevent Attribute Conflation from dropping multipoly building relations in output
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  test-files/cases/attribute/unifying/building-3037-dropped-multipoly-relations-1/Expected.osm
  test-files/cases/attribute/unifying/building-3037-dropped-multipoly-relations-1/Input1.osm
  test-files/cases/attribute/unifying/building-3037-dropped-multipoly-relations-1/Input2.osm
  test-files/cases/attribute/unifying/building-3037-dropped-multipoly-relations-1/README.txt
Labels: Category: Algorithms, Type: Bug

#3042 Throttle OSM API changeset apply speed
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: Critical, Type: Feature, Type: Task

#3050 Roundabout unit tests implode when IDs aren't regenerated
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRoundabouts.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SmallWayMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-test/src/main/cpp/hoot/test/ProcessPool.cpp
  test-files/cases/roundabouts/rcase-003/Expected.osm
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#3051 Prevent auto search radius calc from using unrelated feature types
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementInputStream.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MergeNearbyNodes.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MergeNearbyNodes.h
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/OsmMapOperation.h
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.h
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousWayRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnlikelyIntersectionRemover.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MatchCandidateCountVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MatchCandidateCountVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreaVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveEmptyAreasVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveUnknownVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveUnknownVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ReportMissingElementsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.h
  hoot-rnd/src/test/cpp/hoot/rnd/visitors/MatchCandidateCountVisitorRndTest.cpp
  rules/Area.js
  rules/LineStringGeneric.js
  rules/LineStringGenericTest.js
  rules/LinearWaterway.js
  rules/MultiaryPoiGenericRules.js
  rules/PoiGeneric.js
  rules/PolygonBuilding.js
  rules/PolygonBuildingTest.js
  rules/PolygonGeneric.js
  rules/PowerLine.js
  rules/Railway.js
  rules/lib/HootLib.js
  test-files/cmd/quick/RemoveBuildingsTest.sh
  test-files/cmd/quick/RemoveBuildingsTest.sh.stdout
  test-files/cmd/slow/StatsFileTest.sh.stdout
Labels: Category: Algorithms, Type: Bug

#3057 Swapped the bc program for a funky awk script
  VagrantProvisionCentOS7.sh
  scripts/util/Centos7_only_core.sh
  test-files/cmd/glacial/RndPertyScoreCmdTest.sh
  test-files/cmd/glacial/RndPertyScoreCmdTest.sh.stdout
Labels: Category: Core, Category: Test, Priority: Medium, Status: Ready for Test, Type: Requirement

#3063 3062 to develop
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.h
  hoot-core/src/main/cpp/hoot/core/ops/MergeNearbyNodes.cpp
  translations/SimpleExample.js
  translations/TranslateSchemaDemo.js
  translations/UFD_to_OSM.js
Labels: Category: Core, Type: Bug

#3064 local config update
  LocalConfig.pri.orig
Labels: Category: Build, Type: Maintenance

#3065 Simplified AbiDb::unescapeTags() with QRegularExpression
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
Labels: Category: Core, Type: Maintenance

#3068 Throw error when encountering ways with duplicate ids and clear id maps when reusing reader
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
Labels: Category: Core, Type: Bug, Type: Maintenance

#3046 Added sorting to the tag matching translation functions
  plugins/test/mall_motor_vehicle.js
  plugins/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Task

#3012 Rounded corners 2914
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/CornerSplitterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/CornerSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/CornerSplitter.h
  hoot-hadoop/hoot-hadoop.pro
  hoot-swig/hoot-swig.pro
  test-files/NonDestructiveTest/Expected.osm
  test-files/cases/attribute/unifying/Config.conf
  test-files/cases/attribute/unifying/highway-2888/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-2/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cases/hoot-rnd/network/iterative/highway-012/Expected.osm
  test-files/cases/network/conflicts/highway-012/Expected.osm
  test-files/cases/network/conflicts/highway-017/Expected.osm
  test-files/cases/network/conflicts/pap-001/Expected.osm
  test-files/cases/network/conflicts/pap-002/Expected.osm
  test-files/cases/network/conflicts/pap-004/Expected.osm
  test-files/cases/network/conflicts/pap-005/Expected.osm
  test-files/cases/network/conflicts/pap-008/Expected.osm
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdTest/output.osm
  test-files/cmd/glacial/NonContiguousRoadReviewsTest/output.osm
  test-files/cmd/glacial/NonDestructiveConflationTest.sh.stdout
  test-files/conflate/splitter/CornerSplitterDogLeg.osm
  test-files/conflate/splitter/CornerSplitterDogLegExpected.osm
  test-files/conflate/splitter/CornerSplitterRoundedExpected.osm
Labels: Category: Algorithms, Category: Core, Category: Test, Priority: High, Type: Feature, Type: Task

#3072 Fixed typo in test file names and updated related test files
  hoot-rnd/src/test/cpp/hoot/rnd/schema/ImplicitTagRawRulesDeriverTest.cpp
  test-files/schema/ImplicitTagRawRulesDeriverTest/ImplicitTagRawRulesDeriverTest-runBasicTest.implicitTagRules
  test-files/schema/ImplicitTagRawRulesDeriverTest/ImplicitTagRawRulesDeriverTest-runTranslateNamesFalsePoiTest.implicitTagRules
Labels: Category: Test, Type: Bug

#3020 Investigate replacing database ID type 'bigserial' with 'bigint' allowing negatives
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.cpp
  hoot-services/src/main/java/hoot/services/controllers/osm/changeset/ChangesetErrorChecker.java
  hoot-services/src/main/java/hoot/services/models/osm/Way.java
  hoot-services/src/main/resources/db/changelogs/024-NegativeIds.xml
  test-files/cmd/glacial/RndNodeDensityTilesCmdTest/output-cropped.geojson
  test-files/cmd/glacial/serial/ServiceStreamingApiDbTest.sh
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output2.osm
  test-files/cmd/slow/ServiceHootApiDbReaderTest/output1.osm
  test-files/cmd/slow/ServiceHootApiDbReaderTest/output2.osm
  test-files/ui/features/highlight_and_edit_features.feature
  test-files/ui/features/step_definitions/custom_steps.rb
Labels: Category: Core, Category: Documentation, Category: Install, Category: Schema, Category: Services, Category: Test, Category: UI, Priority: High, Type: Maintenance, Type: Requirement, Type: Task

#3077 compareRecords consolidation, IncludeCircularErrorTags support in OgrWriter
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
Labels: Category: Core, Type: Maintenance

#3084 Turn on debugging tags with 'debug.maps.write' setting
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
Labels: Category: Core, Category: Test, Priority: Medium, Type: Maintenance, Type: Task

#3083 Move hardcoded Network alg params to config opts
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/DebugNetworkMapCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/DebugNetworkMapCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/IterativeNetworkMatcher.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/SingleSidedNetworkMatcher.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/VagabondNetworkMatcher.h
  hoot-rnd/src/main/cpp/hoot/rnd/visitors/RemoveRef2Visitor.cpp
Labels: Category: Core, Type: Maintenance

#3085 Removed the 'rule of five' check from SonarQube as we are not using it.
  sonar-project.properties
Labels: Category: Test, Priority: Low, Type: Task

#3045 Stop amenity tags making buildings
  plugins/dnc.js
  plugins/ggdm30.js
  plugins/mgcp.js
  plugins/tds40.js
  plugins/tds61.js
  plugins/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug
