Repository ngageoint/hootenanny, pull requests merged in 2019-07, with the labels that each got.

#3321 JOSM cannot read some Hootenanny output well
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  test-files/io/OsmXmlWriterTest/runChangesetIdTest.osm
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3325 Handle POI/Poly merging when a poly has previously been merged
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ElementMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ElementMergerJs.h
  hoot-js/src/test/cpp/hoot/js/conflate/merging/ElementMergerJsTest.cpp
  scripts/core/MergeElements.js
Labels: Category: Algorithms, Type: Bug

#3328 Ensure specific types are not lost when merging features during review after POI/Polygon Conflation
  README.md
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  conf/services/conflateAdvOps.json
  docs/algorithms/AttributeConflation.asciidoc
  docs/algorithms/PoiToPolygonConflation.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/PreserveTypesTagMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/schema/GeneralizeTagMerger.h
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.h
  hoot-js/src/test/cpp/hoot/js/conflate/merging/ElementMergerJsTest.cpp
  scripts/core/MergeElements.js
  test-files/cases/unifying/poi-polygon/Config.conf
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest.sh
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest.sh
  test-files/js/conflate/ElementMergerJsTest/area-two-ways-conflated-in.osm
  test-files/js/conflate/ElementMergerJsTest/building-two-ways-conflated-in.osm
  test-files/js/conflate/ElementMergerJsTest/poi-poly-way-poly-conflated-1-in.osm
  test-files/js/conflate/ElementMergerJsTest/poi-poly-way-poly-conflated-2-in.osm
  test-files/js/conflate/ElementMergerJsTest/poi-two-conflated-in.osm
  translations/ElementMergeServer.js
Labels: Category: Core, Type: Bug

#3326 The crop command not passing in the -D crop.* options to the MapCropper
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#3338 Conflated building output JOSM validation error fixes
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  hoot-core-test/src/test/cpp/hoot/core/ops/BuildingOutlineUpdateOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/test/ConflateCaseTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/test/ConflateCaseTest.h
  hoot-core-test/src/test/cpp/hoot/core/test/ConflateCaseTestSuite.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchConflicts.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineRemoveOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineRemoveOp.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/util/ConfigUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/ConfigUtils.h
  hoot-core/src/main/cpp/hoot/core/visitors/ReportMissingElementsVisitor.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ScoreMatchesCmd.cpp
  hoot-test/src/main/cpp/hoot/test/ScriptTest.h
  hoot-test/src/main/cpp/hoot/test/ScriptTestSuite.cpp
  hoot-test/src/main/cpp/hoot/test/ScriptTestSuite.h
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Expected.osm
  test-files/cases/attribute/unifying/building-3136-many-to-many-auto-merge-1/Expected.osm
  test-files/cases/attribute/unifying/building-3136-many-to-many-auto-merge-1/README.txt
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/Expected.osm
  test-files/cases/attribute/unifying/building-3323-height-tag-preservation-1/Expected.osm
  test-files/cases/attribute/unifying/building-3323-height-tag-preservation-1/Input1.osm
  test-files/cases/attribute/unifying/building-3323-height-tag-preservation-1/Input2.osm
  test-files/cases/attribute/unifying/building-3323-height-tag-preservation-1/README.txt
  test-files/cases/differential/Config.conf
  test-files/cases/differential/building-3323-relation-roles-1/Expected.osm
  test-files/cases/differential/building-3323-relation-roles-1/Input1.osm
  test-files/cases/differential/building-3323-relation-roles-1/Input2.osm
  test-files/cases/differential/building-3323-relation-roles-1/README.txt
  test-files/cases/unifying/building-5/Expected.osm
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
  test-files/cmd/glacial/RndScoreMatchesCmdTest.sh
  test-files/cmd/quick/BuildingOutlineUpdateOpTest.sh
  test-files/cmd/quick/BuildingOutlineUpdateOpTest.sh.stderr
  test-files/cmd/quick/BuildingOutlineUpdateOpTest.sh.stdout
  test-files/cmd/quick/RemoveBuildingsTest.sh.stdout
  test-files/cmd/slow/AreaConflateStandaloneTest/output1.osm
  test-files/ops/BuildingOutlineUpdateOp/UncleanableTopologiesOut.osm
Labels: Category: Algorithms, Category: Core, Type: Bug

#3332 Hootbot fix endless retries
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  test-files/io/OsmChangesetElementTest/ToyTestAConflicts.osc
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#3347 Finish implementation for changeset.allow.deleting.reference.features option
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ChangesetDeriverTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.h
  test-files/algorithms/changeset/ChangesetDeriverTest/disableRefDeleteTest-in-1.osm
  test-files/algorithms/changeset/ChangesetDeriverTest/disableRefDeleteTest-in-2.osm
Labels: Category: Algorithms, Type: Bug
