Repository ngageoint/hootenanny, pull requests merged in 2019-05, with the labels that each got.

#3159 Add option to keep ref to Diff Conflate
  README.md
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  docs/commands/multiary-score-poi-matches.asciidoc
  docs/developer/HootenannyManualConflation.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/ops/SearchRadiusCalculatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/Hoot.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BaseCommand.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.h
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.h
  hoot-core/src/main/cpp/hoot/core/ops/UnionPolygonsOp.h
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.cpp
  hoot-js/src/test/cpp/hoot/js/conflate/matching/ScriptMatchTest.cpp
  test-files/cmd/slow/DiffConflateCmdTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
  test-files/cmd/slow/DiffConflateCmdTest/input1.osm
  test-files/cmd/slow/DiffConflateCmdTest/input2.osm
  test-files/cmd/slow/DiffConflateCmdTest/input3.osm
  test-files/cmd/slow/DiffConflateCmdTest/input4.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-output.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-with-ref-output.osm
  test-files/ops/SearchRadiusCalculatorTest/Haiti_CNIGS_Rivers_REF1-cropped-2.osm
  test-files/ops/SearchRadiusCalculatorTest/Haiti_osm_waterway_ss_REF2-cropped-2.osm
  test-files/ui/Makefile
  tgs/src/main/cpp/tgs/RStarTree/RTreeNodeStore.h
Labels: Category: Algorithms, Type: Feature

#3161 Prevent geojson reader from reading from overpass json urls
  conf/core/ConfigOptions.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
Labels: Category: Core, Type: Bug

#3152 Config option to filter all log output by originating class name
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.cpp
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.h
Labels: Category: Core

#3165 Fix for JSON parsing issue when big ints are embedded in value string
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
Labels: Category: Core, Type: Bug

#3142 Default value for search.radius.railway config opt should probably be ${search.radius.default}
  conf/core/ConfigOptions.asciidoc
Labels: Category: Core, Priority: Low, Status: Defined, Type: Maintenance

#3148 Initial fix for Makefile targets
  Makefile.hoot
  scripts/core/CreateConfigAsJSON.py
  scripts/services/CreateConflationTypeGroups.py
Labels: Category: Build, Category: Core, Priority: Medium, Type: Maintenance

#3174 Remove log4cxx from build
  Configure.pri.in
  conf/core/ConfigOptions.asciidoc
  configure.ac
  docs/developer/HootenannyNotesOnConfigure.asciidoc
  hoot-core/hoot-core.pro
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/LogLog4Cxx.cpp
  hoot-core/src/main/cpp/hoot/core/util/LogLog4Cxx.h
  m4/log4cxx.m4
  scripts/TestConfigure.sh
Labels: Category: Core, Type: Maintenance

#3179 Fix build race condition
  Makefile.hoot
  scripts/database/SetupOsmApiDB.sh
Labels: Category: Build, Priority: Critical, Type: Bug

#3186 Add option for allowing POI/Poly cross conflation
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/RfExtractorClassifier.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MarkForReviewMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingRfClassifier.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingRfClassifier.h
  hoot-core/src/main/cpp/hoot/core/criterion/poi-polygon/PoiPolygonPoiCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/poi-polygon/PoiPolygonPolyCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.h
  test-files/cases/attribute/unifying/building-3166-cross-conflation-merge-1/Expected.osm
  test-files/cases/attribute/unifying/building-3166-cross-conflation-merge-1/Input1.osm
  test-files/cases/attribute/unifying/building-3166-cross-conflation-merge-1/Input2.osm
  test-files/cases/attribute/unifying/building-3166-cross-conflation-merge-1/README.txt
  test-files/ops/BuildingPartMergeOp/runPreserveTypesTestOut.osm
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.h
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.cpp
Labels: Category: Algorithms, Type: Feature

#3189 Reformat tag-distribution command output
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.h
  test-files/cmd/slow/TagDistributionCmdTest.sh.stdout
Labels: Category: Core, Category: Documentation, Type: Maintenance

#3201 Renamed a file
  translations/DNC.js
  translations/dnc_core.js
Labels: Category: Core, Category: Translation, Priority: High, Type: Maintenance

#3197 PreserveTypesTagMerger test and fixes; other cleanup
  Makefile.hoot
  README.md
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/metric-hybrid/FqTreeTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/metric-hybrid/RTreeTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/BuildingPartMergeOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/OverwriteTagMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/PreserveTypesTagMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RecursiveElementRemover.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.h
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ElementIdSetVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/GetTagValuesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/UniqueElementIdVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/UniqueElementIdVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/UniqueTagValuesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/UniqueTagValuesVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ElementMergerJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryUtilities.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparator.cpp
  test-files/cases/attribute/unifying/building-3136-many-to-many-auto-merge-1/Expected.osm
  test-files/cases/attribute/unifying/building-3166-cross-conflation-merge-1/Expected.osm
  test-files/ops/BuildingPartMergeOp/runPreserveTypesTestOut.osm
Labels: Category: Algorithms, Category: Test, Type: Bug

#3204 More file renaming
  translations/GIFD_D4.js
  translations/GeoNames.js
  translations/geonames_core.js
  translations/gifd_d4_core.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Maintenance

#3202 Add option to force building match when one building is contained within the other and marked for review
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  conf/services/conflationAttributeOps.json
  docs/algorithms/AttributeConflation.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/Expected.osm
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/Input1.osm
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/Input2.osm
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/README.txt
Labels: Category: Algorithms, Type: Bug

#3208 Expose building match threshold in UI
  conf/core/AttributeConflation.conf
  conf/services/conflateAdvOps.json
  conf/services/conflationAttributeOps.json
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/BufferedOverlapExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/OverlapExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SmallerOverlapExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/RfExtractorClassifier.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/util/CollectionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/CollectionUtils.h
Labels: Category: Core, Category: UI, Type: Task

#3210 Fix bug where UFD buildings with ref overlap where being returned in conflate diff output
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/BuildingCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NonConflatableElementRemover.cpp
Labels: Category: Algorithms, Type: Bug

#3212 Refactor way joiners
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationAttributeOps.json
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayJoinerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerBasic.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerBasic.h
  test-files/algorithms/wayjoiner/WayJoinerAdvancedConflateExpected.osm
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#3206 Investigate Jenkins test time vs cost
  Vagrantfile
Labels: Category: Test, Priority: Medium, Type: Task

#3222 More UFD
  translations/UFD_to_OSM.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Bug, Type: Maintenance

#3225 Bounds reading code consolidation
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/MapCropperTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.h
Labels: Category: Core, Type: Maintenance

#3231 Re-enable LocationOfPointTest
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/LocationOfPointTest.cpp
Labels: Category: Core, Category: Test, Type: Maintenance

#3221 Remove HGIS category from schema
  CONTRIBUTING.md
  LocalConfig.pri.orig
  README.md
  conf/schema/abandoned.json
  conf/schema/aeroway.json
  conf/schema/amenity.json
  conf/schema/barrier.json
  conf/schema/bridge.json
  conf/schema/building.json
  conf/schema/building_place_of_worship.json
  conf/schema/cemetery.json
  conf/schema/facility.json
  conf/schema/hgis.json
  conf/schema/hgispoi.json
  conf/schema/highway.json
  conf/schema/historic.json
  conf/schema/industrial.json
  conf/schema/junction.json
  conf/schema/landuse.json
  conf/schema/leisure.json
  conf/schema/man_made.json
  conf/schema/military.json
  conf/schema/mountain_pass.json
  conf/schema/natural.json
  conf/schema/office.json
  conf/schema/place.json
  conf/schema/public_transport.json
  conf/schema/railway.json
  conf/schema/schema.json
  conf/schema/seamark.json
  conf/schema/shop.json
  conf/schema/station.json
  conf/schema/tourism.json
  conf/schema/transport.json
  conf/schema/tunnel.json
  conf/schema/waterway.json
  docs/JavascriptOverview.asciidoc
  docs/user/LocatePhoneNumbers.asciidoc
  docs/user/PostalAddressUtilities.asciidoc
  docs/user/SchemaFiles.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/OsmSchemaTest.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HgisPoiCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HgisPoiCriterion.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.cpp
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.h
  scripts/services/RemoveNonHgisPois.js
  test-files/cmd/quick/RemoveNonHgisPoisTest.sh
  test-files/cmd/quick/RemoveNonHgisPoisTest.sh.stderr
  test-files/cmd/quick/RemoveNonHgisPoisTest.sh.stdout
Labels: Category: Schema, Type: Maintenance

#3215 Check for and remove duplicated ways in BuildingOutlineUpdateOp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Expected.osm
  test-files/cases/attribute/unifying/building-3136-many-to-many-auto-merge-1/Expected.osm
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/Expected.osm
  test-files/cases/unifying/building-5/Expected.osm
  test-files/cases/unifying/poi-polygon/poi-polygon-6/Expected.osm
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
  test-files/cmd/glacial/RndScoreMatchesCmdTest.sh.stdout
  test-files/cmd/quick/BuildingOutlineUpdateOpTest.sh
  test-files/cmd/quick/BuildingOutlineUpdateOpTest.sh.stderr
  test-files/cmd/quick/BuildingOutlineUpdateOpTest.sh.stdout
  test-files/cmd/quick/BuildingOutlineUpdateOpTest/BuildingOutlineUpdateOpTest.osm
  test-files/cmd/slow/AreaConflateStandaloneTest/output1.osm
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyBuildingsTest.sh.stdout
  test-files/cmd/slow/ConflateCmdTest/output.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
  test-files/ops/BuildingOutlineUpdateOp/SelfIntersectingRelationsOut.osm
  test-files/ops/BuildingOutlineUpdateOp/UncleanableTopologiesOut.osm
Labels: Category: Algorithms, Priority: Medium, Type: Bug

#3238 Implement `writer.include.circular.error.tags` for shapefile writer
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#3226 Tweaked the VM provisioning
  VagrantProvisionCentOS7.sh
  Vagrantfile
Labels: Category: Build, Category: Core, Priority: Low, Status: Ready For Review, Type: Maintenance, Type: Task

#3257 Add inline conversion opts to changeset-derive command
  docs/commands/changeset-derive.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/AddAttributesVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DeriveChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ExternalMergeElementSorter.cpp
  hoot-core/src/main/cpp/hoot/core/elements/InMemoryElementSorter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveWayOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/CalculateHashVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ReplaceTagVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ReportMissingElementsVisitor.h
  test-files/cmd/slow/DeriveChangesetCmdTest.sh
  test-files/cmd/slow/DeriveChangesetCmdTest/changeset-3.osc
  test-files/cmd/slow/DeriveChangesetCmdTest/changeset-4.osc
Labels: Category: Core, Type: Feature
