Repository ngageoint/hootenanny, pull requests merged in 2019-02, with the labels that each got.

#2907 Re-enable unit test
  scripts/core/ServiceOsmApiDbHootApiDbConflate.sh
  test-files/cmd/glacial/serial/RndServiceNodeDensityTilesCmdTest.sh
Labels: Category: Core, Category: Test, Priority: Medium, Type: Maintenance, Type: Task

#2925 Hook tag only merger up to Network Roads alg
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  test-files/cases/network/conflicts/highway-2888-network/Config.conf
  test-files/cases/network/conflicts/highway-2888-network/Expected.osm
  test-files/cases/network/conflicts/highway-2888-network/Input1.osm
  test-files/cases/network/conflicts/highway-2888-network/Input2.osm
  test-files/cases/network/conflicts/highway-2888-network/README.txt
Labels: Category: Algorithms, Type: Feature

#2923 Remove matching runtime performance bottleneck from the Network roads conflation alg
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/CornerSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeString.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/IndexedEdgeMatchSet.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/IndexedEdgeMatchSet.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetwork.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/PartialNetworkMerger.cpp
  test-files/NonDestructiveTest/Expected.osm
  test-files/cases/network/conflicts/highway-012/Expected.osm
  test-files/cases/network/conflicts/highway-022/Expected.osm
  test-files/cases/network/conflicts/highway-025/Expected.osm
  test-files/cases/network/conflicts/highway-026/Expected.osm
  test-files/cases/network/conflicts/highway-028/Expected.osm
  test-files/cases/network/conflicts/pap-002/Expected.osm
  test-files/cases/network/conflicts/pap-003/Expected.osm
  test-files/cases/network/conflicts/pap-004/Expected.osm
  test-files/cases/network/conflicts/pap-005/Expected.osm
  test-files/cases/network/conflicts/pap-008/Expected.osm
  test-files/cases/network/conflicts/pap-009/Expected.osm
  test-files/cases/roundabouts/rcase-002/Expected.osm
  test-files/cases/roundabouts/rcase-003/Expected.osm
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdTest/output.osm
  test-files/cmd/glacial/NonContiguousRoadReviewsTest/output.osm
  test-files/cmd/glacial/NonDestructiveConflationTest.sh.stdout
Labels: Category: Algorithms, Type: Maintenance

#2924 Sonar qube fixes
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/NodeDensityTilesCmd.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Maintenance, Type: Task

#2926 More conflict resolution
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Algorithms, Category: Core, Category: Test, Priority: High, Type: Feature, Type: Maintenance, Type: Task

#2945 Small fixes for UFD
  plugins/gifd_d4_rules.js
  translations/UFD_to_OSM.js
  translations/UFD_to_Osm.js
Labels: Category: Core, Category: Translation, Status: Ready for Test, Type: Bug

#2954 Attribute Conflation fixes
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/DirectionFinder.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/DirectionFinder.h
  hoot-core/src/main/cpp/hoot/core/algorithms/ProbabilityOfMatch.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayHeading.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SampledAngleHistogramExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SampledAngleHistogramExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerAbstract.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerBase.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NoInformationCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NotCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NotCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/OneWayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/OneWayCriterion.h
  hoot-core/src/main/cpp/hoot/core/ops/UnlikelyIntersectionRemover.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreaVisitor.cpp
  test-files/cases/network/conflicts/highway-2888-network/Expected.osm
  test-files/cases/unifying/highway-2888/Expected.osm
  test-files/cases/unifying/highway-2888/with-original-joiner.conf
Labels: Category: Algorithms, Type: Bug

#2966 Cleanup of logic from previous 2927 PR
  conf/services/conflateAdvOps.json
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
Labels: Category: Core, Type: Maintenance

#2969 Attribute Conflation: Prevent single roads with multiple types from having some type tags overwritten
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RecursiveElementRemover.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateRelationMembersVisitor.cpp
  test-files/cases/network/conflicts/highway-attribute-2888/Expected.osm
  test-files/cases/unifying/highway-attribute-2888/Expected.osm
  test-files/cases/unifying/highway-attribute-2927-bridge-1/Expected.osm
  test-files/cases/unifying/highway-attribute-2927-multiple-types-1/Config.conf
  test-files/cases/unifying/highway-attribute-2927-multiple-types-1/Expected.osm
  test-files/cases/unifying/highway-attribute-2927-multiple-types-1/Input1.osm
  test-files/cases/unifying/highway-attribute-2927-multiple-types-1/Input2.osm
  test-files/cases/unifying/highway-attribute-2927-multiple-types-1/README.txt
Labels: Category: Algorithms, Type: Bug

#2971 Fix Name/Alt name swap for Attribute Conflation
  conf/core/Attribute.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationAttributeOps.json
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNameRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNameRemover.h
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  test-files/cases/attribute/unifying/Config.conf
  test-files/cases/attribute/unifying/highway-2888/Expected.osm
  test-files/cases/attribute/unifying/highway-2888/Input1.osm
  test-files/cases/attribute/unifying/highway-2888/Input2.osm
  test-files/cases/attribute/unifying/highway-2888/README.txt
  test-files/cases/attribute/unifying/highway-2888/with-original-joiner.conf
  test-files/cases/attribute/unifying/highway-2888/with-reviews.conf
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Input1.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Input2.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/README.txt
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/Input1.osm
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/Input2.osm
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/README.txt
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/Input1.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/Input2.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/README.txt
  test-files/cases/network/conflicts/highway-attribute-2888/Config.conf
  test-files/cases/network/conflicts/highway-attribute-2888/Expected.osm
  test-files/cases/network/conflicts/highway-attribute-2888/Input1.osm
  test-files/cases/network/conflicts/highway-attribute-2888/Input2.osm
  test-files/cases/network/conflicts/highway-attribute-2888/README.txt
  test-files/cases/unifying/highway-attribute-2927-bridge-1/Config.conf
  test-files/cases/unifying/highway-attribute-2927-multiple-types-1/Config.conf
Labels: Category: Algorithms, Type: Bug

#2975 Handle conflation generated multilinestring relations correctly in Attribute Conflation
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/WayStringTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwaySnapMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineMatchString.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/ImpliedDividedMarker.h
  hoot-core/src/main/cpp/hoot/core/criterion/OneWayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidRelationVisitor.cpp
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Input1.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Input2.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/README.txt
  test-files/cases/attribute/unifying/with-reviews.conf
Labels: Category: Algorithms, Type: Bug

#2979 More aggressive post-conflation road joining for Attribute Conflation
  conf/core/Attribute.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationAttributeOps.json
  hoot-core/src/main/cpp/hoot/core/algorithms/DirectionFinder.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.h
  hoot-core/src/main/cpp/hoot/core/conflate/NodeToWayMap.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementListener.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  test-files/cases/attribute/unifying/Config.conf
  test-files/cases/attribute/unifying/highway-2888/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/Input1.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/Input2.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/README.txt
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Expected.osm
  test-files/cases/attribute/unifying/with-reviews.conf
Labels: Category: Algorithms, Type: Feature

#2984 Convert way by bounds remover to an op
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/DualWaySplitter.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/ImpliedDividedMarker.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/ReplaceRoundabouts.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/SmallWayMerger.h
  hoot-core/src/main/cpp/hoot/core/info/OperationStatusInfo.h
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineRemoveOp.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNameRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateWayRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/NoInformationElementRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/RelationCircularRefRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveDuplicateReviewsOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveEmptyRelationsOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveWaysByBoundsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveWaysByBoundsOp.h
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousWayRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/UnlikelyIntersectionRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/WayJoinerOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/OneWayRoadStandardizer.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreaVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateRelationMembersVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateWayNodesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveEmptyAreasVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidMultilineStringMembersVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidRelationVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidReviewRelationsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveMissingElementsVisitor.h
Labels: Category: Core, Type: Maintenance

#2981 Root dir file cleanup - 2/21/19
  AUTHORS
  COPYING
  ChangeLog
  ChangeLog.md
  GPLv3
  INSTALL
  Makefile.am
  README
  README.md
  RebuildServices
  docs/developer/CONTRIBUTING.md
  docs/developer/OAUTH.md
  docs/user/VAGRANT.md
  patches.txt
  reports/README.txt
  scripts/copyright/LicenseTemplate.txt
  scripts/copyright/UpdateDirCopyrightHeaders.sh
  scripts/docker/DockerBuild_HootCore.txt
  scripts/vagrant/VagrantProvisionUbuntu1604.sh.old
  test-files/cases/attribute/unifying/highway-2888/with-original-joiner.conf
  test-files/cases/attribute/unifying/highway-2888/with-reviews.conf
Labels: Category: Core, Type: Task

#2991 Prevent roads with differing types from being merged during Attribute Conflation
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/NodeReplacements.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Expected.osm
Labels: Category: Algorithms, Type: Bug

#2970 DNC Validation
  conf/schema/railway.json
  conf/schema/seamark.json
  conf/schema/waterway.json
  hoot-services/src/main/java/hoot/services/controllers/export/ExportCommand.java
  node-export-server/config.json
  node-export-server/server.js
  plugins/dnc.js
  plugins/dnc_rules.js
  plugins/dnc_schema.js
  plugins/fcode_common.js
  plugins/ggdm30_rules.js
  plugins/gifd_d4_rules.js
  translations/DNC.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Task

#2995 Follow up to failing develop build in sorting code
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRawRulesDeriver.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRulesDatabaseDeriver.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance

#3005 Add option to return a subset of reviews to Attribute Conflation
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/services/conflateAdvOps.json
  conf/services/conflationAttributeOps.json
  hoot-core-test/src/test/cpp/hoot/core/criterion/ReviewScoreCriterionTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MarkForReviewMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ReviewScoreCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ReviewScoreCriterion.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveUnknownVisitor.h
  test-files/cases/attribute/unifying/Config.conf
  test-files/cmd/slow/InfoCmdTest.sh.stdout
Labels: Category: Algorithms, Type: Feature

#3014 Documentation updates - 2/28/19
  README.md
  docs/HootenannyAlgorithms.asciidoc
  docs/HootenannyUserGuide.asciidoc
  docs/algorithms/AttributeConflation.asciidoc
  docs/algorithms/ImplicitTypeTagging.asciidoc
  docs/algorithms/RubberSheeting.asciidoc
  docs/algorithms/UnifyingConflation.asciidoc
  docs/commands/build-model.asciidoc
  docs/commands/changeset-apply.asciidoc
  docs/commands/changeset-derive.asciidoc
  docs/commands/clean.asciidoc
  docs/commands/compare.asciidoc
  docs/commands/conflate.asciidoc
  docs/commands/convert.asciidoc
  docs/commands/cookie-cut.asciidoc
  docs/commands/count.asciidoc
  docs/commands/delete-db-map.asciidoc
  docs/commands/diff.asciidoc
  docs/commands/evaluate-point-moves.asciidoc
  docs/commands/extent.asciidoc
  docs/commands/generate-alpha-shape.asciidoc
  docs/commands/help.asciidoc
  docs/commands/info.asciidoc
  docs/commands/is-sorted.asciidoc
  docs/commands/login.asciidoc
  docs/commands/logout.asciidoc
  docs/commands/multiary-poi-conflate.asciidoc
  docs/commands/multiary-poi-ingest.asciidoc
  docs/commands/multiary-score-poi-matches.asciidoc
  docs/commands/node-density-plot.asciidoc
  docs/commands/node-density-tiles.asciidoc
  docs/commands/optimize-network-conf.asciidoc
  docs/commands/perty.asciidoc
  docs/commands/rubber-sheet.asciidoc
  docs/commands/schema.asciidoc
  docs/commands/score-matches.asciidoc
  docs/commands/stat.asciidoc
  docs/commands/stats.asciidoc
  docs/commands/tag-compare.asciidoc
  docs/commands/tag-distribution.asciidoc
  docs/commands/tag-info.asciidoc
  docs/commands/type-tagger-rules.asciidoc
  docs/commands/version.asciidoc
  docs/commands/write-name-counts.asciidoc
  docs/developer/HootenannyImplicitTagDatabaseGeneration.asciidoc
  docs/developer/HootenannyManualMultiaryConflation.asciidoc
  docs/developer/HootenannyRegenerateUnifyingRandomForestModels.asciidoc
  docs/developer/HootenannyTests.asciidoc
  docs/user/CommandLineExamples.asciidoc
  docs/user/IdentifyRoadIntersections.asciidoc
  docs/user/ImplicitTypeTagging.asciidoc
  docs/user/Introduction.asciidoc
  docs/user/LocatePhoneNumbers.asciidoc
  docs/user/OldDocs.asciidoc
  docs/user/SchemaFiles.asciidoc
  docs/user/TagExploration.asciidoc
Labels: Category: Algorithms, Category: Core, Category: Documentation
