Repository ngageoint/hootenanny, pull requests merged in 2019-04, with the labels that each got.

#3089 Investigate adding corner splitter to default cleaning ops
  conf/core/ConfigOptions.asciidoc
  conf/core/NetworkAlgorithm.conf
  hoot-core-test/src/test/cpp/hoot/core/conflate/network/OsmNetworkExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveElementsVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner1.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/CornerSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayIntersectionCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayNodeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/info/CreatorDescription.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SmallWayMerger.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RasterComparator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FindHighwayIntersectionsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/KeepHighwaysVisitor.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/IterativeNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/SingleSidedNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/VagabondNetworkMatcherTest.cpp
  test-files/NonDestructiveTest/Expected.osm
  test-files/algorithms/wayjoiner/WayJoinerConflateExpected.osm
  test-files/cases/hoot-js/line-generic-1/Config.conf
  test-files/cases/hoot-js/line-generic-1/Expected.osm
  test-files/cases/network/conflicts/highway-015/Expected.osm
  test-files/cases/network/conflicts/highway-017/Expected.osm
  test-files/cases/network/conflicts/highway-022/Expected.osm
  test-files/cases/network/conflicts/highway-025/Expected.osm
  test-files/cases/network/conflicts/highway-026/Expected.osm
  test-files/cases/network/conflicts/highway-030/Expected.osm
  test-files/cases/network/conflicts/pap-003/Expected.osm
  test-files/cases/network/conflicts/pap-004/Expected.osm
  test-files/cases/network/conflicts/pap-007/Expected.osm
  test-files/cases/network/conflicts/pap-009/Expected.osm
  test-files/cases/network/conflicts/pap-010/Expected.osm
  test-files/cases/roundabouts/rcase-002/Expected.osm
  test-files/cases/roundabouts/rcase-003/Expected.osm
  test-files/cmd/glacial/ConflateCmdHighwayExactMatchInputsTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdTest/output.osm
  test-files/cmd/glacial/NonContiguousRoadReviewsTest/output.osm
  test-files/cmd/glacial/NonDestructiveConflationTest.sh.stdout
  test-files/cmd/glacial/PowerLineConflateTest/output.osm
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyTest.sh.stdout
  test-files/cmd/slow/ConflateCmdTest.sh.stdout
  test-files/cmd/slow/ConflateCmdTest/output.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh.stdout
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output2.osm
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#3091 Tweak the UFD translator
  conf/schema/natural.json
  plugins/fcode_common.js
  plugins/ggdm30_rules.js
  plugins/mgcp.js
  plugins/mgcp_rules.js
  plugins/tds40_rules.js
  plugins/tds61.js
  plugins/tds61_rules.js
  translations/UFD_to_OSM.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: In Progress, Type: Bug, in progress

#3112 Remove auto-disabling of rubber sheeting when using Unify roads alg from UI
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
Labels: Category: Core, Type: Bug

#3104 Fix for the Qt warning during vagrant provisioning
  configure.ac
Labels: Category: Core, Type: Maintenance

#3101 Use of AddExportTagsVisitor in OsmXmlWriter
  Vagrantfile
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/IntersectionSplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/tile/TileBoundsCalculatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/elements/RelationTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlChangesetFileWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/DuplicateWayRemoverTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Status.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Status.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/MultiaryIngestChangesetWriter.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/SparkChangesetWriter.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/SparkJsonWriter.h
  hoot-rnd/src/main/cpp/hoot/rnd/visitors/AddExportTagsVisitor.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/perty/PertyWaySplitVisitorTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/perty/RdpWayGeneralizerTest.cpp
  test-files/cmd/quick/ConflateTagFilterTest.sh
  test-files/io/MultiaryIngestChangesetWriterTest/changeset-1.spark.1
  test-files/io/MultiaryIngestChangesetWriterTest/changeset-2.spark.1
Labels: Category: Core, Type: Maintenance

#3118 CircleCI Image Updates
  .circleci/config.yml
Labels: Category: Build, Category: Test

#3122 Use Pre-provisioned Box in Testing Again
  scripts/jenkins/Jenkinsfile
Labels: Category: Build, Category: Test

#3108 Move Postgresql configuration and DB creation into scripts
  VagrantProvisionCentOS7.sh
  scripts/database/CleanOsmApiDB.sh
  scripts/database/ConfigurePostgresql.sh
  scripts/database/SetupHootDb.sh
  scripts/database/SetupOsmApiDB.sh
Labels: Category: Core, Category: Install, Category: Services, Priority: Medium, Status: Ready for Test, Type: Maintenance

#3116 Geometry Modifier Op and Actions
  conf/core/ConfigOptions.asciidoc
  conf/core/GeometryModifierRules.json
  conf/core/Testing.conf
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/elements/WayData.h
  hoot-core/src/main/cpp/hoot/core/ops/GeometryModifierOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/GeometryModifierOp.h
  hoot-core/src/main/cpp/hoot/core/util/CoordinateExt.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/CollapsePolyGeoModifierAction.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/CollapsePolyGeoModifierAction.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/GeometryModifierAction.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/GeometryModifierVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/GeometryModifierVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/WayToIntersectionGeoModifier.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/WayToIntersectionGeoModifier.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/WayToPolyGeoModifierAction.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/WayToPolyGeoModifierAction.h
  test-files/cmd/quick/GeoModifierTest/GeoModifierTestIn.osm
  test-files/cmd/quick/GeoModifierTest/GeoModifierTestOut.osm
  test-files/cmd/quick/GeoModifierTest/GeoModifierTestRules.json
  test-files/cmd/quick/GeometryModifierTest.sh
  test-files/cmd/quick/GeometryModifierTest.sh.stderr
  test-files/cmd/quick/GeometryModifierTest.sh.stdout
Labels: Category: Core, Type: Feature

#3124 AddMeasurementTagsVisitor
  hoot-core/src/main/cpp/hoot/core/visitors/AddMeasurementTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddMeasurementTagsVisitor.h
  test-files/cmd/quick/AddMeasurementTagsTest.sh
  test-files/cmd/quick/AddMeasurementTagsTest.sh.stderr
  test-files/cmd/quick/AddMeasurementTagsTest.sh.stdout
  test-files/cmd/quick/AddMeasurementTagsTest/AddMeasurementTagsTestIn.osm
  test-files/cmd/quick/AddMeasurementTagsTest/AddMeasurementTagsTestOut.osm
Labels: Category: Core, Type: Feature

#3126 AddExportTagsVisitor for OgrWriter and OsmJsonWriter
  hoot-core-test/src/test/cpp/hoot/core/conflate/review/ReviewMarkerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.h
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergerTest.cpp
  test-files/cmd/slow/Osm2OgrTranslation.sh.stdout
  test-files/io/GeoJson/SampleObjectsWriterHoot.geojson
Labels: Category: Core, Type: Maintenance

#3128 Consolidate duplicated building unioning code in BuildingOutlineUpdateOp::_createOutline
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
Labels: Category: Core, Priority: Low, Status: Defined, Type: Maintenance

#3127 Prevent Attribute Conflation from incorrectly removing all multilinestring relations
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/core/RemoveReview2Pre.conf
  conf/core/TdsExport.json
  conf/services/conflationAttributeOps.json
  docs/commands/conflate.asciidoc
  docs/commands/convert.asciidoc
  docs/commands/info.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/ops/UnconnectedWaySnapperTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveElementsVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner2.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.h
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DeriveChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagKeyCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagKeyCriterion.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOnlyOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CookieCutterOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/FindHighwayIntersectionsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NoInformationElementRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NonConflatableElementRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/VisitorOp.h
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.h
  hoot-js/src/main/cpp/hoot/js/criterion/ElementCriterionJs.cpp
  hoot-js/src/main/cpp/hoot/js/criterion/ElementCriterionJs.h
  hoot-js/src/main/cpp/hoot/js/criterion/JsFunctionCriterion.h
  hoot-js/src/main/cpp/hoot/js/elements/ElementJs.h
  hoot-js/src/main/cpp/hoot/js/elements/NodeJs.h
  hoot-js/src/main/cpp/hoot/js/elements/RelationJs.h
  hoot-js/src/main/cpp/hoot/js/elements/WayJs.h
  hoot-js/src/main/cpp/hoot/js/util/PopulateConsumersJs.h
  hoot-js/src/main/cpp/hoot/js/visitors/ElementVisitorJs.cpp
  hoot-js/src/main/cpp/hoot/js/visitors/ElementVisitorJs.h
  hoot-rnd/src/main/cpp/hoot/rnd/scoring/MatchScoringMapPreparer.cpp
  hoot-services/src/main/java/hoot/services/controllers/export/ExportOSMCommand.java
  test-files/cmd/quick/RemoveBuildingsTest.sh
  test-files/visitors/RemoveElementsVisitorTest/RemoveElementsVisitorTest-runMultipleCriterionTestOut.osm
Labels: Category: Algorithms, Type: Bug

#3129 OsmXmlChangesetFileWriter has redundant tag writing code that can be consolidated
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
Labels: Category: Core, Priority: Low, Status: Defined, Type: Maintenance

#3130 Performance fix for MergeNearbyNodes
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.h
  hoot-core/src/main/cpp/hoot/core/ops/MergeNearbyNodes.cpp
Labels: Category: Algorithms, Type: Maintenance

#3132 Fixes for Network Matcher Tests
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/IterativeNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/SingleSidedNetworkMatcherTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/network/VagabondNetworkMatcherTest.cpp
  test-files/conflate/network/IterativeNetworkMatcherTestExpected.osm
  test-files/conflate/network/SingleSidedNetworkMatcherTestExpected.osm
  test-files/conflate/network/VagabondNetworkMatcherTestExpected.osm
Labels: Category: Test

#3134 Removed a geometry check from villages, hamlets etc
  plugins/dnc.js
  plugins/ggdm30.js
  plugins/mgcp.js
  plugins/tds40.js
  plugins/tds61.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#3139 Fix for geojson files specifying more than x and y coordinate values
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.h
  plugins/test/basin_reservoir.js
Labels: Category: Core, Type: Bug
