Repository ngageoint/hootenanny, pull requests merged in 2019-11, with the labels that each got.

#3600 Sonar bugs
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.cpp
  sonar-project.properties
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#3599 Split OsmMap objects into smaller maps using tiles
  hoot-core/src/main/cpp/hoot/core/elements/Element.h
  hoot-core/src/main/cpp/hoot/core/elements/Node.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
Labels: Category: Core, Priority: High, Type: Feature, Type: Task

#3609 3466 - Add an Intersection Over Union FeatureExtractor
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/IntersectionOverUnionExtractorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/FeatureExtractorBase.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/IntersectionOverUnionExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/IntersectionOverUnionExtractor.h
  test-files/algorithms/extractors/IntersectionOverUnionExtractorTest/IntersectionOverUnionExtractorTest-in.osm
Labels: Category: Algorithms, Type: Feature

#3611 3460 - Building changed auto-review option
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/IntersectionOverUnionExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/polygon/BuildingMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/Merger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerBase.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.h
Labels: Category: Algorithms, Type: Feature

#3614 Used passed in config options in setConfiguration
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
Labels: Category: Core, Priority: Low, Type: Task

#3615 Most recent code smells 201911
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/ManualMatchValidatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/FrechetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyTestRunner.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/index/metric-hybrid/Node.h
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.cpp
  hoot-js/src/main/cpp/hoot/js/util/LogJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  sonar-project.properties
  tgs/src/main/cpp/tgs/RandomForest/MultithreadedRandomForest.h
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.h
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#3620 Turn of failing test
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1.off/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1.off/Input1.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1.off/Input2.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1.off/README.txt
Labels: Category: Core, Category: Test, Priority: High, Type: Task

#3617 Fix json reader element type ordering bug
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/visitors/ReportMissingElementsVisitor.h
  test-files/cmd/glacial/serial/RndServiceChangesetReplacement.sh.off
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedTest-in.json
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedTest.osm
Labels: Category: Core, Type: Bug

#3626 Enable KML writing from Hootenanny
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  test-files/cmd/quick/ConvertToKml.sh
  test-files/cmd/quick/ConvertToKml.sh.stderr
  test-files/cmd/quick/ConvertToKml.sh.stdout
  test-files/cmd/quick/ConvertToKml/Expected.kml
Labels: Category: Core, Priority: Medium, Type: Feature, Type: Task

#3624 Run copyright checks in parallel
  .circleci/config.yml
  VagrantProvisionCentOS7.sh
  hoot-core/hoot-core.pro
  scripts/copyright/UpdateAllCopyrightHeaders.sh
  scripts/copyright/UpdateDirCopyrightHeaders.sh
Labels: Category: Core, Priority: Medium, Type: Feature, Type: Task

#3634 3631 - Correct use of element version warning message for replacement changeset derivation
  conf/core/ConfigOptions.asciidoc
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core/src/main/cpp/hoot/core/criterion/AttributeValueCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/IdTagMatchesId.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/IdTagMatchesId.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementAttributeType.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/IndexElementsVisitor.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ChangesetDeriveReplacementCmd.cpp
  test-files/cmd/glacial/serial/RndServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementAdditionalFiltersChainedTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementAdditionalFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementBuildingFullTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementBuildingStrictTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementBuildingTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementPoiStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementPoiStrictTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRefFilteredToEmptyTest.sh
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRefFilteredToEmptyTest.sh.off
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRefFilteredToEmptyTest.sh.stderr
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRefFilteredToEmptyTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRefFilteredToEmptyTest/RndServiceChangesetReplacementRefFilteredToEmptyTest-xml-replaced.osm
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRoadStrictTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRoadTest.sh.stdout
Labels: Category: Core, Type: Bug

#3635 Write Error file to disk as errors occur
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  test-files/io/OsmChangesetElementTest/ChangesetConflictExpected-error.osc
  test-files/io/OsmChangesetElementTest/RetryConflictExpected-error.osc
Labels: Category: Core, Category: Test, Priority: High, Type: Maintenance, Type: Task

#3638 3619 - Handle json inputs unordered by element correctly when not using source IDs
  conf/core/ConfigOptions.asciidoc
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveEmptyAreasVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveMissingElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveMissingElementsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ReportMissingElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ReportMissingElementsVisitor.h
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ChangesetDeriveReplacementCmd.cpp
  test-files/cmd/glacial/serial/RndServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementBuildingFullTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementBuildingStrictTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementBuildingTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRoadStrictTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementRoadTest.sh.stdout
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest.sh.stdout
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh.stdout
  test-files/cmd/slow/SortCmdTest.sh.stdout
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedMissingTest-in.json
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedMissingTest1.osm
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedMissingTest2.osm
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedTest1.osm
  test-files/io/OsmJsonReaderTest/elementTypeUnorderedTest2.osm
Labels: Category: Core, Type: Bug

#3630 Enable the TDSv70 template in services
  hoot-services/src/main/java/hoot/services/controllers/export/ExportCommand.java
Labels: Category: Core, Category: Services, Priority: Medium, Status: Ready For Review, Status: Ready for Test, Type: Requirement

#3640 Changeset upload improve memory footprint
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetElementTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementType.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#3646 3644 - Changeset replacement fixes 11-18-19
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.cpp
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementSecFilteredToEmptyTest.sh
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementSecFilteredToEmptyTest.sh.stderr
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementSecFilteredToEmptyTest.sh.stdout
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementSecFilteredToEmptyTest/RndServiceChangesetReplacementSecFilteredToEmptyTest-xml-replaced.osm
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementSecFilteredToEmptyTest/input1.osm
  test-files/cmd/glacial/serial/RndServiceChangesetReplacementSecFilteredToEmptyTest/input2.osm
Labels: Category: Algorithms, Category: Core, Type: Bug

#3647 Fix UFD issues
  conf/schema/man_made.json
  translations/UFD_to_OSM.js
  translations/dnc_rules.js
  translations/fcode_common.js
  translations/geonames_core.js
  translations/geonames_rules.js
  translations/ggdm30.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40_rules.js
  translations/tds61_rules.js
  translations/tds70_rules.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#3649 Doc updates and cleanup 11/19/20
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.h
  hoot-core/src/main/cpp/hoot/core/ops/OsmMapOperation.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMergerCreator.h
  hoot-rnd/src/main/cpp/hoot/rnd/algorithms/changeset/ChangesetReplacementCreator.h
Labels: Category: Core, Category: Documentation, Type: Maintenance

#3650 Keep changesets open until they near the 50k limit
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task
