Repository ngageoint/hootenanny, pull requests merged in 2019-06, with the labels that each got.

#3258 Remove unnecessary map consumption - 5/31/19
  hoot-core/src/main/cpp/hoot/core/elements/ElementConsumer.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CookieCutterOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddUuidVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ExtractWaysVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ExtractWaysVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/FindNodesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/FindWaysVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateRelationMembersVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateWayNodesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveReviewUnknown2Visitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/StatusUpdateVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/TagRenameKeyVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/TransliterateNameVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/visitors/ElementVisitorJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/perty/PertyNameVisitor.h
  hoot-rnd/src/main/cpp/hoot/rnd/perty/PertyRemoveTagVisitor.h
  scripts/core/AddRefToIntersections.js
Labels: Category: Core, Type: Maintenance

#3264 Truncate OSM Tags Destined for OSM API Changesets
  hoot-core-test/src/test/cpp/hoot/core/scoring/MapComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/ApiTagTruncateVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DeriveChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ApiTagTruncateVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ApiTagTruncateVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/TagCountVisitor.h
  hoot-services/src/main/java/hoot/services/geo/BoundingBox.java
Labels: Category: Core, Priority: Medium, Status: Defined, Type: Bug

#3260 Reorder changesets for HootBot
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  test-files/io/OsmChangesetElementTest/ChangesetErrorFixErrors.osc
  test-files/io/OsmChangesetElementTest/ChangesetMergeExpected.osc
  test-files/io/OsmChangesetElementTest/ToyTestAConflicts.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit1.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit1.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit2.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit2.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit3.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit3.response.xml
  test-files/io/OsmChangesetElementTest/ToyTestASplit4.osc
  test-files/io/OsmChangesetElementTest/ToyTestASplit4.response.xml
Labels: Category: Core, Priority: Critical, Type: Maintenance, Type: Task

#3268 Some overpass data fails to read in Hootenanny
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
Labels: Category: Core, Priority: High, Status: Defined, Type: Bug

#3267 Make map consuming convert ops applied during changeset derivation properly work on the combined input map
  docs/commands/conflate.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.h
  hoot-core/src/main/cpp/hoot/core/cmd/DeriveChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/ChangesetWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ChangesetWriter.h
  scripts/core/ServiceOsmApiDbHootApiDbConflate.sh
  test-files/cmd/slow/DeriveChangesetCmdTest.sh
  test-files/cmd/slow/DeriveChangesetCmdTest.sh.stderr
  test-files/cmd/slow/DeriveChangesetCmdTest/changeset-10.osc
  test-files/cmd/slow/DeriveChangesetCmdTest/changeset-8.osc
  test-files/cmd/slow/DeriveChangesetCmdTest/changeset-9.osc
Labels: Category: Core, Type: Bug

#3256 Refactoring stats
  conf/core/ConfigOptions.asciidoc
  conf/core/GenericStats.json
  hoot-core/src/main/cpp/hoot/core/criterion/ElementTypeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ElementTypeCriterion.h
  hoot-core/src/main/cpp/hoot/core/info/NumericStatistic.h
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/TagCountVisitor.h
Labels: Category: Core, Type: Maintenance

#3271 Wholesale Building Replacement by Bounds Prototype
  conf/core/ConfigOptions.asciidoc
  docs/commands/convert.asciidoc
  docs/commands/crop.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmMapReaderFactoryTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/MapCropperTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/OptimalConstrainedMatches.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ChangesetWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ChangesetWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  hoot-core/src/main/cpp/hoot/core/ops/CookieCutterOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.h
  hoot-core/src/main/cpp/hoot/core/scoring/DirectedGraph.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest.sh
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest/ServiceBuildingReplacementTest-changeset-1.osc
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest/ServiceBuildingReplacementTest-changeset-2.osc
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest/ServiceBuildingReplacementTest-changeset-2.osc.sql
  test-files/cmd/glacial/serial/ServiceBuildingReplacementTest/ServiceBuildingReplacementTest-replaced.osm
  test-files/ops/MapCropper/MultipolygonTest.osm
Labels: Category: Core, Type: Feature

#3279 Allow ElementVisitor to be used from JS scripts
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.h
  hoot-core/src/main/cpp/hoot/core/ops/SchemaTranslationOp.h
  hoot-core/src/main/cpp/hoot/core/ops/VisitorOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/VisitorOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddRef1Visitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddUuidVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddUuidVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementVisitorConsumer.h
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/StatusUpdateVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/StatusUpdateVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/TagRenameKeyVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/TagRenameKeyVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/review/ReviewMarkerJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/OsmMapJs.cpp
  hoot-js/src/main/cpp/hoot/js/util/PopulateConsumersJs.h
  hoot-js/src/main/cpp/hoot/js/visitors/ElementVisitorJs.cpp
  hoot-js/src/main/cpp/hoot/js/visitors/ElementVisitorJs.h
Labels: Category: Core, Type: Bug

#3278 Enable `reader.conflate.use.data.source.ids.2` for attribute conflation
  conf/core/AttributeConflation.conf
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  test-files/cases/attribute/network/highway-2888-reviews-by-score/Expected.osm
  test-files/cases/attribute/network/highway-2888/Expected.osm
  test-files/cases/attribute/network/highway-2927-bridge-2/Expected.osm
  test-files/cases/attribute/network/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Expected.osm
  test-files/cases/attribute/unifying/building-3136-many-to-many-auto-merge-1/Expected.osm
  test-files/cases/attribute/unifying/building-3184-completely-contained-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2888/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-2/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Expected.osm
Labels: Category: Core, Priority: High, Status: Defined, Type: Task

#3282 Hootenanny Command Line Completion
  scripts/HootCompletion.sh
Labels: Category: Core, Priority: Low, Status: Defined, Type: Maintenance, Type: Task

#3289 Delete changeset ordering
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ApplyChangesetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  scripts/HootCompletion.sh
  test-files/io/OsmChangesetElementTest/DeleteSplit.osc
  test-files/io/OsmChangesetElementTest/DeleteSplit1.osc
  test-files/io/OsmChangesetElementTest/DeleteSplit1.response.xml
  test-files/io/OsmChangesetElementTest/DeleteSplit2.osc
  test-files/io/OsmChangesetElementTest/DeleteSplit2.response.xml
  test-files/io/OsmChangesetElementTest/DeleteSplit3.osc
  test-files/io/OsmChangesetElementTest/DeleteSplit3.response.xml
  test-files/io/OsmChangesetElementTest/DeleteSplit4.osc
  test-files/io/OsmChangesetElementTest/DeleteSplit4.response.xml
Labels: Category: Core, Priority: Critical, Status: Defined, Type: Bug, Type: Task

#3294 Attribute Conflation: Preserve source IDs
  conf/core/AttributeConflation.conf
  hoot-core-test/src/test/cpp/hoot/core/ops/IdSwapOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/WaySplitterOpTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/IdSwap.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/IdSwap.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/ops/IdSwapOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/IdSwapOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveNodeByEid.cpp
  test-files/cases/attribute/network/highway-2888-reviews-by-score/Expected.osm
  test-files/cases/attribute/network/highway-2888/Expected.osm
  test-files/cases/attribute/network/highway-2927-bridge-2/Expected.osm
  test-files/cases/attribute/network/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Expected.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Input1.osm
  test-files/cases/attribute/unifying/building-3022-duplicate-relation-member-ways-1/Input2.osm
  test-files/cases/attribute/unifying/highway-2888/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-2/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-way-member-tags-1/Expected.osm
Labels: Category: Algorithms, Category: Core, Priority: Medium, Type: Feature

#3299 Metadata import and export
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MetadataExport.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MetadataExport.h
  hoot-core/src/main/cpp/hoot/core/ops/MetadataImport.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MetadataImport.h
  hoot-core/src/main/cpp/hoot/core/ops/MetadataOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MetadataOp.h
  test-files/cmd/quick/MetadataOpsTest.sh
  test-files/cmd/quick/MetadataOpsTest.sh.stderr
  test-files/cmd/quick/MetadataOpsTest.sh.stdout
  test-files/cmd/quick/MetadataOpsTest/MetadataExportOpsTestIn.osm
  test-files/cmd/quick/MetadataOpsTest/MetadataExportOpsTestOut.osm
  test-files/cmd/quick/MetadataOpsTest/MetadataImportOpsTestIn.osm
  test-files/cmd/quick/MetadataOpsTest/MetadataImportOpsTestOut.osm
Labels: Category: Core, Priority: Medium, Type: Feature

#3307 Fixed renamed header file issue
  hoot-core/src/main/cpp/hoot/core/ops/MetadataOp.cpp
Labels: Category: Core, Priority: Critical, Status: Ready For Review, Type: Bug

#3303 Implement `base.config` in Settings.cpp
  hoot-core-test/src/test/cpp/hoot/core/test/ConflateCaseTestSuite.cpp
  hoot-core-test/src/test/cpp/hoot/core/test/ConflateCaseTestSuite.h
  hoot-core-test/src/test/cpp/hoot/core/util/SettingsTest.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
Labels: Category: Core, Category: Test, Priority: Medium, Type: Feature, Type: Task

#3312 Parallelize GraphComparator to reduce testing runtimes
  hoot-core-test/src/test/cpp/hoot/core/scoring/GraphComparatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.h
  tgs/src/main/cpp/tgs/ProbablePath/ProbablePathCalculator.cpp
  tgs/src/main/cpp/tgs/ProbablePath/ProbablePathCalculator.h
  tgs/src/main/cpp/tgs/Statistics/Random.h
Labels: Category: Core, Category: Test, Priority: High, Status: Defined, Type: Feature, Type: Task

#3318 Random Unit Test Failures
  hoot-core-test/src/test/cpp/hoot/core/ops/CookieCutterOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/DuplicateWayRemoverTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/UnconnectedWaySnapperTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergeCacheTest.cpp
  test-files/ops/UnconnectedWaySnapper/runSnapTestOut.osm
  test-files/ops/UnconnectedWaySnapper/runStaticSnapTestOut.osm
Labels: Category: Core, Category: Test, Priority: Medium, Type: Bug, Type: Maintenance, Type: Task
