Repository ngageoint/hootenanny, pull requests merged in 2020-12, with the labels that each got.

#4400 Added DB_NAME to test cleanup
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest.sh
  test-files/cmd/glacial/ServiceDbEmptyTagsTest.sh
  test-files/cmd/glacial/ServiceExportOsm.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceStreamingApiDbTest.sh
  test-files/cmd/quick/ServiceDbListCmdTest.sh
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/ServiceHootApiDbReaderCmdTest.sh
  test-files/cmd/slow/serial/ServiceDiffRoadSnapTest.sh.off
Labels: Category: Build, Category: Core, Category: Services, Category: Test, Priority: Medium, Status: Ready For Review, Type: Bug

#4403 Bulk insert version update
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/ApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbSqlStatementFormatter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbSqlStatementFormatter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlStatementFormatter.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4407 UFD Fixes
  translations/UFD_to_OSM.js
  translations/dnc_core.js
  translations/ggdm30.js
  translations/gifd_d4_core.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug, Type: Maintenance

#4409 Fixed UFD tunnels
  translations/UFD_to_OSM.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: In Progress, Type: Suggestion, Type: Support

#4414 Add unpacking the "other_tags" tag to export
  hoot-core-test/src/test/cpp/hoot/core/visitors/SetTagValueVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/optimizer/IntegerProgrammingSolver.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryHierarchicalClusterAlgorithm.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergeCache.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryScoreCache.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/MultiaryIngester.h
  tgs/src/main/cpp/tgs/RStarTree/DistanceIterator.h
  tgs/src/main/cpp/tgs/RStarTree/RTreeNodeStore.h
  tgs/src/test/cpp/tgs/RStarTree/HilbertRTreeTest.cpp
  translations/UFD_to_OSM.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Maintenance

#4420 Fix way snapping node insert index bug
  hoot-core-test/src/test/cpp/hoot/core/ops/UnconnectedWaySnapperTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.h
  test-files/cmd/glacial/serial/ServiceChangesetReplacementNonRectangularBoundsTest/ServiceChangesetReplacementNonRectangularBoundsTest-xml-replaced.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-output.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-with-ref-output.osm
  test-files/cmd/slow/serial/ServiceDiffNetworkRoadSnapTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffNetworkRoadSnapTest/out.osm
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest/out.osm
  test-files/ops/UnconnectedWaySnapper/runReviewSnappedTestOut.osm
  test-files/ops/UnconnectedWaySnapper/runSnapTestOut.osm
  test-files/ops/UnconnectedWaySnapper/runTypeExcludeTestOut.osm
  test-files/ops/UnconnectedWaySnapper/runTypeMatchOut.osm
Labels: Category: Algorithms, Type: Bug

#4421 Remove dead code
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/MapUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/MapUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/TagUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/TagUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/VersionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/VersionUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.h
  hoot-core/src/main/cpp/hoot/core/util/CollectionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/CollectionUtils.h
  hoot-core/src/main/cpp/hoot/core/util/DbUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/DbUtils.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
Labels: Category: Core, Type: Maintenance

#4416 The other GeoNames
  conf/services/DefaultTranslations.json
  docs/algorithms/SkipGrams.asciidoc
  docs/commands/multiary-poi-ingest.asciidoc
  docs/commands/type-tagger-rules.asciidoc
  docs/developer/HootenannyImplicitTagDatabaseGeneration.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/DataConverterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/GeoNamesReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/GeoNamesReader.h
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest.sh
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest/allCountries-geonames-changeset-add.spark.1
  test-files/cmd/quick/ConvertGeoNames.sh
  test-files/cmd/quick/ConvertGeoNames.sh.stdout
  test-files/cmd/quick/ConvertGeoNames/ConvertGeoNamesMil.geonames
  test-files/cmd/quick/ConvertGeoNames/GeoNames.osm
  test-files/cmd/quick/ConvertGeoNames/GeoNamesMil.osm
  translations/GeoNames.js
  translations/GeoNames_to_OSM.js
  translations/PrintOsmDocs.js
  translations/geonames_core.js
  translations/tds70.js
Labels: Category: Build, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Support, Type: Task

#4424 Road fixes
  translations/tds70.js
  translations/tds70_rules.js
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready For Review, Type: Bug, Type: Support

#4426 Speed up AlphaShape creation to improve C&R times
  conf/core/ConfigOptions.asciidoc
  hoot-core/hoot-core.pro
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryMerger.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryMerger.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.h
  scripts/util/graph_memory.sh
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task
