Repository ngageoint/hootenanny, pull requests merged in 2020-08, with the labels that each got.

#4186 Prevent runaway processing during complex line matching
  conf/core/ConfigOptions.asciidoc
  docs/commands/node-density-tiles.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbBulkInserterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineMatcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/SublineMatcher.h
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityTilesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MultipleSublineMatcherSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MultipleSublineMatcherSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/river/RiverSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementDeduplicator.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OverwriteTagMerger.cpp
  hoot-core/src/main/cpp/hoot/core/util/DbUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-js/src/main/cpp/hoot/js/algorithms/subline-matching/SublineStringMatcherJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/HighwaySnapMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/ElementJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/ElementJs.h
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.cpp
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.h
  hoot-rnd/src/main/cpp/hoot/rnd/ops/RandomMapCropper.cpp
  rules/Line.js
  rules/River.js
  rules/lib/HootLib.js
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdjacentCellsTest.sh.off
  test-files/cmd/slow/ConflateCmdStatsGenericRiversTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsTest/generic-rivers-out.osm
Labels: Category: Algorithms, Type: Maintenance

#4190 Add better map size check before cookie cut
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdjacentCellsTest.sh.off
Labels: Category: Algorithms, Type: Bug

#4191 Prevent repeated changeset statements for the same element when using multiple changeset providers
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/util/DbUtils.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdjacentCellsTest.sh.off
Labels: Category: Core, Type: Bug

#4185 Archive 'test-files' when Jenkins fails
  scripts/jenkins/Jenkinsfile
Labels: Category: Core, Category: Test, Priority: Medium, Type: Maintenance, Type: Task

#4200 Fix random failures in unit tests
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/ServiceChangesetReplacementRoundaboutsConflateTest-xml-replaced.osm
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4197 ENC
  Makefile.hoot
  conf/schema/natural.json
  conf/schema/seamark.json
  conf/services/DefaultTranslations.json
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  translations/ENCv311_to_OGR.js
  translations/ENCv311_to_OSM.js
  translations/UFD_to_OSM.js
  translations/dnc_core.js
  translations/dnc_rules.js
  translations/encv311_rules.js
  translations/encv311_schema.js
  translations/fcode_common.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Maintenance, Type: Task

#4205 NPE fixes for North Vegas small and medium tests
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayDiscretizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayDiscretizer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RecursiveSetTagValueOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
Labels: Category: Core, Type: Bug

#4207 Improve performance for hootapidb bbox queries involving large numbers of nodes
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/TableType.h
  hoot-services/src/main/resources/db/changelogs/031-AddWayNodeIndex.xml
Labels: Category: Services, Type: Maintenance

#4204 Allow admins to export other users private data
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/auth/ServicesHootServicesLoginManagerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  scripts/core/archive/ServiceOsmApiDbHootApiDbConflate.sh
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest.sh
  test-files/cmd/glacial/ServiceDbEmptyTagsTest.sh
  test-files/cmd/glacial/ServiceExportOsm.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdjacentCellsTest.sh.off
  test-files/cmd/glacial/serial/ServiceConflateDiffTest.sh.off
  test-files/cmd/glacial/serial/ServiceGrailDiffTest.sh.off
  test-files/cmd/glacial/serial/ServiceStreamingApiDbTest.sh
  test-files/cmd/glacial/serial/replacement-test-archive/ServiceBuildingReplacementTest.sh.off
  test-files/cmd/glacial/serial/replacement-test-archive/ServiceBuildingStrictReplacementTest.sh.off
  test-files/cmd/glacial/serial/replacement-test-archive/ServicePoiStrictReplacementTest.sh.off
  test-files/cmd/glacial/serial/replacement-test-archive/ServiceRoadReplacementTest.sh.off
  test-files/cmd/glacial/serial/replacement-test-archive/ServiceRoadStrictReplacementTest.sh.off
  test-files/cmd/quick/ServiceDbListMapsCmdTest.sh
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/ServiceHootApiDbReaderCmdTest.sh
  test-files/cmd/slow/serial/ServiceDiffRoadSnapTest.sh.off
  test-files/cmd/slow/serial/ServiceNodeDensityTilesCmdTest.sh
Labels: Category: Core, Priority: High, Type: Feature, Type: Maintenance, Type: Task

#4209 C&R grid test improvements while working on 4196
  README.md
  conf/services/conflationTypes.json
  docs/install/HootenannyTroubleshooting.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/CalculateStatsOpTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityTilesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.h
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersChainedTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementOutOfSpecMixedRelationsTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementPoiStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementPoiStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefFilteredToEmptyTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRelationCropTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRiverbankTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest.sh.stdout
  test-files/cmd/slow/serial/ServiceChangesetApplyCmdTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffNetworkRoadSnapTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#4218 Auto-selection of alpha value based on input data when creating an Alpha Shape
  docs/commands/generate-alpha-shape.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGeneratorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonAlphaShapeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/GenerateAlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
  test-files/cmd/slow/GenerateAlphaShapeCmdTest.sh
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
Labels: Category: Core, Priority: High, Type: Feature, Type: Task

#4221 Speed up auto alpha selection
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
Labels: Category: Core, Priority: High, Type: Feature, Type: Task
