Repository ngageoint/hootenanny, pull requests merged in 2020-06, with the labels that each got.

#4026 Changeing the translation for embankments
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Support, Type: Task

#4061 Take option 2 and fail the 'remaining' at the 99% error
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4063 Add CRS backward compatibility to OsmGeoJsonReader
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.h
  test-files/io/GeoJson/crs.geojson
  test-files/io/GeoJson/crs.osm
Labels: Category: Core, Type: Maintenance

#4059 Fix MGCP water features
  conf/schema/place.json
  test-files/cmd/glacial/CollectionRelationMergeTest.sh.stdout
  test-files/cmd/slow/GGDMv30TranslationTest.sh
  translations/dnc_core.js
  translations/dnc_rules.js
  translations/fcode_common.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/test/basin_reservoir.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#4062 Settings failure error
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
Labels: Category: Build, Priority: Critical, Type: Bug, Type: Maintenance, Type: Task

#4067 4052 - Prevent Diff conflate from throwing out intra-dataset POI/Poly matches
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementIdsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/UniqueElementIdVisitor.h
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-1/Config.conf
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-1/Expected.osm
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-1/Input1.osm
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-1/Input2.osm
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-1/README.txt
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-2/Config.conf
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-2/Expected.osm
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-2/Input1.osm
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-2/Input2.osm
  test-files/cases/differential/unifying/poi-polygon/poi-polygon-4052-2/README.txt
Labels: Category: Algorithms, Type: Bug

#4072 Add user and id as tags
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddUserIdVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddUserIdVisitor.h
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Feature, Type: Task

#4080 HighwayRfClassifier memory leak
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/MatchCandidateCountVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayClassifier.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayRfClassifier.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.h
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.h
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4081 4074 - Fix POI/Polygon address match bug and improve street address intersection parsing
  conf/core/ConfigOptions.asciidoc
  conf/core/addressTagKeys
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/AddressScoreExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/CalculateStatsOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/AddressCountVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/NormalizeAddressesVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AddressScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.h
  hoot-core/src/main/cpp/hoot/core/language/ToEnglishDictionaryTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/language/ToEnglishDictionaryTranslator.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-street-num-1/Config.conf
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-street-num-1/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-street-num-1/Input1.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-street-num-1/Input2.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-street-num-1/README.txt
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/StatsFileTest.sh.stdout
  test-files/visitors/NormalizeAddressesVisitorTest/gold.osm
Labels: Category: Algorithms, Type: Bug

#4083 Run valgrind on unit tests
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.cpp
  hoot-test/hoot-test.pro
  hoot-test/src/main/cpp/hoot/test/main.cpp
  scripts/valgrind/grindmerge.pl
  scripts/valgrind/hoot_valgrind.supp
  scripts/valgrind/unit_tests.sh
Labels: Category: Core, Priority: Medium, Type: Feature, Type: Task

#4087 4073 - Update alpha shape generation to better cover sparse clusters of points
  conf/core/ConfigOptions.asciidoc
  docs/commands/generate-alpha-shape.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGeneratorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/CookieCutterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/KeepTagsVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveTagsVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.h
  hoot-core/src/main/cpp/hoot/core/cmd/GenerateAlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.h
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/KeepTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ReplaceTagVisitor.h
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorBasicTest.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorBufferTest.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorNegativeBufferTest.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorTest/AlphaShapeGeneratorAutoRetryTest-in.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorTest/AlphaShapeGeneratorBasicTest-out.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorTest/AlphaShapeGeneratorBufferTest-out.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorTest/AlphaShapeGeneratorManualCoverTest-in.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorTest/AlphaShapeGeneratorManualCoverTest-out.osm
  test-files/algorithms/alpha-shape/AlphaShapeGeneratorTest/AlphaShapeGeneratorNegativeBufferTest-out.osm
  test-files/cmd/glacial/GenerateAlphaShapeCmdTest.sh
  test-files/cmd/glacial/GenerateAlphaShapeCmdTest.sh.stderr
  test-files/cmd/glacial/GenerateAlphaShapeCmdTest/output-1.osm
  test-files/cmd/glacial/GenerateAlphaShapeCmdTest/output-2.osm
  test-files/cmd/glacial/GenerateAlphaShapeCmdTest/output-3.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementOutOfSpecMixedRelationsTest/ServiceChangesetReplacementOutOfSpecMixedRelationsTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/ServiceChangesetReplacementRefSinglePointTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRiverbankTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRiverbankTest/ServiceChangesetReplacementRiverbankTest-xml-replaced.osm
  test-files/cmd/slow/CookieCutCmdTest.sh
  test-files/cmd/slow/GenerateAlphaShapeCmdTest.sh
  test-files/cmd/slow/GenerateAlphaShapeCmdTest.sh.stderr
  test-files/cmd/slow/GenerateAlphaShapeCmdTest.sh.stdout
  test-files/cmd/slow/GenerateAlphaShapeCmdTest/output-1.osm
  test-files/cmd/slow/GenerateAlphaShapeCmdTest/output-2.osm
  test-files/cmd/slow/GenerateAlphaShapeCmdTest/output-3.osm
  test-files/ops/CookieCutterOp/CookieCutterOpTest.osm
  test-files/visitors/RemoveTagsVisitorTest/RemoveTagsVisitorTest.osm
  test-files/visitors/RemoveTagsVisitorTest/RunFilterTest.osm
  test-files/visitors/RemoveTagsVisitorTest/RunNegatedFilterTest.osm
  test-files/visitors/RemoveTagsVisitorTest/RunWildcardTest.osm
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.h
  tgs/src/main/cpp/tgs/Statistics/Random.cpp
  tgs/src/main/cpp/tgs/Statistics/Random.h
  tgs/src/test/cpp/tgs/RStarTree/HilbertCurveTest.cpp
Labels: Category: Algorithms, Type: Maintenance

#4090 Cleanup from 4057
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/StatusCriterion.h
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.h
  test-files/cases/differential/network/Config.conf
  test-files/cases/differential/network/highway/roundabout-3580.off/Config.conf
  test-files/cases/differential/network/highway/roundabout-3580.off/Expected.osm
  test-files/cases/differential/network/highway/roundabout-3580.off/Input1.osm
  test-files/cases/differential/network/highway/roundabout-3580.off/Input2.osm
  test-files/cases/differential/network/highway/roundabout-3580.off/README.txt
Labels: Category: Core, Type: Maintenance

#4093 4092 - Prevent AddHilbertReviewSortOrderOp from accessing a missing element
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.cpp
Labels: Category: Core, Type: Bug

#4094 4091 - Add missing POI schema references
  conf/schema/barrier.json
  conf/schema/highway.json
  conf/schema/natural.json
  conf/schema/sport.json
  conf/schema/transport.json
  hoot-core-test/src/test/cpp/hoot/core/schema/ImplicitTagRulesDatabaseDeriverTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.cpp
  rules/Poi.js
  translations/test/TranslationServer.js
Labels: Category: Schema, Type: Bug

#4099 4097 - Make accuracy tag configurable
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  docs/JavascriptOverview.asciidoc
  docs/algorithms/Places.asciidoc
  docs/algorithms/PoiToPoiConflation.asciidoc
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.h
Labels: Category: Core, Type: Feature

#4102 Prevent review relations with zero or only null members from breaking AddHilbertReviewSortOrderOp
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidReviewRelationsVisitor.cpp
Labels: Category: Algorithms, Type: Bug

#4107 Memory leak in JavaEnvironment class
  hoot-josm/src/main/cpp/hoot/core/jni/JavaEnvironment.cpp
  hoot-josm/src/main/cpp/hoot/core/jni/JavaEnvironment.h
  hoot-josm/src/main/cpp/hoot/core/josm/ops/JosmMapValidatorAbstract.cpp
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#4108 OsmApiWriter handle HTTP 503 responses
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/util/HootNetworkUtils.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#4109 Replace PR 3979
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task
