Repository ngageoint/hootenanny, pull requests merged in 2020-09, with the labels that each got.

#4224 Update STATUS messages in changeset-apply
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#4229 More better synchronization of way node IDs during cut and replace changeset generation
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsFileTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ExcludeDeleteWayNodeCleaner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ExcludeDeleteWayNodeCleaner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EuclideanDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EuclideanDistanceExtractor.h
  hoot-core/src/main/cpp/hoot/core/cmd/DeDuplicateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.h
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-Input1.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-Input2.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-taskGridBounds.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest/ServiceChangesetReplacementDeleteOnlyStrictFullTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest/ServiceChangesetReplacementEmptyGeometryFilterTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest/ServiceChangesetReplacementMultipleGeometryFiltersTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/ServiceChangesetReplacementRefSinglePointTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadFullTest/ServiceChangesetReplacementRoadFullTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest/ServiceChangesetReplacementRoadStrictFullTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictTest/ServiceChangesetReplacementRoadStrictTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest/ServiceChangesetReplacementRoadTest-db-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest/ServiceChangesetReplacementRoadTest-json-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest/ServiceChangesetReplacementRoadTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/ServiceChangesetReplacementRoundaboutsConflateTest-xml-replaced.osm
Labels: Category: Algorithms, Type: Bug

#4230 Disable Alpha Shape straggler covering for C&R
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/ServiceChangesetReplacementRoundaboutsConflateTest-xml-replaced.osm
Labels: Category: Core, Type: Maintenance

#4231 Add capability to diff C&R output with input after task grid replace
  README.md
  conf/core/ConfigOptions.asciidoc
  conf/schema/highway.json
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/UniformTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EuclideanDistanceExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SmallerOverlapExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/CookieCutter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/RoadCrossingPolyRule.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MetadataOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidRelationVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveMetadataTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveMetadataTagsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
Labels: Category: Core, Type: Maintenance

#4233 Optimize AlphaShape generation "stragglers" code
  hoot-core-test/src/test/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGeneratorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/util/PolygonCompare.cpp
  hoot-core/src/main/cpp/hoot/core/util/PolygonCompare.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#4236 C&R debugging tools - 9/10/20
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/commands/perty.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/criterion/NameContainsCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/criterion/NameCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/FindIntersectionsOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/FindStreetIntersectionsByNameTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/criterion/NameContainsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NameContainsCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/NameCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NameCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/ops/FindStreetIntersectionsByName.cpp
  hoot-core/src/main/cpp/hoot/core/ops/FindStreetIntersectionsByName.h
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/FindIntersectionsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MultipleCriterionConsumerVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.h
  test-files/ops/FindStreetIntersectionsByNameTest/runBasicTestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runCaseSensitivity1TestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runCaseSensitivity2TestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runPartialMatch1TestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runPartialMatch2TestOut.osm
Labels: Category: Core, Type: Maintenance

#4238 More way snap improvements for C&R
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/FindStreetIntersectionsByNameTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/UnconnectedWaySnapperTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/ops/FindStreetIntersectionsByName.cpp
  hoot-core/src/main/cpp/hoot/core/ops/FindStreetIntersectionsByName.h
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.h
  test-files/ops/FindStreetIntersectionsByNameTest/runBasicTestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runCaseSensitivity2TestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runPartialMatch2TestOut.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runSingleInputDupeRoadMatchesTest.osm
  test-files/ops/FindStreetIntersectionsByNameTest/runSingleInputDupeRoadMatchesTestOut.osm
  test-files/ops/UnconnectedWaySnapper/runTypeExcludeTestOut.osm
Labels: Category: Core, Type: Bug

#4240 Fix map copying error when ref map to replace is empty
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-Input1.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-Input2.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-out.osm
Labels: Category: Algorithms, Type: Bug

#4227 Add Vagrant support for Hoot from RPM's
  VagrantProvisionCentOS7Rpm.sh
  Vagrantfile
  docker/gbdx_hootcore/DockerBuild_HootCore.txt
  docker/gbdx_hootcore/Dockerfile
  docker/gbdx_hootcore/HootCore_01_Build.sh
  docker/gbdx_hootcore/HootCore_02_Install.sh
  docker/gbdx_hootcore/HootCore_03_Cleanup.sh
  docker/gbdx_hootcore/Orig_Dockerfile
  docker/gbdx_hootcore/README.md
  docker/gbdx_hootcore/gbdx_task_interface.py
  docker/gbdx_hootcore/hoot-gbdx.py
  docker/gbdx_hootcore/hoot_etc.tar.gz
  docker/hoot_commandline/Dockerfile
  docker/hoot_commandline/README.md
  docker/old_centos7.2/Dockerfile
  docker/old_centos7.4/Dockerfile
Labels: Category: Build, Category: Core, Priority: Medium, Status: Ready for Test, Type: Feature

#4244 Fixed the Hoot Release repo problem
  VagrantProvisionCentOS7Rpm.sh
Labels: Category: Core, Category: Install, Priority: High, Status: Ready for Test, Type: Bug

#4248 Fix delete nodes in changeset-apply split
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Category: Test, Priority: Critical, Type: Bug, Type: Task

#4251 Add an option to use the nightly RPMs for an install
  VagrantProvisionCentOS7Rpm.sh
  Vagrantfile
  docker/hoot_commandline/Dockerfile
  docker/hoot_commandline/build_image.sh
  docker/hoot_commandline/test_image.sh
Labels: Category: Core, Category: Install, Priority: Medium, Status: Ready for Test, Type: Feature

#4254 Update and delete same element in changeset
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  test-files/io/OsmChangesetElementTest/ModifyAndDelete-Expected.osc
  test-files/io/OsmChangesetElementTest/ModifyAndDelete.osc
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4256 Prevent Cut and Replace changesets from containing both delete and modify changes for the same element
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCleaner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCleaner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MultipleChangesetProvider.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MultipleChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/cmd/SplitCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-out.osm
  test-files/cmd/quick/ChangesetReplacementToy2Test.sh
  test-files/cmd/quick/ChangesetReplacementToy2Test.sh.stderr
  test-files/cmd/quick/ChangesetReplacementToy2Test.sh.stdout
  test-files/cmd/quick/ChangesetReplacementToy2Test/input1.osm
  test-files/cmd/quick/ChangesetReplacementToy2Test/input2.osm
  test-files/cmd/quick/ChangesetReplacementToy2Test/output.osc
Labels: Category: Core, Type: Bug

#4260 Random crash in GPKG translation
  hoot-core-test/src/test/cpp/hoot/core/io/OgrWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  scripts/jenkins/Jenkinsfile
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4263 Report last non-empty changeset ID in `changeset-apply`
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task
