Repository ngageoint/hootenanny, pull requests merged in 2020-04, with the labels that each got.

#3937 Repeated changeset create failures
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/util/HootNetworkUtils.h
  hoot-test/src/main/cpp/hoot/test/ProcessPool.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#3942 PBF output not compatible with external tools
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-hadoop/src/test/cpp/hoot/hadoop/conflate/ConflateDriverTest.cpp
  hoot-hadoop/src/test/cpp/hoot/hadoop/tile/ConflatorTest.cpp
  test-files/ToyTestCombined.osm.pbf
  test-files/ToyTestCombined.pbf
  test-files/cmd/slow/SplitLongWaysTest/SplitLongWaysTestResults.osm.pbf
  test-files/hadoop/conflate/ConflateDriverTest/input.osm.pbf
  test-files/hadoop/conflate/ConflateDriverTest/input.pbf
  test-files/io/OsmPbfReaderTest/OsmPbfPartialReaderMultipleBlobsTest1.osm
  test-files/io/OsmPbfReaderTest/OsmPbfPartialReaderMultipleBlobsTest2.osm
  test-files/io/OsmPbfReaderTest/OsmPbfPartialReaderMultipleBlobsTest3.osm
  test-files/io/OsmPbfReaderTest/OsmPbfPartialReaderMultipleBlobsTest4.osm
  test-files/ui/features/import_export_delete_osm_dataset.feature
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#3953 3924 - logging changes
  README.md
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.cpp
  hoot-core/src/main/cpp/hoot/core/ops/WayJoinerOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidMultilineStringMembersVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidMultilineStringMembersVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
Labels: Category: Core, Type: Maintenance

#3956 Small runtime perf improvement tweaks
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.h
Labels: Category: Core, Type: Maintenance

#3960 3957 - Addition of changeset stats file output options
  docs/commands/changeset-derive-replacement.asciidoc
  docs/commands/changeset-derive.asciidoc
  docs/commands/conflate.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlChangesetFileWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/io/ChangesetStatsFormat.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/schema/ScoreMatrix.h
  hoot-core/src/main/cpp/hoot/core/scoring/TextTable.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/TextTable.h
  test-files/cmd/slow/ChangesetDeriveCmdTest.sh
  test-files/cmd/slow/ChangesetDeriveCmdTest.sh.stdout
  test-files/cmd/slow/ChangesetDeriveCmdTest/changeset-stats-1.json
  test-files/cmd/slow/ChangesetDeriveCmdTest/changeset-stats-2.json
  test-files/cmd/slow/DiffConflateCmdTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
  test-files/cmd/slow/DiffConflateCmdTest/output_changeset_stats.json
  test-files/cmd/slow/DiffConflateCmdTest/output_changeset_stats.tags.json
  test-files/cmd/slow/DiffConflateCmdTest/output_unified_changeset_stats.json
  test-files/io/OsmXmlChangesetFileWriterTest/stats
  test-files/io/OsmXmlChangesetFileWriterTest/stats.json
Labels: Category: Core, Type: Feature

#3964 3954 - Add superfluous conflate op removal to changeset replacement creation
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/conflate/SuperfluousConflateOpRemoverTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/DualHighwaySplitter.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/HighwayCornerSplitter.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/conflate/SuperfluousConflateOpRemover.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SuperfluousConflateOpRemover.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonInvalidReviewNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonInvalidReviewNodeRemover.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/criterion/FilteredByGeometryTypeCriteria.h
  hoot-core/src/main/cpp/hoot/core/criterion/GeometryTypeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/GeometryTypeCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineRemoveOp.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateWayRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/HighwayImpliedDividedMarker.h
  hoot-core/src/main/cpp/hoot/core/ops/OsmMapOperation.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRoundabouts.h
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceRoundabouts.h
  hoot-core/src/main/cpp/hoot/core/ops/RoadCrossingPolyReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RoadCrossingPolyReviewMarker.h
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.h
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousWayRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/UnlikelyIntersectionRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/WayJoinerOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/OneWayRoadStandardizer.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreasVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateWayNodesVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveEmptyAreasVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.h
  hoot-js/src/test/cpp/hoot/js/conflate/SuperfluousConflateOpRemoverJsTest.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRiverbankTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRiverbankTest/ServiceChangesetReplacementRiverbankTest-xml-replaced.osm
Labels: Category: Core, Type: Maintenance

#3973 Fix changeset-derive-replacement crash
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#3980 3978 - Handle many to one area matches
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.cpp
  rules/Area.js
  test-files/cases/differential/area-3978/Config.conf
  test-files/cases/differential/area-3978/Expected.osm
  test-files/cases/differential/area-3978/Input1.osm
  test-files/cases/differential/area-3978/Input2.osm
  test-files/cases/differential/area-3978/README.txt
Labels: Category: Algorithms, Type: Feature

#3984 Fix restriction relations in changeset-derive-replacement
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/CollectionRelationCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/LinearCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/LinearCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementConverter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#3987 3986 - Add memory usage checking
  README.md
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/VersionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.cpp
  hoot-core/src/main/cpp/hoot/core/util/MemoryUsageChecker.cpp
  hoot-core/src/main/cpp/hoot/core/util/MemoryUsageChecker.h
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  tgs/src/main/cpp/tgs/System/SystemInfo.cpp
  tgs/src/main/cpp/tgs/System/SystemInfo.h
  tgs/src/test/cpp/tgs/System/SystemInfoTest.cpp
Labels: Category: Core, Type: Maintenance

#3988 Refactoring and cleanup from 3901
  README.md
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayUtils.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/WayNodeCopier.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ConflatableElementCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/TagUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/TagUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/util/CoordinateExt.h
  hoot-core/src/main/cpp/hoot/core/util/MapProjector.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ElementIdsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MultipleCriterionConsumerVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/WayToIntersectionGeoModifier.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
Labels: Category: Core, Type: Maintenance

#3990 Fail Nodes With Failed Ways
  VagrantProvisionCentOS7.sh
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  test-files/cmd/quick/ServiceDbListMapsCmdTest.sh
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Response-1.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Response-2.osc
  test-files/io/OsmChangesetElementTest/FailWayWithNodes-error.osc
  test-files/io/OsmChangesetElementTest/ToyTestAFailure.osc
Labels: Category: Core, Category: Test, Priority: High, Type: Feature, Type: Task

#3993 Tag keys need to be HTML encoded
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
Labels: Category: Core, Priority: Medium, Type: Bug, Type: Task
