Repository ngageoint/hootenanny, pull requests merged in 2020-01, with the labels that each got.

#3687 Error processing for OsmApiWriter
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Category: Test, Priority: Medium, Type: Maintenance, Type: Task

#3684 Changed the translation assistant so that it uses the first translation.
  translations/translation_assistant.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#3686 Translation fixes
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#3691 Somehow copyright issues from services got into the repo.
  hoot-services/src/main/java/hoot/services/controllers/grail/UpdateDbCommand.java
  hoot-services/src/main/java/hoot/services/controllers/osm/map/DeleteMapResourcesCommand.java
  hoot-services/src/main/java/hoot/services/controllers/osm/map/DeleteMapResourcesCommandFactory.java
  hoot-services/src/main/java/hoot/services/controllers/osm/map/DeleteOlderMapsCommand.java
  hoot-services/src/main/java/hoot/services/controllers/osm/map/DeleteOlderMapsCommandFactory.java
  hoot-services/src/main/java/hoot/services/controllers/osm/map/FolderResource.java
  hoot-services/src/main/java/hoot/services/controllers/osm/map/MapResource.java
  hoot-services/src/main/java/hoot/services/controllers/osm/user/UserResource.java
  hoot-services/src/test/java/hoot/services/controllers/osm/changeset/ChangesetDbWriterTest.java
  hoot-services/src/test/java/hoot/services/job/JobStatusManagerImplTest.java
Labels: Category: Services, Priority: Critical, Type: Maintenance, Type: Task

#3690 Copyright scripts, new decade, new problems
  scripts/copyright/UpdateAllCopyrightHeaders.sh
  scripts/copyright/UpdateCopyrightHeader.py
  scripts/copyright/UpdateDirCopyrightHeaders.sh
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Maintenance, Type: Task

#3689 Changeset closed error
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: Medium, Type: Bug, Type: Task

#3695 Updated coverage scripts to fix failure in Jenkins pipeline
  scripts/cover/coverGcov.sh
Labels: Category: Build, Priority: High, Type: Maintenance, Type: Task

#3699 Setup Jenkins to run a debug build.
  LocalConfig.pri.orig
  VagrantBuild.sh
  scripts/jenkins/Jenkinsfile
Labels: Category: Build, Priority: High, Type: Bug, Type: Task

#3704 Merge duplicate IDs in readers
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  test-files/io/OsmXmlReaderTest/IgnoreDuplicateMergeTest-1.osm
  test-files/io/OsmXmlReaderTest/IgnoreDuplicateMergeTest-2.osm
  test-files/io/OsmXmlReaderTest/IgnoreDuplicateMergeTest.osm
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#3714 POI/Poly keep closest match bug: trying to throw out a non-poi/poly match
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/util/PopulateConsumersJs.h
Labels: Category: Algorithms, Type: Bug

#3717 Disable services tests when no services are enabled
  hoot-core-test/src/test/cpp/hoot/core/auth/ServicesHootServicesLoginManagerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbBulkInserterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbBulkInserterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbSqlChangesetApplierTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbSqlChangesetFileWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/language/HootServicesLanguageDetectorClientTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/language/HootServicesLanguageInfoClientTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/language/HootServicesLanguageInfoResponseParserTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/language/HootServicesTranslatorClientTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Test, Priority: High, Type: Bug, Type: Task

#3725 place_of_worship fix
  translations/UFD_to_OSM.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#3723 Changeset Closed error
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
Labels: Category: Test, Priority: Medium, Type: Maintenance, Type: Task

#3727 3709 - verify translation file path up front
  hoot-core-test/src/test/cpp/hoot/core/io/DataConverterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
Labels: Category: Core, Type: Maintenance

#3732 3731 - poi/poly keep closest thrown out matches fix pt 2
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  test-files/cases/attribute/unifying/poi-polygon-keep-closest-match-only-2/Config.conf
  test-files/cases/attribute/unifying/poi-polygon-keep-closest-match-only-2/Expected.osm
  test-files/cases/attribute/unifying/poi-polygon-keep-closest-match-only-2/Input1.osm
  test-files/cases/attribute/unifying/poi-polygon-keep-closest-match-only-2/Input2.osm
  test-files/cases/attribute/unifying/poi-polygon-keep-closest-match-only-2/README.txt
Labels: Category: Algorithms, Type: Bug

#3733 update jenkinsfile to run services-test-all
  scripts/jenkins/Jenkinsfile
Labels: Category: Build, Type: Maintenance

#3735 Fix generic geometry adv opts
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.h
  hoot-core/src/main/cpp/hoot/core/ops/FindIntersectionsOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ComparatorTagDifferencer.h
  rules/Line.js
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
Labels: Category: UI, Type: Bug

#3728 Ignore duplicate IDs bulk insert
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/SqlBulkInsert.cpp
  hoot-core/src/main/cpp/hoot/core/io/SqlBulkInsert.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#3739 3737 - Fix bad list size assumption in PreserveTypesTagMerger
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PreserveTypesTagMerger.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreaVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveEmptyAreasVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
Labels: Category: Algorithms, Type: Bug

#3724 Use TRUNCATE instead of DELETE FROM
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#3743 Add roundabouts test for changeset replacement derivation
  hoot-core/src/main/cpp/hoot/core/algorithms/FindNodesInWayFactory.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/FindNodesInWayFactory.h
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersChainedTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementPoiStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementPoiStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefFilteredToEmptyTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/Input1.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/Input2.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/ServiceChangesetReplacementRoundaboutsConflateTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#3746 3738 - Error out early if bad operator class names are provided for select config opts
  hoot-core-test/src/test/cpp/hoot/core/util/SettingsTest.cpp
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersChainedTest.sh
  test-files/cmd/quick/ConflateUnknownOptionTest.sh
  test-files/cmd/quick/ConflateUnknownOptionTest.sh.stderr
  test-files/cmd/quick/ConflateUnknownOptionTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#3754 3752 - Make output path if it doesn't exist for conflate and convert commands
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
Labels: Category: Core, Type: Maintenance
