Repository ngageoint/hootenanny, pull requests merged in 2020-10, with the labels that each got.

#4283 Re-enable some C&R tests
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-out.osm
Labels: Category: Core, Category: Test, Type: Maintenance

#4284 Add string bounds task grid gen
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsStringTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsStringTaskGridGenerator.h
Labels: Category: Core, Type: Maintenance

#4286 Reduce the number of relations per chunck to keep 503 errors at bay
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator6.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#4309 Remove bad assert
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator1.cpp
Labels: Category: Core, Type: Maintenance

#4314 Output the last element uploaded in `changeset-apply` status message
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: High, Type: Feature, Type: Task

#4315 Scale the maximal subline match recursion based on river input data
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  docs/commands/generate-alpha-shape.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/river/RiverMaximalSublineSettingOptimizerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator1.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator7.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/FrechetSublineMatcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalNearestSublineMatcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineMatcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/SublineMatcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/SublineStringMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/MultipleSublineMatcherSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/river/RiverMaximalSublineSettingOptimizer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/river/RiverMaximalSublineSettingOptimizer.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-core/src/main/cpp/hoot/core/visitors/LengthOfWaysVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/river/RiverMaximalSublineSettingOptimizerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/river/RiverMaximalSublineSettingOptimizerJs.h
  rules/River.js
  rules/lib/HootLib.js
  test-files/cmd/slow/ConflateCmdStatsGenericRiversTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsTest/generic-rivers-out.osm
Labels: Category: Core, Type: Maintenance

#4318 Make overlap threshold for area reviews configurable
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SmallerOverlapExtractor.h
  rules/Area.js
  rules/River.js
Labels: Category: Core, Type: Feature

#4326 Fix C&R element ID sync issue
  conf/schema/boundary.json
  conf/schema/building.json
  conf/schema/landuse.json
  conf/schema/natural.json
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementDeduplicator.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.h
  hoot-core/src/main/cpp/hoot/core/ops/ElementHashOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ElementHashOp.h
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/badPolyIdSync1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedPointPolyRelationMembers1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-out.osm
  test-files/cmd/glacial/ChangesetReplacementInvalidReviewRelationTest.sh.stdout
  test-files/cmd/glacial/ChangesetReplacementInvalidReviewRelationTest/stats2.json
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/ServiceChangesetReplacementRefSinglePointTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsTest/ServiceChangesetReplacementRoundaboutsTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test/ServiceChangesetReplacementSecFilteredToEmpty2Test-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest/ServiceChangesetReplacementSecFilteredToEmptyTest-xml-replaced.osm
Labels: Category: Algorithms, Type: Bug

#4327 Another C&R element ID sync fix
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EuclideanDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EuclideanDistanceExtractor.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/NodeData.h
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/badPolyIdSync2Test-Input1.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/badPolyIdSync2Test-Input2.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/badPolyIdSync2Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedPointPolyRelationMembers1Test-out.osm
  test-files/cmd/glacial/ChangesetReplacementInvalidReviewRelationTest/stats2.json
Labels: Category: Algorithms, Type: Bug

#4329 Remove logic that prevents POIs with conflated status from being merged with polys
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-js/src/test/cpp/hoot/js/conflate/merging/ElementMergerJsTest.cpp
Labels: Category: Core, Type: Bug

#4330 Clean up SuperfluouseNodeRemover config to prevent dropped C&R nodes
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedPointPolyRelationMembers1Test-out.osm
  test-files/cmd/glacial/PowerLineConflateTest/output.osm
Labels: Category: Core, Type: Bug

#4334 Fix Version Mismatch handling in OsmApiMatchFailure class
  conf/core/AttributeConflation.conf
  conf/core/DifferentialConflation.conf
  conf/core/GrailDifferentialConflation.conf
  conf/core/HorizontalConflation.conf
  conf/core/ReferenceConflation.conf
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core/hoot-core.pro
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4338 Output the last element uploaded in `changeset-apply` status message 2
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4307 Documentation edits
  docs/user/Hootenanny-id.asciidoc
Labels: Category: Documentation, Priority: Low, Status: Ready for Test, Type: Maintenance, hacktoberfest-accepted

#4272 Cleanup how we store tags in o2s_X layers
  conf/services/conflateAdvOps.json
  docs/HootenannyConfigOptions.asciidoc
  hoot-services/src/test/java/hoot/services/utils/DbUtilsTest.java
  test-files/cmd/slow/ConflateNoInfoTest.sh
  test-files/cmd/slow/StatsFileTest.sh.stdout
  test-files/ui/features/advanced_options.feature
  translations/ENCv311_to_OGR.js
  translations/dnc_core.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Low, Status: In Progress, Type: Maintenance, Type: Support, hacktoberfest-accepted

#4340 Added a schema entry with all geometry to landuse.js
  conf/schema/landuse.json
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Support, hacktoberfest-accepted
