Repository ngageoint/hootenanny, pull requests merged in 2020-03, with the labels that each got.

#3861 Add 'diff' option for changeset apply debug output
  docs/commands/diff.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  test-files/cmd/quick/DiffCmdChangesetTest.sh
  test-files/cmd/quick/DiffCmdChangesetTest.sh.stderr
  test-files/cmd/quick/DiffCmdChangesetTest.sh.stdout
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000001-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000001-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000002-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000002-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000005-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000005-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000006-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Failure/OsmApiWriter-000006-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000001-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000001-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000002-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000002-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000003-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000003-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000004-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000004-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000005-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000005-00002-Response-200.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000006-00002-Request--000.osc
  test-files/cmd/quick/DiffCmdChangesetTest/Success/OsmApiWriter-000006-00002-Response-200.osc
Labels: Category: Core, Category: Test, Priority: Critical, Type: Feature, Type: Task

#3865 3864 - Preserve element version in HootApiDbWriter during new element write
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.h
Labels: Category: Core, Type: Maintenance

#3866 Network Request timeout
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
Labels: Category: Core, Priority: Medium, Type: Feature, Type: Task

#3869 3851 - Milford AOI fixes
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetworkExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceRoundabouts.cpp
  test-files/cases/roundabouts/Config.conf
  test-files/cases/roundabouts/README.txt
  test-files/cases/roundabouts/network/Config.conf
  test-files/cases/roundabouts/network/roundabout-001/Expected.osm
  test-files/cases/roundabouts/network/roundabout-001/Input1.osm
  test-files/cases/roundabouts/network/roundabout-001/Input2.osm
  test-files/cases/roundabouts/network/roundabout-001/README.txt
  test-files/cases/roundabouts/network/roundabout-002/Expected.osm
  test-files/cases/roundabouts/network/roundabout-002/Input1.osm
  test-files/cases/roundabouts/network/roundabout-002/Input2.osm
  test-files/cases/roundabouts/network/roundabout-002/README.txt
  test-files/cases/roundabouts/network/roundabout-003/Expected.osm
  test-files/cases/roundabouts/network/roundabout-003/Input1.osm
  test-files/cases/roundabouts/network/roundabout-003/Input2.osm
  test-files/cases/roundabouts/network/roundabout-003/README.txt
  test-files/cases/roundabouts/network/roundabout-connector-conflate-merged-1/Expected.osm
  test-files/cases/roundabouts/network/roundabout-connector-conflate-merged-1/Input1.osm
  test-files/cases/roundabouts/network/roundabout-connector-conflate-merged-1/Input2.osm
  test-files/cases/roundabouts/network/roundabout-connector-conflate-merged-1/README.txt
  test-files/cases/roundabouts/unifying/Config.conf
  test-files/cases/roundabouts/unifying/roundabout-001/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-001/Input1.osm
  test-files/cases/roundabouts/unifying/roundabout-001/Input2.osm
  test-files/cases/roundabouts/unifying/roundabout-001/README.txt
  test-files/cases/roundabouts/unifying/roundabout-002/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-002/Input1.osm
  test-files/cases/roundabouts/unifying/roundabout-002/Input2.osm
  test-files/cases/roundabouts/unifying/roundabout-002/README.txt
  test-files/cases/roundabouts/unifying/roundabout-003/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-003/Input1.osm
  test-files/cases/roundabouts/unifying/roundabout-003/Input2.osm
  test-files/cases/roundabouts/unifying/roundabout-003/README.txt
  test-files/cases/roundabouts/unifying/roundabout-connector-conflate-merged-1.off/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-connector-conflate-merged-1.off/Input1.osm
  test-files/cases/roundabouts/unifying/roundabout-connector-conflate-merged-1.off/Input2.osm
  test-files/cases/roundabouts/unifying/roundabout-connector-conflate-merged-1.off/README.txt
Labels: Category: Algorithms, Type: Bug

#3871 Update Changeset Derive to use the reference version number if different
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ChangesetCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  test-files/algorithms/changeset/ChangesetCreatorTest/ChangesetDeriveUpdateVersion_expected.osc
  test-files/algorithms/changeset/ChangesetCreatorTest/ChangesetDeriveUpdateVersion_ref.osm
  test-files/algorithms/changeset/ChangesetCreatorTest/ChangesetDeriveUpdateVersion_sec.osm
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#3875 Fix DuplicateNodeRemover in convert pipeline
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyMatchScorer.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/util/ConfigUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/ConfigUtils.h
  test-files/cmd/quick/DuplicateNodeRemoverTest.sh
  test-files/cmd/quick/DuplicateNodeRemoverTest.sh.stderr
  test-files/cmd/quick/DuplicateNodeRemoverTest.sh.stdout
  test-files/cmd/quick/DuplicateNodeRemoverTest/input.json
  test-files/cmd/quick/DuplicateNodeRemoverTest/output.json
Labels: Category: Core, Type: Bug

#3878 Differential conflation cannot contain deletes.
  conf/core/DifferentialConflation.conf
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#3882 Performance fix for 3857
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
Labels: Category: Core, Type: Maintenance

#3880 Add translations from translations-local to the Translation Server
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  translations/TranslationServer.js
  translations/test/TranslationServer.js
Labels: Category: Core, Category: Services, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Feature, Type: Suggestion

#3883 3851 - More Milford AOI fixes
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwaySnapMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementComparer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementComparer.h
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceElementOp.cpp
  test-files/algorithms/wayjoiner/WayJoinerAdvancedConflateExpected.osm
  test-files/algorithms/wayjoiner/WayJoinerConflateExpected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/unifying/highway-2927-bridge-1/README.txt
  test-files/cases/network/conflicts/highway-3815/Expected.osm
  test-files/cases/roundabouts/network/roundabout-connector-conflate-merged-1/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-001/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-003/Expected.osm
  test-files/cases/unifying/highway-3815/Expected.osm
  test-files/cases/unifying/highway-search-radius-1/Expected.osm
  test-files/cases/unifying/way-join-missing-parent-1/Config.conf
  test-files/cases/unifying/way-join-missing-parent-1/Expected.osm
  test-files/cases/unifying/way-join-missing-parent-1/Input1.osm
  test-files/cases/unifying/way-join-missing-parent-1/Input2.osm
  test-files/cases/unifying/way-join-missing-parent-1/README.txt
  test-files/cmd/glacial/ConflateCmdHighwayExactMatchInputsTest/output.osm
  test-files/cmd/glacial/PowerLineConflateTest/output.osm
  test-files/cmd/glacial/RubberSheetConflateTest/output.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test/ServiceChangesetReplacementSecFilteredToEmpty2Test-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest/ServiceChangesetReplacementSecFilteredToEmptyTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceConflateDiffTest.sh.off
  test-files/cmd/slow/ConflateCmdStatsTest/all-data-types-out.osm
  test-files/cmd/slow/ConflateCmdStatsTest/toy-roads-out.osm
  test-files/cmd/slow/ConflateCmdTest/output.osm
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
  test-files/cmd/slow/RailwayAttributeConflateTest/output.osm
  test-files/cmd/slow/RailwayConflateTest/output.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output2.osm
Labels: Category: Algorithms, Type: Bug

#3887 Duplicate way node removal fixes
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveDuplicateWayNodesVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateWayNodesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateWayNodesVisitor.h
  test-files/cases/attribute/network/highway-2888-reviews-by-score/Expected.osm
  test-files/cases/attribute/network/highway-2888/Expected.osm
  test-files/cases/attribute/network/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/network/conflicts/highway-3815/Expected.osm
  test-files/cases/network/conflicts/pap-007/Expected.osm
  test-files/cases/network/conflicts/pap-007/README.txt
  test-files/cases/roundabouts/network/roundabout-connector-conflate-merged-1/Expected.osm
  test-files/cases/unifying/highway-3815/Expected.osm
  test-files/cases/unifying/way-join-missing-parent-1/Expected.osm
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdTest/output.osm
  test-files/cmd/glacial/NonContiguousRoadReviewsTest/output.osm
  test-files/cmd/glacial/NonDestructiveTest/Expected.osm
  test-files/cmd/glacial/PowerLineAttributeConflateTest/output.osm
  test-files/cmd/glacial/RubberSheetConflateTest/output.osm
  test-files/cmd/slow/SplitLongWaysTest/SplitLongWaysTestResults.osm.pbf
  test-files/visitors/RemoveDuplicateWayNodesVisitorTest/RemoveDuplicateWayNodesVisitorTest-runValidLoopTest.osm
  test-files/visitors/RemoveDuplicateWayNodesVisitorTest/RemoveDuplicateWayNodesVisitorTest-runValidLoopTestOut.osm
Labels: Category: Algorithms, Type: Bug

#3889 Translations: Layername matching fix
  conf/schema/FCODE.json
  translations/tds61.js
  translations/tds70.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#3891 'changeset-apply' with huge relations fails
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/elements/ElementType.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#3893 3851 - Prevent orphaned turning circles and railway crossings
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/ops/RecursiveElementRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMerger.cpp
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.cpp
  rules/Poi.js
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh.stdout
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
Labels: Category: Algorithms, Type: Bug

#3897 3894 - Wire up Generic Conflation to Differential Conflation workflow
  hoot-core-test/src/test/cpp/hoot/core/criterion/ConflatableElementCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/ConflatableCriteriaVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/BuildingCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/ConflatableElementCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ConflatableElementCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/LinearCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/LinearCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/LinearWaterwayCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/PoiCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/PointCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/PolygonCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/PolygonCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/PowerLineCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/RailwayCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/poi-polygon/PoiPolygonPoiCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/poi-polygon/PoiPolygonPolyCriterion.h
  hoot-core/src/main/cpp/hoot/core/visitors/ConflatableCriteriaVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ConflatableCriteriaVisitor.h
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.cpp
  rules/Area.js
  test-files/cases/differential/generic-3894-1/Expected.osm
  test-files/cases/differential/generic-3894-1/Input1.osm
  test-files/cases/differential/generic-3894-1/Input2.osm
  test-files/cases/differential/generic-3894-1/README.txt
  test-files/cases/differential/reviews-as-matches-off-3387-1/Expected.osm
  test-files/cases/differential/reviews-as-matches-off-3387-1/README.txt
  test-files/cases/differential/roundabout-3580-network-1/Expected.osm
  test-files/cases/differential/roundabout-3580-unifying-1/Expected.osm
  test-files/cmd/slow/DiffConflateCmdTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
  test-files/cmd/slow/DiffConflateCmdTest/output-keep-unconflatable.osm
  test-files/cmd/slow/DiffConflateCmdTest/output.osc
  test-files/cmd/slow/DiffConflateCmdTest/output.osm
  test-files/cmd/slow/DiffConflateCmdTest/output_unified.osc
  test-files/cmd/slow/DiffConflateCmdTest/output_unified.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-output.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-with-ref-output.osm
Labels: Category: Algorithms, Type: Bug

#3902 3895 - Prevent sidewalks from conflating with roads
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagAncestorDifferencer.h
  hoot-core/src/main/cpp/hoot/core/schema/TagFilteredDifferencer.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  test-files/cases/unifying/sidewalk-3895/Expected.osm
  test-files/cases/unifying/sidewalk-3895/Input1.osm
  test-files/cases/unifying/sidewalk-3895/Input2.osm
  test-files/cases/unifying/sidewalk-3895/README.txt
Labels: Category: Algorithms, Type: Bug

#3908 3896 - Add auto-retry for Alpha Shape generation when initial alpha too small
  hoot-core-test/src/test/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGeneratorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonAlphaShapeDistanceExtractor.cpp
Labels: Category: Algorithms, Type: Maintenance

#3910 3876 - Don't conflate temporary roundabout features
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  test-files/cases/roundabouts/unifying/roundabout-001/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-002/Expected.osm
  test-files/cases/roundabouts/unifying/roundabout-003/Expected.osm
Labels: Category: Core, Type: Bug

#3916 Allow for toggling automatic addition of deletion exclusion tags for oob connected ways
  conf/services/conflationTypes.json
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
Labels: Category: Core, Type: Maintenance

#3928 Cleanup as a result of #3923
  docs/commands/conflate.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.h
  test-files/cmd/glacial/serial/ServiceGrailDiffTest.sh.off
Labels: Category: Core, Type: Maintenance

#3927 3885 - Add test for changes requested after #3842
  test-files/cases/network/conflicts/highway-3885/Config.conf
  test-files/cases/network/conflicts/highway-3885/Expected.osm
  test-files/cases/network/conflicts/highway-3885/Input1.osm
  test-files/cases/network/conflicts/highway-3885/Input2.osm
  test-files/cases/network/conflicts/highway-3885/README.txt
Labels: Category: Algorithms, Type: Bug

#3930 3906 - Flag roads for review that cross select polygons after conflation
  conf/core/ConfigOptions.asciidoc
  conf/core/RoadCrossingPolyRules.json
  docs/HootenannyUserGuide.asciidoc
  docs/user/FeatureValidationAndCleaning.asciidoc
  docs/user/PostalAddressUtilities.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/RoadCrossingPolyRule.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/RoadCrossingPolyRule.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.h
  hoot-core/src/main/cpp/hoot/core/criterion/TagAdvancedCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ConstOsmMapConsumer.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmUtils.h
  hoot-core/src/main/cpp/hoot/core/ops/RoadCrossingPolyReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RoadCrossingPolyReviewMarker.h
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/scoring/MatchFeatureExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/util/GeometricRelationship.h
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.h
  test-files/cases/unifying/highway-3906/Expected.osm
  test-files/cases/unifying/highway-3906/Input1.osm
  test-files/cases/unifying/highway-3906/Input2.osm
  test-files/cases/unifying/highway-3906/README.txt
  test-files/cmd/glacial/serial/ServiceConflateDiffTest.sh.off
  test-files/cmd/glacial/serial/ServiceGrailDiffTest.sh.off
Labels: Category: Algorithms, Type: Feature

#3931 CircleCI Image Updates
  .circleci/config.yml
Labels: Category: Build, Category: Test, Type: Maintenance

#3935 Fixed AP020 issue
  translations/mgcp.js
  translations/mgcp_rules.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test
