Repository ngageoint/hootenanny, pull requests merged in 2020-07, with the labels that each got.

#4111 Multiple version failures can grind changeset-upload to a halt
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  test-files/io/OsmChangesetElementTest/VersionFailure-error.osc
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4114 ParallelBoundedApiReader error processing and Qt race conditions
  hoot-core/src/main/cpp/hoot/core/Hoot.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/util/HootNetworkUtils.h
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4116 Create Valgrind Unit Tests Jenkins Job
  VagrantProvisionCentOS7.sh
  Vagrantfile
  hoot-core/hoot-core.pro
  hoot-josm/src/main/cpp/hoot/core/jni/JavaEnvironment.cpp
  scripts/valgrind/Jenkinsfile
  scripts/valgrind/grindsimplify.pl
  scripts/valgrind/hoot_valgrind.supp
  scripts/valgrind/unit_tests.sh
  scripts/valgrind/valgrind_install.sh
  test-files/valgrind_error_count_expected.log
Labels: Category: Core, Category: Test, Priority: Medium, Type: Feature, Type: Task

#4118 Cleanup while working on #4117
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyMatchScorer.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RandomNodeDuplicator.cpp
  hoot-core/src/main/cpp/hoot/core/util/MapProjector.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RandomTagModifier.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/point/PoiSearchRadiusJs.cpp
Labels: Category: Core, Type: Maintenance

#4120 Fix init bug in SetTagValuesVisitor
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyMatchScorer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyOp.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyOp.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RandomNodeDuplicator.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RandomTagModifier.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.cpp
Labels: Category: Core, Type: Bug

#4121 Grail - Cut & Replace: Upload Changeset Error
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4124 Fix point/poly part of geometry-generic-1 tests
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
  test-files/cases/attribute/unifying/geometry-generic-1/Config.conf
  test-files/cases/attribute/unifying/geometry-generic-1/Expected.osm
  test-files/cases/attribute/unifying/geometry-generic-1/Input1-good.osm
  test-files/cases/attribute/unifying/geometry-generic-1/Input1.osm
  test-files/cases/attribute/unifying/geometry-generic-1/Input2-good.osm
  test-files/cases/attribute/unifying/geometry-generic-1/Input2.osm
  test-files/cases/attribute/unifying/geometry-generic-1/README.txt
  test-files/cases/reference/unifying/geometry-generic-1/Config.conf
  test-files/cases/reference/unifying/geometry-generic-1/Expected-good.osm
  test-files/cases/reference/unifying/geometry-generic-1/Expected.osm
  test-files/cases/reference/unifying/geometry-generic-1/Input1-good.osm
  test-files/cases/reference/unifying/geometry-generic-1/Input1.osm
  test-files/cases/reference/unifying/geometry-generic-1/Input2-good.osm
  test-files/cases/reference/unifying/geometry-generic-1/Input2.osm
  test-files/cases/reference/unifying/geometry-generic-1/README.txt
Labels: Category: Core, Type: Bug

#4126 Adjust input for pap-008 case test and re-enable
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchClassification.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  test-files/cases/attribute/unifying/highway/highway-2927-name-preservation-1.off/Expected.osm
  test-files/cases/attribute/unifying/highway/highway-2927-name-preservation-1.off/Input1.osm
  test-files/cases/attribute/unifying/highway/highway-2927-name-preservation-1.off/Input2.osm
  test-files/cases/attribute/unifying/highway/highway-2927-name-preservation-1.off/README.txt
  test-files/cases/reference/network/pap-008.off/README.txt
  test-files/cases/reference/network/pap-008/Expected.osm
  test-files/cases/reference/network/pap-008/Input1.osm
  test-files/cases/reference/network/pap-008/Input2.osm
  test-files/cases/reference/network/pap-008/README.txt
Labels: Category: Test, Type: Maintenance

#4127 Add crop option check to convert command
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  test-files/cases/README
  test-files/cmd/quick/ConvertMissingCropOptsTest.sh
  test-files/cmd/quick/ConvertMissingCropOptsTest.sh.stderr
  test-files/cmd/quick/ConvertMissingCropOptsTest.sh.stdout
Labels: Category: Core, Type: Bug

#4129 Re-enable AddressScoreExtractorTest::additionalTagsTest
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/AddressScoreExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/NormalizeAddressesVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressTagKeys.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressTagKeys.h
Labels: Category: Test, Type: Maintenance

#4130 Reduce changeset-apply errors
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiMatchFailureTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Maintenance

#4131 Make POI/Polygon string comparer configurable and change default implementation
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonNameScoreExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonTypeScoreExtractorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonNameScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonNameScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/string/MeanWordSetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/string/MinSumWordSetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/string/MinSumWordSetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/string/StringDistanceConsumer.h
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-auto-merge-10/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-auto-merge-3/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-auto-merge-4/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-auto-merge-5/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-auto-merge-6/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-auto-merge-9/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-keep-closest-match-only-10/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-keep-closest-match-only-3/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-keep-closest-match-only-4/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-keep-closest-match-only-5/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-keep-closest-match-only-9/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-street-num-1/Expected.osm
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
Labels: Category: Algorithms, Type: Maintenance

#4135 Updated valgrind jenkins test
  scripts/valgrind/Jenkinsfile
  scripts/valgrind/unit_tests.sh
  test-files/valgrind_error_count_expected.log
Labels: Category: Build, Category: Core, Category: Test, Priority: High, Type: Maintenance, Type: Task

#4143 Fix several address parsing and scoring bugs
  conf/core/ConfigOptions.asciidoc
  conf/core/streetTypes
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/AddressScoreExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/criterion/HasAddressCriterionTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AddressScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AddressScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonNameScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonNameScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressTagKeys.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressTagKeys.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-recursive-way-address-3267-1/Config.conf
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-recursive-way-address-3267-1/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-recursive-way-address-3267-1/Input1.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-recursive-way-address-3267-1/Input2.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-recursive-way-address-3267-1/README.txt
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
  test-files/visitors/NormalizeAddressesVisitorTest/gold.osm
Labels: Category: Algorithms, Status: Ready For Review

#4144 Cut and Replace apply can give zero value for version of modify/delete element
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetElementTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  test-files/io/OsmChangesetElementTest/ChangesetErrorFixErrors.osc
  test-files/io/OsmChangesetElementTest/RetryConflictExpected-error.osc
  test-files/io/OsmChangesetElementTest/ToyTestAConflicts.osc
Labels: Category: Core, Category: Test, Priority: Critical, Type: Bug, Type: Task

#4148 OsmNetworkExtractor debug crash
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetworkExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetworkExtractor.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4153 Allow for accumulation of merged secondary tag values with OverwriteTagMerger
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  hoot-core-test/src/test/cpp/hoot/core/schema/OverwriteTagMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwaySnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OverwriteTagMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OverwriteTagMerger.h
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.h
  hoot-core/src/main/cpp/hoot/core/schema/TagMerger.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-1/Config.conf
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-1/Expected.osm
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-1/Input1.osm
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-1/Input2.osm
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-1/README.txt
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-2/Config.conf
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-2/Expected.osm
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-2/Input1.osm
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-2/Input2.osm
  test-files/cases/attribute/unifying/misc/misc-4150-untyped-accumulate-tag-values-2/README.txt
  test-files/cmd/glacial/NetworkConflateCmdTest.sh.stdout
  test-files/cmd/slow/ConflateCmdTest.sh.stdout
  test-files/cmd/slow/ConflateNoInfoTest.sh.stdout
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
Labels: Category: Core, Type: Feature

#4160 Linear features not handled correctly when deriving a cut only changeset
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ElementMergerJs.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictFullTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictFullTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingStrictFullTest/ServiceChangesetReplacementBuildingStrictFullTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyStrictFullTest/ServiceChangesetReplacementDeleteOnlyStrictFullTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementOutOfSpecMixedRelationsTest/ServiceChangesetReplacementOutOfSpecMixedRelationsTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/ServiceChangesetReplacementRefSinglePointTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadStrictFullTest/ServiceChangesetReplacementRoadStrictFullTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoundaboutsConflateTest/ServiceChangesetReplacementRoundaboutsConflateTest-xml-replaced.osm
Labels: Category: Algorithms, Type: Bug

#4161 Cut & Replace: Derive Changeset Failing (1594)
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidMultilineStringMembersVisitor.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4164 Throttle 'changeset-apply' for CGImap-backed databases
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  tgs/src/main/cpp/tgs/Statistics/Random.cpp
Labels: Category: Core, Priority: High, Type: Feature, Type: Task

#4165 Removed controlling_authority tag
  test-files/MGCPv3/AAL015-output.osm
  test-files/MGCPv3/PAL015-output.osm
  test-files/cases/reference/unifying/poi/poi-generic-16/Expected.osm
  test-files/cases/reference/unifying/poi/poi-generic-16/Input2.osm
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest/allCountries-geonames-changeset-add.spark.1
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest/allCountries-geonames-changeset-delete.spark.1
  test-files/cmd/glacial/RndServiceMultiaryPoiIngestCmdTest/allCountries-geonames-output.osm
  test-files/cmd/quick/ConvertCountryandLanguage.js
  test-files/cmd/quick/ConvertCountryandLanguage.js.stderr
  test-files/cmd/quick/ConvertCountryandLanguage.js.stdout
  test-files/cmd/quick/ConvertGeoNames.sh.stdout
  test-files/cmd/slow/GGDMv30/GGDMv30.osm
  test-files/cmd/slow/GGDMv30/orig_GGDMv30.osm
  test-files/cmd/slow/TDSv40/TDSv40.osm
  test-files/cmd/slow/TDSv40/orig_nfdd.osm
  test-files/cmd/slow/TDSv61/TDSv61.osm
  test-files/cmd/slow/TDSv61/orig_NFDDv61.osm
  test-files/translation_assistant/cali-test-tdsv70.osm
  translations/PrintOsmTds.js
  translations/UFD_to_OSM.js
  translations/geonames_core.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
  translations/wpi_rules.js
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: In Progress, Type: Maintenance

#4169 Changeset Apply 410 Error
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiMatchFailureTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootNetworkUtils.h
  test-files/io/OsmChangesetElementTest/ChangesetErrorFixExpected.osc
  test-files/io/OsmChangesetElementTest/ChangesetErrorFixInput.osc
Labels: Category: Core, Priority: High, Type: Bug, Type: Task
