Repository ngageoint/hootenanny, pull requests merged in 2020-02, with the labels that each got.

#3757 Only write debug tags to changesets when writer.include.debug.tags=true
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  test-files/io/ServiceOsmApiDbSqlChangesetFileWriterTest/changeset.osc.sql
Labels: Category: Core, Type: Bug

#3758 Make search radius calculation more memory efficient
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
Labels: Category: Algorithms, Type: Maintenance

#3766 3764 - Add an max upper linear feature limit for rubbersheeting
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.h
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreaVisitor.cpp
  test-files/cmd/slow/CountCmdTest.sh
  test-files/cmd/slow/CountCmdTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#3762 Thicket fixes
  translations/fcode_common.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40_rules.js
  translations/tds61_rules.js
  translations/tds70_rules.js
Labels: Category: Core, Category: Translation, Status: Ready For Review, Type: Bug

#3773 3768 - Remove unnecessary feature copying from diff conflate
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
Labels: Category: Algorithms, Type: Maintenance

#3775 3765 - Make count command work with map consuming criteria
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
  test-files/cmd/slow/CountCmdTest.sh
  test-files/cmd/slow/CountCmdTest.sh.stdout
Labels: Category: Core, Type: Bug

#3779 3772 - Make search radius configurable for POI conflation
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.h
  hoot-core/src/main/cpp/hoot/core/ops/ElementReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ElementReplacer.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.h
  hoot-rnd/src/test/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparatorTest.cpp
  rules/Poi.js
  rules/PowerLine.js
Labels: Category: Algorithms, Type: Feature

#3780 3721 - Remove unused match threshold options
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/InMemoryElementSorter.cpp
  hoot-js/src/test/cpp/hoot/js/conflate/matching/ScriptMatchCreatorTest.cpp
  hoot-js/src/test/cpp/hoot/js/conflate/matching/ScriptMatchTest.cpp
  rules/Area.js
  rules/Line.js
  rules/MultiaryPoiRules.js
  rules/Poi.js
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
  rules/PowerLine.js
  rules/Railway.js
  rules/River.js
  rules/test/LineTest.js
  test-files/cases/hoot-js/poi/Config.conf
Labels: Category: Core, Type: Maintenance

#3781 Make building search radius configurable
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
Labels: Category: Core, Type: Maintenance

#3787 3784 - Handle roundabouts correctly in Attribute Conflation
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRoundabouts.cpp
  test-files/cases/attribute/network/highway-3784-roundabouts-1/Expected.osm
  test-files/cases/attribute/network/highway-3784-roundabouts-1/Input1.osm
  test-files/cases/attribute/network/highway-3784-roundabouts-1/Input2.osm
  test-files/cases/attribute/network/highway-3784-roundabouts-1/README.txt
  test-files/cases/attribute/unifying/highway-3784-roundabouts-1/Expected.osm
  test-files/cases/attribute/unifying/highway-3784-roundabouts-1/Input1.osm
  test-files/cases/attribute/unifying/highway-3784-roundabouts-1/Input2.osm
  test-files/cases/attribute/unifying/highway-3784-roundabouts-1/README.txt
Labels: Category: Algorithms, Type: Bug

#3790 3782 - Change diff conflate to not consider relations as non-conflatable when their children are conflatable
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/BuildingCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/ops/NonConflatableElementRemover.cpp
  test-files/cases/differential/building-3782-relation-member-conflatable-1/Expected.osm
  test-files/cases/differential/building-3782-relation-member-conflatable-1/Input1.osm
  test-files/cases/differential/building-3782-relation-member-conflatable-1/Input2.osm
  test-files/cases/differential/building-3782-relation-member-conflatable-1/README.txt
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
Labels: Category: Algorithms, Type: Bug

#3788 Add '--test-apply' flag to 'changeset-apply' command
  docs/commands/changeset-apply.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  sonar-project.properties
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-1-0001.osc
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-2-0001.osc
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-2-0002.osc
Labels: Category: Core, Category: Test, Priority: High, Type: Feature, Type: Task

#3806 Changeset apply output files
  conf/core/ConfigOptions.asciidoc
  docs/commands/changeset-apply.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  sonar-project.properties
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-1-0001.osc
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-2-0001.osc
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-2-0002.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Request--1.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Request--2.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Response-1.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Response-2.osc
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#3810 reduce core test parallel
  scripts/jenkins/Jenkinsfile
Labels: Category: Core, Category: Test, Type: Maintenance

#3811 3805 - Don't calc tag diff when not running Differential Conflation w/ Tags
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  test-files/cmd/slow/serial/ServiceDiffNetworkRoadSnapTest.sh.stdout
Labels: Category: Algorithms, Type: Bug

#3813 3803 - Cap the poi/poly cache size
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  conf/services/conflationTypes.json
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AddressScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AddressScoreExtractor.h
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonInfoCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonInfoCache.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/util/MapProjector.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.h
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  test-files/cmd/slow/MgcpTranslationTest.sh
  test-files/ui/features/advanced_options.feature
  tgs/src/main/cpp/tgs/LruCache.h
Labels: Category: Core, Type: Maintenance

#3817 3802 - Changeset replacement derivation not removing features correctly from reference with --full-replacement option
  docs/commands/conflate.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BoundedCommand.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest/ServiceChangesetReplacementDifferingTypesTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest/input1.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDifferingTypesTest/input2.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmpty2Test/ServiceChangesetReplacementSecFilteredToEmpty2Test-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementSecFilteredToEmptyTest/ServiceChangesetReplacementSecFilteredToEmptyTest-xml-replaced.osm
Labels: Category: Algorithms, Type: Bug

#3822 3815 - Remove type=multilinestring only relation restriction on road conflation
  docs/user/OldDocs.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.cpp
  test-files/cases/network/Config.conf
  test-files/cases/network/conflicts/highway-3815/Expected.osm
  test-files/cases/network/conflicts/highway-3815/Input1.osm
  test-files/cases/network/conflicts/highway-3815/Input2.osm
  test-files/cases/network/conflicts/highway-3815/README.txt
  test-files/cases/network/conflicts/pap-009/Expected.osm
  test-files/cases/unifying/highway-3815/Expected.osm
  test-files/cases/unifying/highway-3815/Input1.osm
  test-files/cases/unifying/highway-3815/Input2.osm
  test-files/cases/unifying/highway-3815/README.txt
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
Labels: Category: Algorithms, Type: Bug

#3795 Initial port forwarding fix
  Vagrantfile
Labels: Category: Build, Category: Core, Priority: High, Status: Ready for Test, Type: Bug

#3816 "Core dump" of Changeset Apply commands
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core/src/main/cpp/hoot/core/auth/HootServicesLoginManager.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/language/HootServicesLanguageDetectorClient.cpp
  hoot-core/src/main/cpp/hoot/core/language/HootServicesLanguageInfoClient.cpp
  hoot-core/src/main/cpp/hoot/core/language/HootServicesTranslatorClient.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootNetworkUtils.h
  hoot-core/src/main/cpp/hoot/core/util/OsmApiUtils.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#3825 3807 - Optimize generic geometry isMatchCandidate checks
  hoot-core-test/src/test/cpp/hoot/core/ops/CalculateStatsOpTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ConflatableElementCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ConflatableElementCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/GeometryTypeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/GeometryTypeCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NonConflatableCriterion.h
  hoot-js/src/main/cpp/hoot/js/schema/OsmSchemaJs.cpp
  rules/Line.js
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
  rules/lib/HootLib.js
  test-files/cases/network/conflicts/highway-3815/Expected.osm
  test-files/cases/unifying/highway-3815/Expected.osm
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest/output.tags.osc
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
  test-files/utils/MultipolygonStress.osm
Labels: Category: Algorithms, Type: Maintenance

#3831 Fix bad merge osmapiwriter
  conf/core/ConfigOptions.asciidoc
  docs/commands/changeset-apply.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-services/src/main/java/hoot/services/controllers/grail/ApplyChangesetCommand.java
  sonar-project.properties
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-1-0001.osc
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-2-0001.osc
  test-files/io/OsmChangesetElementTest/ApplyChangesetTest-Expected-2-0002.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Request--1.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Request--2.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Response-1.osc
  test-files/io/OsmChangesetElementTest/ChangesetOutput-Response-2.osc
Labels: Category: Core, Priority: Critical, Type: Maintenance, Type: Task

#3847 Disable sonar scans on PRs temporarily
  scripts/jenkins/Jenkinsfile
Labels: Category: Build, Category: Test, Priority: Critical, Type: Maintenance, Type: Task

#3842 Add duplicate way removal as a post conflate op
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  test-files/cases/unifying/highway-3829/Config.conf
  test-files/cases/unifying/highway-3829/Expected.osm
  test-files/cases/unifying/highway-3829/Input1.osm
  test-files/cases/unifying/highway-3829/Input2.osm
  test-files/cases/unifying/highway-3829/README.txt
  test-files/cmd/glacial/RubberSheetConflateTest.sh
  test-files/cmd/glacial/RubberSheetConflateTest/output.osm
  test-files/cmd/slow/CountCmdTest.sh.stdout
Labels: Category: Core, Type: Maintenance
