Repository ngageoint/hootenanny, pull requests merged in 2020-05, with the labels that each got.

#4002 Fix failure to generate alpha shape when ref points map filtered down to a single point
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/PointsToPolysConverter.h
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/ServiceChangesetReplacementRefSinglePointTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/input1.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRefSinglePointTest/input2.osm
Labels: Category: Algorithms, Type: Bug

#4004 3991 - Add option to review snapped or snappable unconnected ways
  conf/core/ConfigOptions.asciidoc
  docs/commands/changeset-derive-replacement.asciidoc
  docs/user/CommandLineExamples.asciidoc
  docs/user/SnapUnconnectedWays.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/ops/UnconnectedWaySnapperTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/review/ReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.h
  test-files/ops/UnconnectedWaySnapper/runMarkOnlyTestOut.osm
  test-files/ops/UnconnectedWaySnapper/runReviewSnappedTestOut.osm
Labels: Category: Core, Type: Feature

#4006 ElementConverter::convertToLineString() failure
  hoot-core/src/main/cpp/hoot/core/ops/SmallHighwayMerger.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4007 4005 - Add auto-retry and timeout threshold to node density tile bounds calc
  docs/commands/node-density-tiles.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityTilesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SearchBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.h
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileUtils.h
  hoot-core/src/main/cpp/hoot/core/io/TileBoundsWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/TileBoundsWriter.h
  hoot-core/src/main/cpp/hoot/core/io/schema/FieldDefinition.h
  hoot-core/src/main/cpp/hoot/core/util/AssertionFailedException.h
  hoot-rnd/src/main/cpp/hoot/rnd/ops/RandomMapCropper.cpp
  hoot-services/src/main/java/hoot/services/controllers/export/CalculateTilesCommand.java
  hoot-services/src/test/java/hoot/services/controllers/export/CalculateTilesCommandTest.java
  test-files/cmd/glacial/RndCropRandomCommandTest.sh.stdout
  test-files/cmd/slow/NodeDensityTilesCmdTest.sh
  test-files/cmd/slow/NodeDensityTilesCmdTest.sh.stdout
  test-files/cmd/slow/NodeDensityTilesCmdTest/output-retry.geojson
  test-files/cmd/slow/NodeDensityTilesCmdTest/output-small.geojson
  test-files/cmd/slow/serial/ServiceNodeDensityTilesCmdTest.sh
Labels: Category: Core, Type: Maintenance

#4010 temp log debugging and doc fixes
  docs/commands/node-density-tiles.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
Labels: Category: Core, Type: Maintenance

#3974 Translation fixes for preserving tag values
  test-files/cmd/slow/GGDMv30TranslationTest.sh
  translations/DNC.js
  translations/GAIT.js
  translations/GGDMv30.js
  translations/GIFD_D4.js
  translations/GeoNames.js
  translations/OSM_Ingest.js
  translations/OSM_to_english.js
  translations/OSM_to_englishGGDM30.js
  translations/OSM_to_englishMGCP.js
  translations/OSM_to_englishTDS.js
  translations/OSM_to_englishTDS61.js
  translations/PrintOsmDocs.js
  translations/PrintTDSCsv.js
  translations/RenderDb.js
  translations/RenderDb_to_MGCP.js
  translations/RenderDb_to_TDS40.js
  translations/RenderDb_to_TDS61.js
  translations/SchemaTools.js
  translations/TDSv40.js
  translations/TDSv61.js
  translations/TDSv70.js
  translations/UFD_to_OSM.js
  translations/WorldPortIndex.js
  translations/dnc_core.js
  translations/dnc_rules.js
  translations/eggdm30.js
  translations/eggdm30_osm.js
  translations/emgcp.js
  translations/emgcp_osm.js
  translations/englishGGDM30_to_OSM.js
  translations/englishMGCP_to_OSM.js
  translations/englishTDS61_to_OSM.js
  translations/englishTDS_to_OSM.js
  translations/etds40.js
  translations/etds40_osm.js
  translations/etds61.js
  translations/etds61_osm.js
  translations/etds70.js
  translations/etds70_osm.js
  translations/geonames_core.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
  translations/wpi_rules.js
Labels: Category: Core, Category: Schema, Category: Translation

#4013 Some datasets get into an infinite loop at 99% complete
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4021 Don't allow commands to create an output dir for a URL target
  hoot-core-test/src/test/cpp/hoot/core/io/DataConverterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
Labels: Category: Core, Type: Bug

#4020 Start the changeset worker threads when changeset creation stalls
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetElementTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/ApiTagTruncateVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ApiTagTruncateVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ApiTagTruncateVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SplitNameVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SplitNameVisitor.h
Labels: Category: Core, Category: Test, Priority: High, Type: Bug, Type: Task

#4023 Fix broken builds
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  scripts/jenkins/Jenkinsfile
Labels: Category: Build, Category: Core, Category: Test, Priority: High, Type: Maintenance, Type: Task

#3947 Testing virtual override detection in the qube.
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/FeatureExtractorBase.h
  hoot-core/src/main/cpp/hoot/core/elements/ConstElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/elements/ConstOsmMapConsumer.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementConstOsmMapVisitor.h
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4042 3701 - Standardize completed message for commands
  hoot-core/src/main/cpp/hoot/core/cmd/BuildModelCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CleanCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CookieCutCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbDeleteMapCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ExtentCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/GenerateAlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ImplicitTypeTaggingRulesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/IsSortedCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityPlotCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/NodeDensityTilesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/PertyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/RubberSheetCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SortCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SplitMapCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagCompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagInfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/WriteNameCountsCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CumulativeConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/EvalPointMovesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryPoiConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryPoiIngestCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryScorePoiMatchesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ScoreMatchesDiffCmd.cpp
Labels: Category: Core, Type: Maintenance

#4043 3830 - Prevent stats calculation from triggering auto search radius calculation
  conf/core/GenericStats.json
  hoot-core-test/src/test/cpp/hoot/core/ops/CalculateStatsOpTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslatedTagCountVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  rules/Railway.js
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsGenericRiversTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyBuildingsTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyRoadsTest.sh.stdout
  test-files/cmd/slow/ConflatePoiStatsTest.sh.stdout
  test-files/cmd/slow/StatsFileTest.sh.stdout
Labels: Category: Core, Type: Maintenance
