Repository ngageoint/hootenanny, pull requests merged in 2020-11, with the labels that each got.

#4347 Building schema fix
  conf/schema/building.json
Labels: Category: Schema, Type: Bug

#4345 NaN values in stats
  hoot-core/src/main/cpp/hoot/core/io/MapStatsWriter.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslatedTagCountVisitor.cpp
  test-files/cmd/slow/StatsFileTest.sh.stdout
Labels: Category: Core, Priority: Medium, Type: Bug, Type: Task

#4349 Add alternative way to handle poi/poly matches conflicting with poi/poi matches
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.h
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1/README.txt
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1a/Config.conf
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1a/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1a/Input1.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1a/Input2.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1a/README.txt
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1b/Config.conf
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1b/Expected.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1b/Input1.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1b/Input2.osm
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-1b/README.txt
Labels: Category: Core, Type: Maintenance

#4353 Refactor HTTP_GONE to respond correctly to single deleted elements.
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4355 Add conditional for services code in rnd test
  hoot-rnd/src/test/cpp/hoot/rnd/auth/ServicesHootServicesLoginManagerTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/language/HootServicesLanguageDetectorClientTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/language/HootServicesTranslatorClientTest.cpp
Labels: Category: Core, Category: Test, Type: Maintenance

#4354 Added the product type to wells
  translations/UFD_to_OSM.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
Labels: Category: CWS, Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review

#4363 Add progress reporting to Cut and Replace
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacement.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
Labels: Category: Core, Type: Maintenance

#4365 Report non-relation deletes
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4372 Remove ref tags from diff conflate output
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  test-files/cmd/slow/DiffConflateCmdTest/snapped-output.osm
  test-files/cmd/slow/DiffConflateCmdTest/snapped-with-ref-output.osm
  test-files/cmd/slow/serial/ServiceDiffNetworkRoadSnapTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffNetworkRoadSnapTest/out.osm
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest/out.osm
Labels: Category: Core, Type: Maintenance

#4373 Improve type matching for waterways
  conf/core/ConfigOptions.asciidoc
  conf/schema/waterway.json
  rules/Area.js
  rules/CollectionRelation.js
  rules/Line.js
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
  rules/River.js
Labels: Category: Algorithms, Type: Bug

#4377 Fix API DB read cropping for C&R
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BoundedCommand.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BoundedCommand.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedPointPolyRelationMembers1Test-out.osm
Labels: Category: Core, Type: Bug

#4386 Improve many to one area matching
  conf/core/ConfigOptions.asciidoc
  conf/schema/landuse.json
  conf/schema/natural.json
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.cpp
  rules/Area.js
  rules/Polygon.js
  test-files/cases/differential/unifying/area/area-3978-1/Config.conf
  test-files/cases/differential/unifying/area/area-3978-1/Expected.osm
  test-files/cases/differential/unifying/area/area-3978-1/Input1.osm
  test-files/cases/differential/unifying/area/area-3978-1/Input2.osm
  test-files/cases/differential/unifying/area/area-3978-1/README.txt
  test-files/cases/differential/unifying/area/area-4379-1/Expected.osm
  test-files/cases/differential/unifying/area/area-4379-1/Input1.osm
  test-files/cases/differential/unifying/area/area-4379-1/Input2.osm
  test-files/cases/differential/unifying/area/area-4379-1/README.txt
Labels: Category: Algorithms, Type: Bug

#4381 Updates to failure handling for changeset-apply
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiMatchFailureTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiMatchFailure.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Category: Core, Priority: Critical, Type: Bug, Type: Task

#4390 Task 382 Cell 44 causes a timeout error
  conf/core/ApplyChangeset.conf
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-rnd/src/main/cpp/hoot/rnd/auth/HootServicesLoginManager.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/auth/HootServicesLoginManager.h
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageDetectorClient.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageDetectorClient.h
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageInfoClient.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageInfoClient.h
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesTranslatorClient.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesTranslatorClient.h
  hoot-services/src/main/java/hoot/services/controllers/grail/ApplyChangesetCommand.java
Labels: Category: Core, Category: UI, Priority: Critical, Type: Bug, Type: Maintenance, Type: Task

#4383 Added checking for lowercase attributes
  test-files/cmd/slow/MgcpTranslationTest.sh
  test-files/cmd/slow/o2sTranslationTest.sh
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug

#4396 pre-refactoring for 4376
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/geometry/RelationToMultiPolygonConverterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/test/ConflateCaseTestSuite.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/RelationMemberSimilarityExtractor.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/elements/CommonElementIdFinder.cpp
  hoot-core/src/main/cpp/hoot/core/elements/CommonElementIdFinder.h
  hoot-core/src/main/cpp/hoot/core/elements/MapProjector.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberComparison.h
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryToElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.h
  hoot-core/src/main/cpp/hoot/core/ops/ElementIdRemapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ElementIdRemapper.h
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.cpp
  hoot-core/src/main/cpp/hoot/core/util/IdGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/util/IdGenerator.h
  hoot-test/src/main/cpp/hoot/test/ScriptTestSuite.cpp
Labels: Category: Core, Type: Maintenance

#4398 Fix C&R NPE's from recent changes when running the large test
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ImmediatelyConnectedOutOfBoundsWayTagger.cpp
Labels: Category: Core, Type: Bug

#4401 Better error messages for timed-out network requests
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task
