Repository ngageoint/hootenanny, pull requests merged in 2021-06, with the labels that each got.

#4816 Cleanup and documentation as a result of aborted 3047 change
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  rules/Area.js
  rules/Line.js
  rules/MultiaryPoi.js
  rules/MultiaryPoiRules.js
  rules/Poi.js
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
  rules/PowerLine.js
  rules/Railway.js
  rules/Relation.js
  rules/River.js
Labels: Category: Core, Type: Maintenance

#4814 Minor diff partial match removal doc and logging update
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/criterion/NodeCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NodeCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/RelationCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/RelationCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/WayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/WayCriterion.h
Labels: Category: Core, Type: Maintenance

#4819 Add global namespace to ops read from config automatically
  hoot-core-test/src/test/cpp/hoot/core/util/SettingsTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/util/Factory.cpp
  hoot-core/src/main/cpp/hoot/core/util/Factory.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
  test-files/cmd/slow/OpNoNamespaceTest.sh
  test-files/cmd/slow/OpNoNamespaceTest.sh.stderr
  test-files/cmd/slow/OpNoNamespaceTest.sh.stdout
  test-files/cmd/slow/OpNoNamespaceTest/conflate-out.osm
  test-files/cmd/slow/OpNoNamespaceTest/convert-out.osm
Labels: Category: Core, Type: Maintenance

#4824 DevToolSet maintenance
  VagrantProvisionCentOS7.sh
  scripts/HootEnv.sh
  test-files/jakarta_raya_coastline.js
Labels: Category: Build, Category: Core, Priority: High, Type: Maintenance, Type: Task

#4825 Remove conflict params from the SQL changeset writer
  docs/commands/changeset-apply.asciidoc
  docs/commands/score-matches.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/matching/MatchScorerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbSqlChangesetApplierTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BuildModelCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CutCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbDeleteCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ExtentCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/IsSortedCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SchemaCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagCompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagInfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TaskGridCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/VersionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchScorer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchScorer.h
  hoot-core/src/main/cpp/hoot/core/elements/SortedElementsValidator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/SortedElementsValidator.h
  hoot-core/src/main/cpp/hoot/core/info/ElementCounter.cpp
  hoot-core/src/main/cpp/hoot/core/info/ElementCounter.h
  hoot-core/src/main/cpp/hoot/core/info/StatCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/info/StatCalculator.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/PlotNodeDensityCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/util/NodeDensityPlotter.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/util/NodeDensityPlotter.h
  test-files/cmd/glacial/ScoreMatchesCmdTest.sh
  test-files/cmd/glacial/ScoreMatchesCmdTest.sh.stdout
  test-files/cmd/glacial/ScoreMatchesCmdTest/output-1.osm
  test-files/cmd/glacial/ScoreMatchesCmdTest/output-2.osm
Labels: Category: Core, Type: Maintenance

#4826 Remove unused diff conflate stats code
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/visitors/CriterionCountVisitor.h
  test-files/ui/features/conflate_differential.feature
Labels: Category: Core, Type: Maintenance

#4831 Add class name filtering for debug map writing
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/ReplacementSnappedWayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineRemover.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineRemover.h
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyMatchScorer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyMatchScorer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyOp.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.h
  hoot-core/src/main/cpp/hoot/core/conflate/CookieCutter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearDiffMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/RelationMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/RelationMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
  hoot-core/src/main/cpp/hoot/core/io/NodeDensityTaskGridWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/NodeDensityTaskGridWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.h
  hoot-core/src/main/cpp/hoot/core/ops/CookieCutterOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/OpExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveRoundabouts.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceRoundabouts.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
Labels: Category: Core, Type: Maintenance

#4832 Add wildcard and exclude filters for logging
  conf/core/ConfigOptions.asciidoc
  docs/HootenannyDeveloperGuide.asciidoc
  docs/developer/HootenannyDebugging.asciidoc
  hoot-core/src/main/cpp/hoot/core/algorithms/BufferedLineSegmentIntersector.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.h
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  scripts/core/MergeElements.js
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds1Test.sh
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds2Test.sh
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds3Test.sh
  test-files/cmd/slow/serial/ServiceDiffRoadSnapTest.sh.off
Labels: Category: Core, Type: Maintenance

#4833 Install command help
  Makefile.am
Labels: Category: Core, Category: Documentation, Priority: Critical, Type: Bug, Type: Task

#4838 Add multiple criterion support to `count` and `tag-distribution` commands
  conf/core/ConfigOptions.asciidoc
  docs/commands/count.asciidoc
  docs/commands/stat.asciidoc
  docs/commands/tag-distribution.asciidoc
  docs/commands/tag-info.asciidoc
  docs/developer/HootenannyManualConflation.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ChainCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.h
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/OrCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/info/ElementCounter.cpp
  hoot-core/src/main/cpp/hoot/core/info/ElementCounter.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.h
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.h
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/NodesPerWayVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SetTagValueVisitor.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds3Test.sh
  test-files/cmd/slow/CountCmdTest.sh
  test-files/cmd/slow/CountCmdTest.sh.stdout
  test-files/cmd/slow/TagDistributionCmdTest.sh
  test-files/cmd/slow/TagDistributionCmdTest.sh.stdout
Labels: Category: Core, Type: Feature

#4850 Clean up `HootTest` output for failures
  hoot-core-test/src/test/cpp/hoot/core/scoring/MatchComparatorTest.cpp
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4851 Standardize input parsing for commands taking in multiple inputs
  docs/commands/clean.asciidoc
  docs/commands/convert.asciidoc
  docs/commands/count.asciidoc
  docs/commands/crop-random.asciidoc
  docs/commands/crop.asciidoc
  docs/commands/db-delete.asciidoc
  docs/commands/extent.asciidoc
  docs/commands/stat.asciidoc
  docs/commands/stats.asciidoc
  docs/commands/tag-distribution.asciidoc
  docs/commands/tag-info.asciidoc
  docs/commands/task-grid.asciidoc
  docs/commands/validate.asciidoc
  docs/user/CommandLineExamples.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/CleanCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbDeleteCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ExtentCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagInfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TaskGridCmd.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ExternalMergeElementSorter.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-josm/src/main/cpp/hoot/core/josm/cmd/ValidateCmd.cpp
  hoot-josm/src/main/cpp/hoot/core/josm/ops/JosmMapValidatorAbstract.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  test-files/cmd/glacial/RndCropRandomCommandTest.sh
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds1Test.sh
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds2Test.sh
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds3Test.sh
  test-files/cmd/glacial/serial/ServiceStreamingApiDbTest.sh
  test-files/cmd/quick/CleanCmdTest.sh
  test-files/cmd/quick/CropCmdTest.sh
  test-files/cmd/quick/CropCmdTest.sh.stdout
  test-files/cmd/quick/CropCmdTest/croppedMultiple.osm
  test-files/cmd/quick/ExtentCmdTest.sh
  test-files/cmd/quick/ExtentCmdTest.sh.stdout
  test-files/cmd/quick/ServiceDbListCmdTest.sh
  test-files/cmd/slow/CountCmdTest.sh
  test-files/cmd/slow/JosmValidateCmdTest.sh
  test-files/cmd/slow/JosmValidateCmdTest.sh.stdout
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/StatCmdTest.sh
  test-files/cmd/slow/StatsCmdTest.sh
  test-files/cmd/slow/TagDistributionCmdTest.sh
  test-files/cmd/slow/TagInfoCmdTest.sh
  test-files/cmd/slow/TagInfoCmdTest.sh.stdout
  test-files/cmd/slow/TaskGridCmdTest.sh
  test-files/ops/JosmMapValidatorTest/runValidateTest-multiple-out.osm
Labels: Category: Core, Type: Maintenance

#4835 Feature/codesmells 3as5276
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementDeduplicator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/MapProjector.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/PolygonCompare.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/matching/ScoreMatchesDiff.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/util/NodeDensityPlotter.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.cpp
Labels: Category: Test, Priority: Medium, Status: Ready For Review, Type: Bug

#4854 Fix PoiPolyAlphaShapeDistanceExtractor
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonAlphaShapeDistanceExtractor.cpp
  test-files/cases/reference/unifying/poi-polygon/poi-polygon-review-conflict-4331-2/Expected.osm
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/glacial/PoiPolygonConflateStandaloneTest/output1.osm
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4860 Fix OGR layer syntax support
  docs/commands/clean.asciidoc
  docs/commands/convert.asciidoc
  docs/commands/count.asciidoc
  docs/commands/crop.asciidoc
  docs/commands/extent.asciidoc
  docs/commands/stat.asciidoc
  docs/commands/stats.asciidoc
  docs/commands/tag-distribution.asciidoc
  docs/commands/tag-info.asciidoc
  docs/commands/validate.asciidoc
  docs/user/CommandLineExamples.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.cpp
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh.stdout
  test-files/cmd/slow/ConvertCmdTest/multi-layer-gdb-single-layer-out.osm
Labels: Category: Core, Type: Bug

#4861 Adds core C++ class docs to build
  .gitignore
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/CoreAPI.dox
  docs/HootenannyDeveloperGuide.asciidoc
  docs/Makefile
  docs/developer/HootenannyAPI.asciidoc
  docs/developer/HootenannyBuild.asciidoc
  docs/developer/HootenannyGrailNotes.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/index/metric-hybrid/FqTreeTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Status.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.cpp
  hoot-josm/src/main/cpp/hoot/josm/cmd/ValidateCmd.cpp
  hoot-josm/src/main/cpp/hoot/josm/jni/JavaEnvironment.cpp
  hoot-josm/src/main/cpp/hoot/josm/jni/JavaEnvironment.h
  hoot-josm/src/main/cpp/hoot/josm/jni/JniConversion.cpp
  hoot-josm/src/main/cpp/hoot/josm/jni/JniConversion.h
  hoot-josm/src/main/cpp/hoot/josm/jni/JniUtils.cpp
  hoot-josm/src/main/cpp/hoot/josm/jni/JniUtils.h
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapCleaner.cpp
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapCleaner.h
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidator.cpp
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidator.h
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidatorAbstract.cpp
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidatorAbstract.h
  hoot-josm/src/main/java/hoot/josm/HootOsmReader.java
  hoot-josm/src/main/java/hoot/josm/JosmMapCleaner.java
  hoot-josm/src/main/java/hoot/josm/JosmMapValidator.java
  hoot-josm/src/main/java/hoot/josm/JosmUtils.java
  hoot-josm/src/test/cpp/hoot/josm/ops/JosmMapCleanerTest.cpp
  hoot-josm/src/test/cpp/hoot/josm/ops/JosmMapValidatorTest.cpp
Labels: Category: Build, Category: Documentation, Type: Task
