Repository ngageoint/hootenanny, pull requests merged in 2021-07, with the labels that each got.

#4867 Correct handling of reviews by partial Diff Conflate match removal
  docs/developer/HootenannyDevelopmentProcess.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  test-files/cmd/glacial/DiffConflatePartialLinearMatchTest/output-partial.osm
  test-files/cmd/slow/PowerLineDiffConflateTest/output-partial.osm
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest.sh.stdout
  test-files/cmd/slow/serial/ServiceDiffUnifyingRoadSnapTest/out.osm
  test-files/conflate/ConflateUtilsTest/runWriteDiffTest-out.osm
Labels: Category: Algorithms, Type: Bug

#4870 Some useful stuff from 4701
  docs/Makefile
  docs/developer/HootenannyAPI.asciidoc
  docs/developer/HootenannyCodeDocumentation.asciidoc
  docs/developer/HootenannyDevelopmentProcess.asciidoc
  docs/developer/HootenannyTests.asciidoc
  scripts/jenkins/Jenkinsfile
Labels: Category: Core, Type: Maintenance

#4871 Fix missing ways in GeoJSON MultiLineStrings
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4868 Add test coverage report to PR builds
  Makefile.hoot
  VagrantProvisionCentOS7.sh
  docs/HootenannyDeveloperGuide.asciidoc
  docs/developer/HootenannyAPI.asciidoc
  docs/developer/HootenannyCodeBestPractices.asciidoc
  docs/developer/HootenannyCodeDocumentation.asciidoc
  docs/developer/HootenannyDevelopmentProcess.asciidoc
  docs/developer/HootenannyTests.asciidoc
  scripts/jenkins/Jenkinsfile
Labels: Category: Build, Type: Maintenance

#4883 Fix NPE in `IntersectionSplitter`
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
Labels: Category: Algorithms, Type: Bug

#4886 more sonar fixes
  hoot-core-test/src/test/cpp/hoot/core/algorithms/subline-matching/MaximalSublineTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/elements/OsmMapTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AngleHistogramExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AngleHistogramExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SampledAngleHistogramExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SampledAngleHistogramExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineRemover.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SchemaCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Element.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/InMemoryElementSorter.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/ElementIdRemapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/IdSwapOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.h
  hoot-core/src/main/cpp/hoot/core/schema/ScriptSchemaTranslator.h
  hoot-core/src/main/cpp/hoot/core/schema/ScriptSchemaTranslatorFactory.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ScriptSchemaTranslatorFactory.h
  hoot-core/src/main/cpp/hoot/core/schema/TranslatedTagDifferencer.cpp
  hoot-core/src/main/cpp/hoot/core/util/DefaultIdGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/util/PositiveIdGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.h
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.h
  hoot-js/src/test/cpp/hoot/js/schema/JavaScriptSchemaTranslatorTest.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergeCache.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMerger.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryScoreCache.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparator.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
  tgs/src/main/cpp/tgs/Optimization/NelderMead.h
Labels: Category: Core, Type: Maintenance

#4889 Add an element status filtering option to translation
  conf/core/ConfigOptions.asciidoc
  docs/developer/HootenannyCodeBestPractices.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.h
  hoot-core/src/main/cpp/hoot/core/criterion/ChainCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/NotCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/OrCriterion.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.h
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.h
  hoot-core/src/main/cpp/hoot/core/util/Factory.h
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.h
  test-files/cmd/slow/ConflateInlineTranslationTest.sh
  test-files/cmd/slow/ConflateInlineTranslationTest.sh.stderr
  test-files/cmd/slow/ConflateInlineTranslationTest.sh.stdout
  test-files/cmd/slow/ConflateInlineTranslationTest/input1.osm
  test-files/cmd/slow/ConflateInlineTranslationTest/input2.osm
  test-files/cmd/slow/ConflateInlineTranslationTest/out.osm
  test-files/cmd/slow/ConflateInlineTranslationTest/translation-script.js
Labels: Category: Core, Type: Feature
