Repository ngageoint/hootenanny, pull requests merged in 2021-01, with the labels that each got.

#4440 Tree row fixes
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Feature, Type: Support

#4445 Increase allowed recursion complexity for MaximalSubline
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.h
Labels: Category: Core, Type: Maintenance

#4450 Re-enable sonar scanning
  scripts/jenkins/Jenkinsfile
  scripts/sonar/sonar-install.sh
Labels: Category: Build, Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4454 Small translation fixes
  conf/schema/military.json
  conf/translations/TDSv70_Features.csv.gz
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.cpp
  translations/dnc_core.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/translate.js
Labels: Category: CWS, Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug, Type: Maintenance

#4455 Regression test failures
  scripts/core/osm2ogrscript
  test-files/cmd/glacial/ServiceExportOsm.sh
  translations/tds61.js
Labels: Category: Core, Category: Test, Priority: Critical, Type: Bug, Type: Task

#4457 Fix qube major bugs
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/schema/OsmSchemaTest.cpp
  hoot-core/src/main/cpp/hoot/core/Hoot.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AttributeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonTypeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchGraph.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/DirectedGraph.cpp
  hoot-js/src/main/cpp/hoot/js/util/RequireJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryScorePoiMatchesCmd.cpp
  hoot-test/src/main/cpp/hoot/test/ScriptTestSuite.cpp
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/RStarTreePrinter.cpp
Labels: Category: Core, Priority: Medium, Type: Bug, Type: Maintenance, Type: Task

#4460 Cache rubbersheeting result from conflate pre op to pass to search radius calc
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/ops/CopyMapSubsetOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
  test-files/cmd/glacial/PowerLineConflateTest/output.osm
Labels: Category: Core, Priority: Low, Status: Defined, Type: Maintenance

#4462 FilteredVisitor memory leaks
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/elements/VersionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/FindStreetIntersectionsByName.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.h
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4470 Copyright errors
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/WayStringTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/subline-matching/MaximalSublineTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/criterion/InBoundsCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/geometry/ElementToGeometryConverterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlChangesetFileWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbSqlChangesetFileWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/RelationMemberSimilarityExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/MultiLineStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkEdge.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/LinearWaterwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ParallelWayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidRelationVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/ops/OsmMapOperationJs.h
Labels: Category: Core, Priority: Critical, Type: Maintenance, Type: Task

#4474 Qube major bug fixes
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddMeasurementTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/PolyClusterGeoModifierAction.cpp
  tgs/src/main/cpp/tgs/RStarTree/KnnIterator.h
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4478 Refactor ConflateCmd
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/Conflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/Conflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/RoadCrossingPolyRule.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/linear/LinearTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.h
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/NamedOp.h
  hoot-core/src/main/cpp/hoot/core/ops/RoadCrossingPolyReviewMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SuperfluousNodeRemover.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CumulativeConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.h
  test-files/cmd/slow/DiffConflateCmdTest.sh
  test-files/cmd/slow/DiffConflateCmdTest.sh.stdout
Labels: Category: Core, Type: Maintenance
