Repository ngageoint/hootenanny, pull requests merged in 2021-03, with the labels that each got.

#4558 Railway & Schema fixes
  Makefile.hoot
  conf/schema/railway.json
  scripts/schema/ConvertTDSv70Schema_XML.py
  translations/ENCv311_to_OGR.js
  translations/dnc_core.js
  translations/fcode_common.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Bug, Type: Maintenance, Type: Support

#4559 Added new rules to the list in the sonar-project.properties
  sonar-project.properties
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4577 ENC Typo fix
  translations/ENCv311_to_OGR.js
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready for Test, Type: Bug

#4573 SONAR: Minor sonar rules to fix - Inherited functions should not be hidden
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/TestOsmChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCleaner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MultipleChangesetProvider.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/MultiaryIngestChangesetReader.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4574 Minor sonar rules to fix - Inherited functions should not be hidden
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPgCsvWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/SparkJsonWriter.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4572 RnD ports 3/3/21
  README.md
  conf/core/AttributeConflation.conf
  conf/core/ConfigOptions.asciidoc
  conf/core/DifferentialConflation.conf
  conf/core/HorizontalConflation.conf
  conf/core/ReferenceConflation.conf
  conf/core/UnifyingAlgorithm.conf
  conf/services/README
  conf/services/conflateAdvOps.json
  conf/services/conflationAttributeOps.json
  conf/services/conflationTypes.json
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/util/SettingsTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerFactory.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerFactory.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MultipleSublineMatcherSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MultipleSublineMatcherSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/PartialNetworkMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/PartialNetworkMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagMergerFactory.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveElementsVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/LinearSnapMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/LinearSnapMergerJs.h
  hoot-services/src/test/java/hoot/services/controllers/conflation/ConflateCommandTest.java
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-1.off/Expected.osm
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-1.off/Input1.osm
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-1.off/Input2.osm
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-1.off/README.txt
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-2.off/Expected.osm
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-2.off/Input1.osm
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-2.off/Input2.osm
  test-files/cases/attribute/unifying/highway/highway-2927-bridge-2.off/README.txt
  test-files/cases/attribute/unifying/highway/highway-2927-way-member-tags-1.off/Expected.osm
  test-files/cases/attribute/unifying/highway/highway-2927-way-member-tags-1.off/Input1.osm
  test-files/cases/attribute/unifying/highway/highway-2927-way-member-tags-1.off/Input2.osm
  test-files/cases/attribute/unifying/highway/highway-2927-way-member-tags-1.off/README.txt
  test-files/cmd/slow/RailwayAttributeConflateTest/output.osm
Labels: Category: Core, Type: Maintenance

#4593 SONAR: emplace should be preferred over insert
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/AreaMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/PoiMergerJs.cpp
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4592 SONAR: Variables should not be shadowed
  hoot-core/src/main/cpp/hoot/core/algorithms/FrechetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/HighwayCornerSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/string/SqliteWordWeightDictionary.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateInfoCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchGraph.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagAdvancedCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/NodeToWayMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberNodeCounter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.cpp
  hoot-core/src/main/cpp/hoot/core/info/CreatorDescription.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/GeoNamesReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnlikelyIntersectionRemover.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/AttributeComparator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ApiTagTruncateVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/BuildingHeightVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveRef2Visitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
  hoot-js/src/main/cpp/hoot/js/criterion/JsFunctionCriterion.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JsonOsmSchemaLoader.cpp
  hoot-js/src/main/cpp/hoot/js/visitors/JsFunctionVisitor.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/InfoRndCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/ImplicitTagRulesSqliteReader.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageDetectorClient.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/schema/ImplicitTagRulesDatabaseDeriver.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/visitors/ImplicitTypeTaggerBase.cpp
  tgs/src/main/cpp/tgs/Interpolation/BaseInterpolator.cpp
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.cpp
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4595 SONAR: Unused assignments should be removed
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/DualHighwaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageDetectorClient.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4596 SONAR: emplace should be preferred over insert
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/AreaMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/PoiMergerJs.cpp
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4601 SONAR: Replace use of push_back with emplace_back
  hoot-core/src/main/cpp/hoot/core/algorithms/FrechetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringMerger.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayMatchStringMappingConverter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/FrechetSublineMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalNearestSublineMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchGraph.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/RelationMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationData.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryMerger.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMerger.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMerger.cpp
  tgs/src/main/cpp/tgs/RStarTree/DistanceIterator.cpp
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/IntersectionIterator.cpp
  tgs/src/main/cpp/tgs/RStarTree/RStarTree.cpp
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4605 Update DataSummaryTagVisitor
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/DataSummaryTagVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/DataSummaryTagVisitor.h
  test-files/visitors/DataSummaryTagVisitorTest/DataSummaryTagVisitorTestExpected.osm
Labels: Category: Core, Priority: High, Type: Feature, Type: Task

#4606 Rnd ports 3/9/21
  docs/commands/tag-info.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/TagInfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/OpExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveTagsVisitor.cpp
  test-files/cmd/slow/TagInfoCmdTest.sh
  test-files/cmd/slow/TagInfoCmdTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#4611 SONAR: Pass by reference to const should be used for large input parameters
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringMerger.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringMerger.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/NaiveWayMatchStringMapping.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/NaiveWayMatchStringMapping.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayMatchStringMapping.h
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/DirectSequentialSimulation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/DirectSequentialSimulation.h
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PermuteGridCalculator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyOp.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyOp.h
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/BBox.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/BBox.h
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/LongBox.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/LongBox.h
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/Range.h
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.h
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/LegacyVertexMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/LegacyVertexMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatcher.h
  hoot-core/src/main/cpp/hoot/core/criterion/ArbitraryCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/geometry/PolygonCompare.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/PolygonCompare.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.h
  hoot-core/src/main/cpp/hoot/core/ops/MapCleaner.cpp
  hoot-core/src/main/cpp/hoot/core/ops/OpExecutor.h
  hoot-core/src/main/cpp/hoot/core/schema/AttributeCoOccurrence.cpp
  hoot-core/src/main/cpp/hoot/core/util/Progress.cpp
  hoot-core/src/main/cpp/hoot/core/util/ProgressReporter.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SpatialIndexer.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/GeometryModifierVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/GeometryModifierVisitor.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/PlotNodeDensityCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryUtilities.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4613 Handle untyped and site relations better when calculating stats
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/CalculateAreaForStatsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/CalculateAreaForStatsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/CalculateAreaVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/CalculateAreaVisitor.h
Labels: Category: Core, Type: Bug

#4614 SONAR: Minor sonar rules to fix
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonRfClassifier.h
  hoot-core/src/main/cpp/hoot/core/conflate/point/PoiRfClassifier.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/point/PoiRfClassifier.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDbSqlStatementFormatter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbSqlStatementFormatter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlStatementFormatter.h
  hoot-core/src/main/cpp/hoot/core/schema/TranslatedTagDifferencer.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/IterativeEdgeMatcher.h
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/network/IterativeNetworkMatcher.h
  hoot-rnd/src/main/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparator.h
  tbs/src/main/cpp/tbs/optimization/GoldenSectionSearch.h
  tbs/src/main/cpp/tbs/optimization/LineSearch.cpp
  tbs/src/main/cpp/tbs/optimization/LineSearch.h
  tbs/src/main/cpp/tbs/stats/TDistribution.h
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4615 Minor doc/formatting cleanup 3/11/21
  docs/commands/archive/conflate-cumulative.asciidoc
  hoot-cmd/src/main/cpp/hoot/cmd/HelpCmd.cpp
  hoot-core-test/src/test/cpp/hoot/core/cmd/OptimizeConflateTestSettingsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/PerturbCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CumulativeConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryPoiIngestCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryScorePoiMatchesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ScoreMatchesDiffCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/SynchronizeElementIdsCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.h
Labels: Category: Core, Type: Maintenance

#4616 SONAR: Remove redundant casts
  hoot-core/src/main/cpp/hoot/core/algorithms/ExpectationIntersection.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/DirectSequentialSimulation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyTestRunner.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/NodeMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/visitors/ImplicitTypeTaggerBase.cpp
  tgs/src/main/cpp/tgs/RandomForest/InfoGainCalculator.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.cpp
  tgs/src/main/cpp/tgs/System/SystemInfo.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4617 SONAR: #include directives in a file should only be preceded by other preprocessor directives or comments
  hoot-core/src/main/cpp/hoot/core/algorithms/DirectionFinder.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/LineStringAverager.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ProbabilityOfMatch.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayDiscretizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayDiscretizer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SampledAngleHistogramExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/DualHighwaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/HighwayCornerSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/phone/PhoneNumberLocator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ParallelWayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementProvider.h
  hoot-core/src/main/cpp/hoot/core/elements/MapProjector.h
  hoot-core/src/main/cpp/hoot/core/elements/Node.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/CoordinateExt.h
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryToElementConverter.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityInfo.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.cpp
  hoot-core/src/main/cpp/hoot/core/util/Progress.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/PolyClusterGeoModifierAction.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/PolyClusterGeoModifierAction.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/WayToPolyGeoModifierAction.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryReviewCommand.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/MultiaryIngestChangesetWriter.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/SparkChangesetWriter.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/SparkJsonWriter.cpp
  tbs/src/main/cpp/tbs/stats/TDistribution.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
  tgs/src/main/cpp/tgs/Interpolation/Interpolator.h
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/RStarTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.cpp
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.cpp
  tgs/src/main/cpp/tgs/RasterOps/MaxChannelCombiner.cpp
  tgs/src/main/cpp/tgs/StreamUtils.h
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4618 SONAR: Static members should be accessed statically
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/LocationOfPoint.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayString.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AreaCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NeedsReviewCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/NeedsReviewCriterion.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateWayRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/OffsetIntersectionMergerOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveReviewsByEidOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/AttributeCoOccurrence.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.h
  hoot-core/src/main/cpp/hoot/core/scoring/RasterComparator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/CountUniqueReviewsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/CountUniqueReviewsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidMultilineStringMembersVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidRelationVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/WriteNameCountsCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/scoring/multiary/MultiaryMatchComparator.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4621 Fix HighwayCornerSplitter to use the config file and not just the default values
  conf/core/AttributeConflation.conf
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/HighwayCornerSplitter.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4625 SONAR: Memory should not be managed manually
  hoot-core/src/main/cpp/hoot/core/algorithms/LineStringAverager.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayAverager.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/AngleHistogramExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonNameScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.h
  hoot-core/src/main/cpp/hoot/core/criterion/ParallelWayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/index/KnnWayIterator.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/io/ArffReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ArffWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/PbfElementIterator.cpp
  hoot-core/src/main/cpp/hoot/core/io/PbfElementIterator.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  sonar-project.properties
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/HilbertRTree.h
  tgs/src/main/cpp/tgs/RStarTree/RStarTreeWrapper.cpp
  tgs/src/main/cpp/tgs/RStarTree/RStarTreeWrapper.h
Labels: Category: Core, Priority: High, Type: Maintenance, Type: Task

#4626 Additional bug fixes for #4613
  hoot-core-test/src/test/cpp/hoot/core/visitors/AddGeometryTypeVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonAlphaShapeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/merging/BuildingPartPreMergeCollector.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/merging/BuildingPartPreMergeCollector.h
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateInfoCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/Roundabout.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/Building.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/Building.h
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.h
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddGeometryTypeVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreasVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveEmptyAreasVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslatedTagCountVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/UnionPolygonsVisitor.cpp
Labels: Category: Core, Type: Bug

#4629 SONAR: Remove const qualifier on return type of a function
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/elements/ElementComparerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementProvider.h
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/io/ElementCache.h
  hoot-core/src/main/cpp/hoot/core/io/ElementCacheLRU.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementCacheLRU.h
  hoot-core/src/main/cpp/hoot/core/ops/ElementIdRemapper.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/schema/ScriptSchemaTranslator.h
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.h
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.h
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.cpp
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.h
Labels: Category: Core, Priority: Medium, Type: Maintenance, Type: Task

#4650 Add option to run conflate without merging
  conf/core/ConfigOptions.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/scoring/MatchFeatureExtractorTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchThreshold.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchThreshold.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/ConflictsNetworkMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/schema/TagFilteredDifferencer.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchFeatureExtractor.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryScorePoiMatchesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryUtilities.cpp
  test-files/cmd/glacial/ConflateCmdHighwayExactMatchInputsTest/output.osm
  test-files/cmd/glacial/RndMultiaryScorePoiMatchesCmdTest.sh.stdout
  test-files/cmd/glacial/ScoreMatchesCmdTest.sh
  test-files/cmd/glacial/ScoreMatchesCmdTest.sh.stdout
  test-files/cmd/glacial/ScoreMatchesCmdTest/output.osm
  test-files/cmd/slow/ConflateMatchOnlyTest.sh
  test-files/cmd/slow/ConflateMatchOnlyTest.sh.stderr
  test-files/cmd/slow/ConflateMatchOnlyTest.sh.stdout
  test-files/cmd/slow/ConflateMatchOnlyTest/out.osm
Labels: Category: Core, Type: Feature

#4656 Revert change to MatchComparator
  CONTRIBUTING.md
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
Labels: Category: Core, Type: Maintenance

#4658 Fix ScoreMatchesCmdTest
  test-files/cmd/glacial/ScoreMatchesCmdTest/output.osm
Labels: Category: Test, Type: Maintenance

#4688 Align conflate stats calculation with the feature types being conflated
  conf/core/GenericStats.json
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyTestRunner.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SuperfluousConflateOpRemover.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SuperfluousConflateOpRemover.h
  hoot-core/src/main/cpp/hoot/core/conflate/stats/ConflateStatsHelper.h
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/info/CreatorDescription.cpp
  hoot-core/src/main/cpp/hoot/core/info/CreatorDescription.h
  hoot-core/src/main/cpp/hoot/core/info/StatData.h
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CalculateStatsOp.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/FilteredVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MatchCandidateCountVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslatedTagCountVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslatedTagCountVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/MatchFactoryJs.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/MergerFactoryJs.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMergerCreator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMerger.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/multiary/MultiaryPoiMergerCreator.cpp
  test-files/cmd/slow/ConflateCmdStatsGenericRiversTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyBuildingsTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyRoadsTest.sh.stdout
  test-files/cmd/slow/ConflatePoiStatsTest.sh.stdout
  test-files/cmd/slow/StatsFileTest.sh.stdout
Labels: Category: Core, Type: Maintenance

#4700 RnD ports 3/23/21
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/visitors/MultilineStringMergeRelationCollapser.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MultilineStringMergeRelationCollapser.h
  rules/River.js
Labels: Category: Core, Type: Maintenance

#4718 Run to OGR translations streaming by default
  conf/core/ConfigOptions.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.cpp
  hoot-core/src/main/cpp/hoot/core/schema/SchemaUtils.h
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  test-files/cmd/quick/ConvertGeoNames.sh
  translations/tds70.js
Labels: Category: Core, Type: Maintenance
