Repository ngageoint/hootenanny, pull requests merged in 2021-12, with the labels that each got.

#5163 Large GeoJSON files over 1 GB don't load in Hoot
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/ImplicitPoiTypeTaggerTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  test-files/io/GeoJson/SampleObjectsReader.osm
  test-files/nodes.json
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5168 Added config options to the PBF writer
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
Labels: Type: Feature, Type: Support, Category: Core, Priority: Medium, Status: Ready For Review

#5165 Added more test coverage for the OsmApiChangeset classes
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  test-files/io/OsmChangesetElementTest/ToyTestAChangesetFix.osc
  test-files/io/OsmChangesetElementTest/ToyTestAChangesetFromOsm.osc
  test-files/io/OsmChangesetElementTest/ToyTestAChangesetPositive.osc
Labels: Type: Task, Type: Maintenance, Category: Core, Category: Test, Priority: Low

#5170 Enable non translation geojson duplicate node remover
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  test-files/cmd/slow/ConvertCmdTest.sh
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5171 PBF Writer includes debug tags (i.e. error:circular) by default
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5175 OsmApiWriter 503 error
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/ExpectationIntersection.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ExpectationIntersection.h
  hoot-core/src/main/cpp/hoot/core/algorithms/FindNodesInWayFactory.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/FindNodesInWayFactory.h
  hoot-core/src/main/cpp/hoot/core/algorithms/FrechetDistance.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/FrechetDistance.h
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  sonar-project.properties
  tgs/src/main/cpp/tgs/DelaunayTriangulation/DelaunayTriangulation.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5178 Translation fixes
  conf/schema/man_made.json
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddTimestampVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddTimestampVisitor.h
  test-files/MGCPv3/LAN010-output.osm
  test-files/MGCPv3/LAP010-output.osm
  test-files/MGCPv3/LAP030-output.osm
  test-files/MGCPv3/LBH140-output.osm
  test-files/cmd/slow/ConvertCmdTest/combined_shapefile.osm
  test-files/cmd/slow/GGDMv30/GGDMv30.osm
  test-files/cmd/slow/TDSv61/TDSv61.osm
  translations/UFD_to_OSM.js
  translations/dnc_rules.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/test/preserve_unmapped.js
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation, Category: Schema

#5176 OsmApiWriter 503 error
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZCurveRanger.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5182 Fix debug output in PartialOsmMapWriter
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/merging/BuildingPartPreMergeCollector.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/merging/BuildingPartPreMergeCollector.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryMerger.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementTranslatorThread.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementTranslatorThread.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriterThread.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriterThread.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/PartialOsmMapWriter.h
  hoot-core/src/main/cpp/hoot/core/ops/BuildingPartMergeOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ScriptToOgrSchemaTranslator.h
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.cpp
  hoot-core/src/main/cpp/hoot/core/util/Factory.cpp
  hoot-core/src/main/cpp/hoot/core/util/Factory.h
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveRef2Visitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveRef2Visitor.h
  hoot-test/src/main/cpp/hoot/test/ProcessPool.cpp
  hoot-test/src/main/cpp/hoot/test/ProcessPool.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5183 Final sonar fixes from prior PR
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  sonar-project.properties
Labels: Type: Task, Type: Maintenance, Category: Core, Category: Test, Priority: Low

#5185 Simplify the coverage generation script
  scripts/cover/coverGcov.sh
Labels: Type: Task, Type: Maintenance, Category: Core, Category: Test, Priority: Medium

#5187 Fix geojson tile bounds error
  hoot-core-test/src/test/cpp/hoot/core/scoring/MatchComparatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/NodeDensityTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/NodeDensityTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/UniformTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TaskGridCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/NodeDensityTaskGridWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/NodeDensityTaskGridWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.h
  test-files/cmd/slow/RoadBridgeTest.sh
  test-files/cmd/slow/TaskGridCmdTest/output-uniform-bounds.geojson
  test-files/cmd/slow/TaskGridCmdTest/output-uniform.geojson
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Priority: High

#5188 DuplicateNodeRemover crash fixed
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5192 Reduced code duplication in OsmMap and fixed all Sonar findings
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5193 Fix formatting and sonar code smells
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/TagComparatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.h
  hoot-core/src/main/cpp/hoot/core/info/SingleStat.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5194 Fix formatting and sonar code smells 2
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/MatchComparatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/Sparse2dMatrix.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/Sparse2dMatrix.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchComparator.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium
