Repository ngageoint/hootenanny, pull requests merged in 2021-09, with the labels that each got.

#5006 Duplicate node remover speedup 3710
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.cpp
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/util/DateTimeUtils.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5000 MGCP Unk values in translation server
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  test-files/MGCPv3/AAL015-output.osm
  test-files/MGCPv3/AEB020-output.osm
  test-files/MGCPv3/AEC030-output.osm
  test-files/cmd/slow/ConvertCmdTest/combined_shapefile.osm
  translations/ENCv311_to_OGR.js
  translations/ENCv311_to_OSM.js
  translations/GeoNames_to_OSM.js
  translations/MGCP_TRD4.js
  translations/MassNh_to_OSM.js
  translations/PrintOsmDocs.js
  translations/PrintOsmTds.js
  translations/PrintTDSCsv.js
  translations/RenderDb.js
  translations/RenderDb_to_MGCP.js
  translations/RenderDb_to_TDS40.js
  translations/RenderDb_to_TDS61.js
  translations/TDSv40.js
  translations/TDSv61.js
  translations/TDSv70.js
  translations/UFD_to_OSM.js
  translations/WorldPortIndex.js
  translations/checkAllFeatures.js
  translations/checkSingleFeature.js
  translations/checkTranslations.js
  translations/dnc_core.js
  translations/eggdm30.js
  translations/eggdm30_osm.js
  translations/emgcp_osm.js
  translations/ggdm30.js
  translations/gifd_d4_core.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/test/TranslationServer.js
  translations/translate.js
Labels: Type: Feature, Type: Maintenance, Type: Support, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation

#5021 Valgrind not working with current hoot
  scripts/tomcat/CopyWebAppsToTomcat.sh
Labels: Type: Bug, Type: Task, Category: Core, Priority: Medium

#5004 Fix text splitting on export
  conf/core/ConfigOptions.asciidoc
  test-files/cmd/slow/GGDMv30TranslationTest.sh
  test-files/cmd/slow/GGDMv30TranslationTest.sh.stdout
  translations/ENCv311_to_OGR.js
  translations/ENCv311_to_OSM.js
  translations/dnc_core.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/translate.js
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: High, Category: Translation, Identified During Regression Testing

#5038 Better config option input error handling for road median and rail one to many workflows
  hoot-core-test/src/test/cpp/hoot/core/conflate/highway/HighwayMatchCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchCreator.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.h
  hoot-js/src/test/cpp/hoot/js/conflate/matching/ScriptMatchCreatorTest.cpp
Labels: Type: Maintenance, Category: Core

#5034 Adding text decorations to logging with `--color` command line argument
  docs/user/CommandLineExamples.asciidoc
  hoot-cmd/src/main/cpp/hoot/cmd/HelpCmd.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/LogColor.cpp
  hoot-core/src/main/cpp/hoot/core/util/LogColor.h
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-test/src/main/cpp/hoot/test/ScriptTest.cpp
  hoot-test/src/main/cpp/hoot/test/ScriptTest.h
  scripts/HootCompletion.sh
Labels: Type: Feature, Type: Task, Category: Core, Priority: Low

#5042 Disable intermittent failing tests for now.
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTest.cpp
Labels: Type: Bug, Type: Task, Category: Core, Category: Test, Priority: High

#5051 Using conf files during export from the UI
  hoot-services/src/main/java/hoot/services/controllers/export/ExportCommand.java
  translations/DNCExport.conf
  translations/MGCP_TRD4_CartographicExport.conf
Labels: Type: Feature, Type: Support, Category: Services, Priority: Medium, Category: Translation

#5050 Minor translation fixes
  test-files/cmd/glacial/SchemaTestGGDM.sh.off
  test-files/cmd/glacial/SchemaTestGGDM.sh.stderr
  test-files/cmd/glacial/SchemaTestGGDM.sh.stdout
  test-files/cmd/glacial/SchemaTestMGCP.sh.off
  test-files/cmd/glacial/SchemaTestMGCP.sh.stderr
  test-files/cmd/glacial/SchemaTestMGCP.sh.stdout
  test-files/cmd/glacial/SchemaTestTDSv4.sh.off
  test-files/cmd/glacial/SchemaTestTDSv4.sh.stderr
  test-files/cmd/glacial/SchemaTestTDSv4.sh.stdout
  test-files/cmd/glacial/SchemaTestTDSv6.sh.off
  test-files/cmd/glacial/SchemaTestTDSv6.sh.stderr
  test-files/cmd/glacial/SchemaTestTDSv6.sh.stdout
  test-files/cmd/glacial/SchemaTestTDSv7.sh.off
  test-files/cmd/glacial/SchemaTestTDSv7.sh.stderr
  test-files/cmd/glacial/SchemaTestTDSv7.sh.stdout
  translations/TranslationServer.js
  translations/dnc_core.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/translate.js
Labels: Type: Feature, Type: Task, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation, Category: Schema
