Repository ngageoint/hootenanny, pull requests merged in 2021-04, with the labels that each got.

#4732 Unit test progress - 3/31/21 - part 2
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayString.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateUtils.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateUtils.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.h
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.h
  hoot-core/src/main/cpp/hoot/core/criterion/WayHeadingVarianceCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/WayLengthCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/ZeroLengthWayCriterion.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementComparison.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementComparison.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/Node.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/SharedWayNodeFinder.cpp
  hoot-core/src/main/cpp/hoot/core/elements/SharedWayNodeFinder.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryToElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryToElementConverter.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/info/CreatorDescription.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.h
  hoot-core/src/main/cpp/hoot/core/ops/DualHighwayMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RemoveDuplicateReviewsOp.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SmallDisconnectedWayRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnlikelyRoadRemover.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagFilter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagFilter.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementIdToTagValueMapper.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ElementIdToTagValueMapper.h
Labels: Category: Test, Type: Maintenance

#4741 Unit test progress - 4/7/21
  docs/commands/de-duplicate.asciidoc
  docs/commands/sync-element-ids.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/WaySublineRemoverTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/ConflateUtilsTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/elements/ElementGeometryUtilsTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/DuplicateNodeRemoverTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/GeneralizeTagMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/TagComparatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ReplacementSnappedWayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ReplacementSnappedWayJoiner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/WaySublineRemover.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/WaySublineRemover.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonRfClassifier.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementDeduplicator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementDeduplicator.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementIdSynchronizer.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ServicesJobStatus.cpp
  hoot-core/src/main/cpp/hoot/core/io/ServicesJobStatus.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateElementMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateElementMarker.h
  hoot-js/src/main/cpp/hoot/js/elements/ElementGeometryUtilsJs.cpp
  hoot-js/src/main/cpp/hoot/js/elements/ElementGeometryUtilsJs.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/DeDuplicateCmd.cpp
  rules/lib/HootLib.js
  test-files/algorithms/splitter/WaySublineRemoverTest/runSplitAtEndTest-out.osm
  test-files/algorithms/splitter/WaySublineRemoverTest/runSplitAtStartTest-out.osm
  test-files/algorithms/splitter/WaySublineRemoverTest/runSplitInTheMiddleTest-out.osm
  test-files/cmd/glacial/RndDeduplicateCmdTest.sh
  test-files/cmd/glacial/RndDeduplicateCmdTest.sh.off
  test-files/cmd/glacial/RndDeduplicateCmdTest.sh.stderr
  test-files/cmd/glacial/RndDeduplicateCmdTest.sh.stdout
  test-files/cmd/glacial/RndDeduplicateCmdTest/out-dual-map-1.osm
  test-files/cmd/glacial/RndDeduplicateCmdTest/out-dual-map-2.osm
  test-files/cmd/glacial/RndDeduplicateCmdTest/out-single-map.osm
  test-files/cmd/glacial/RndSynchronizeElementIdsCmdTest.sh
  test-files/cmd/glacial/RndSynchronizeElementIdsCmdTest.sh.off
  test-files/cmd/glacial/RndSynchronizeElementIdsCmdTest.sh.stderr
  test-files/cmd/glacial/RndSynchronizeElementIdsCmdTest.sh.stdout
  test-files/cmd/glacial/RndSynchronizeElementIdsCmdTest/out.osm
  test-files/cmd/glacial/RndWriteNameCountsCmdTest.sh.off
  test-files/cmd/glacial/RndWriteNameCountsCmdTest.sh.stderr
  test-files/cmd/glacial/RndWriteNameCountsCmdTest.sh.stdout
  test-files/conflate/ConflateUtilsTest/runWriteDiffTest-out.osm
Labels: Category: Test, Type: Maintenance

#4745 GLPK Logging Displayed When Not Desirable
  hoot-core/src/main/cpp/hoot/core/algorithms/optimizer/IntegerProgrammingSolver.cpp
Labels: Category: Core, Priority: Low, Type: Maintenance, Type: Task

#4749 hoot-js cleanup part 2
  hoot-js/src/main/cpp/hoot/js/conflate/review/ReviewMarkerJs.cpp
  hoot-js/src/main/cpp/hoot/js/criterion/JsFunctionCriterion.cpp
  hoot-js/src/main/cpp/hoot/js/criterion/JsFunctionCriterion.h
  hoot-js/src/main/cpp/hoot/js/elements/OsmMapJs.cpp
  hoot-js/src/main/cpp/hoot/js/util/PopulateConsumersJs.h
  rules/lib/HootLib.js
  scripts/cover/coverGcov.sh
  translations/test/ElementCriterionJs.js
  translations/test/OsmMapJs.js
Labels: Category: Core, Type: Maintenance

#4751 Regression test fixes 4/13/21
  conf/schema/highway.json
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchThreshold.h
  hoot-js/src/main/cpp/hoot/js/algorithms/subline-matching/SublineStringMatcherJs.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/matching/ScoreMatchesDiff.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/matching/ScoreMatchesDiffTest.cpp
  test-files/cases/attribute/network/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-way-member-tags-1/Expected.osm
  test-files/cmd/glacial/RndScoreMatchesDiffCmdTest/output
Labels: Category: Test, Type: Maintenance

#4755 Fix use of `JsFunctionCriterion`
  hoot-js/src/main/cpp/hoot/js/criterion/JsFunctionCriterion.cpp
  hoot-js/src/main/cpp/hoot/js/criterion/JsFunctionCriterion.h
  hoot-js/src/main/cpp/hoot/js/util/PopulateConsumersJs.h
  translations/test/ElementGeometryUtilsJs.js
  translations/test/JsFunctionCriterion.js
  translations/test/OsmMapJs.js
Labels: Category: Core, Type: Bug

#4756 Bug fix and refactoring ports from 4311 4/15/21
  hoot-core-test/src/test/cpp/hoot/core/conflate/merging/LinearSnapMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayMatchStringMerger.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/MultiLineStringLocation.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.h
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/WaySublineRemover.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalNearestSublineMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchMembers.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearAverageMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearAverageMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/Merger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MergerBase.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MultipleSublineMatcherSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/MultipleSublineMatcherSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ConflatableElementCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/poi-polygon/PoiPolygonPoiCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/ops/ReplaceElementOp.h
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-js/src/main/cpp/hoot/js/algorithms/subline-matching/SublineStringMatcherJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/LinearSnapMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMerger.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ScriptMergerCreator.cpp
  rules/Area.js
  rules/Poi.js
  rules/Point.js
  rules/PointPolygon.js
  rules/Polygon.js
  rules/Relation.js
  rules/River.js
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest/output1.osm
  test-files/cmd/slow/InfoCmdTest.sh.stdout
  test-files/cmd/slow/RailwayAttributeConflateTest/output.osm
Labels: Category: Core, Type: Bug

#4763 Datasets with negative IDs in Hoot database fail OGR convert
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  test-files/cmd/slow/HootApiDbReaderNegativeIdsStreamTest.sh
  test-files/cmd/slow/HootApiDbReaderNegativeIdsStreamTest.sh.stderr
  test-files/cmd/slow/HootApiDbReaderNegativeIdsStreamTest.sh.stdout
  test-files/jakarta_raya_coastline.js
Labels: Category: Core, Priority: High, Type: Bug, Type: Task

#4771 OSM Reader/Writer filename interface
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/FileUtilsTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsFileTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/NodeDensityTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CleanCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateUtils.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/UnifyingConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearDiffMerger.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ArffWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagDistribution.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.h
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/DeDuplicateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryPoiConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/SynchronizeElementIdsCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/matching/ScoreMatchesDiff.cpp
Labels: Category: Core, Priority: High, Type: Bug, Type: Maintenance, Type: Task
