Repository ngageoint/hootenanny, pull requests merged in 2021-08, with the labels that each got.

#4914 Tweak the DB Setup script
  Vagrantfile
  scripts/database/SetupHootDb.sh
Labels: Category: Core, Category: Install, Category: Services, Priority: Medium, Status: Ready for Test, Type: Maintenance, Type: Support

#4915 Allow for customized cleaning of secondary ways in differential output
  conf/core/ConfigOptions.asciidoc
  conf/services/conflationTypes.json
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/QuantileAggregator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/QuantileAggregator.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/CriterionUtils.h
  hoot-core/src/main/cpp/hoot/core/criterion/WayLengthCriterion.h
  hoot-core/src/main/cpp/hoot/core/info/ElementCounter.cpp
  hoot-core/src/main/cpp/hoot/core/info/ElementCounter.h
  hoot-core/src/main/cpp/hoot/core/visitors/ElementCountVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ElementCountVisitor.h
  test-files/cmd/glacial/DiffConflatePartialLinearMatchTest.sh
  test-files/cmd/glacial/DiffConflatePartialLinearMatchTest/output-partial-cleaned.osm
Labels: Category: Algorithms, Type: Feature

#4917 sonar code smell fixes - 8/2/21
  hoot-core/src/main/cpp/hoot/core/algorithms/BufferedLineSegmentIntersector.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryToElementConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementTranslatorThread.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.h
  hoot-core/src/main/cpp/hoot/core/scoring/MapCompareUtils.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/PolyClusterGeoModifierAction.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/TestUtilsCmd.cpp
Labels: Category: Core, Type: Maintenance

#4902 Remove highway relation matching
  conf/core/ConfigOptions.asciidoc
  docs/developer/HootenannyDebugging.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/rubber-sheet/RubberSheetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/network/OsmNetworkExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/OneWayRoadStandardizerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineMatch.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSublineStringMatcher.h
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchClassification.h
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/HighwayCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/PointCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/ReversedRoadCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmChangesetFileWriter.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.h
  test-files/algorithms/rubber-sheet/RubberSheetIo.osm
  test-files/algorithms/rubber-sheet/RubberSheetSimple.osm
  test-files/cases/attribute/network/highway-2927-bridge-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-name-preservation-1/Expected.osm
  test-files/cases/misc/network/roundabout-connector-conflate-merged-1/Expected.osm
  test-files/cases/reference/unifying/highway/highway-3829/Expected.osm
  test-files/cases/reference/unifying/highway/highway-3829/README.txt
  test-files/cmd/slow/ConflateInlineTranslationTest/out.osm
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest.sh.stdout
  test-files/cmd/slow/NetworkConflateCmdRelationEdgeTest/out.osm
  test-files/visitors/RandomWaySplitterTest/RandomWaySplitterTest-out-2.osm
Labels: Category: Core, Type: Bug

#4896 Allow for overwriting geopackage layers
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementOutputStream.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementOutputStream.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/schema/Schema.h
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.h
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh.stdout
  test-files/cmd/slow/ConvertCmdTest/ToyTestA.gpkg
Labels: Category: Core, Type: Bug

#4921 Add Testing.conf to test
  test-files/cmd/slow/RenderDbTranslationTest.sh
Labels: Category: Test, Type: Maintenance

#4920 Ensure OGR conversions are streamable when applicable - part 1
  hoot-core/src/main/cpp/hoot/core/algorithms/perty/PertyOp.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-core/src/main/cpp/hoot/core/io/ElementOutputStream.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ScriptSchemaTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/OsmFileSorter.cpp
Labels: Category: Core, Type: Maintenance

#4925 Ensure OGR conversions are streamable when applicable - part 2
  docs/commands/crop.asciidoc
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.h
  hoot-core/src/main/cpp/hoot/core/io/ElementTranslatorThread.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementTranslatorThread.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/schema/Feature.h
  hoot-core/src/main/cpp/hoot/core/schema/ScriptToOgrSchemaTranslator.h
  hoot-js/src/test/cpp/hoot/js/schema/JavaScriptSchemaTranslatorTest.cpp
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh.stdout
  test-files/cmd/slow/Osm2OgrTranslation.sh
  test-files/cmd/slow/Osm2OgrTranslation.sh.stdout
  test-files/io/O2sTranslation.js
Labels: Category: Core, Type: Maintenance

#4926 Ensure cache settings are as small as possible for tests
  conf/core/Testing.conf
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
Labels: Category: Test, Type: Maintenance

#4922 Add diff sec way removal criteria error checking
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
Labels: Category: Core, Type: Maintenance

#4928 Test cleanup 8/5/21
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  docs/developer/HootenannyTests.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonDistanceExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMergerCreatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ElementCacheLruTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceHootApiDbTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ExpectationIntersection.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ExpectationIntersection.h
  hoot-core/src/main/cpp/hoot/core/algorithms/string/MostEnglishName.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateInfoCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.h
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonMatch.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriterThread.h
  hoot-core/src/main/cpp/hoot/core/language/ToEnglishTranslateDictionary.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-rnd/src/main/cpp/hoot/rnd/io/ImplicitTagRulesSqliteReader.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/ImplicitTagRulesSqliteWriter.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/io/ImplicitTagRulesSqliteWriter.h
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesLanguageDetectorClient.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/language/HootServicesTranslatorClient.cpp
  scripts/valgrind/unit_tests.sh
  tbs/src/main/cpp/tbs/optimization/GoldenSectionSearch.cpp
  tbs/src/main/cpp/tbs/optimization/GoldenSectionSearch.h
  tbs/src/main/cpp/tbs/stats/TDistribution.cpp
  tbs/src/main/cpp/tbs/stats/TDistribution.h
  test-files/cmd/glacial/ConflateAverageRoadTest.sh
  test-files/cmd/glacial/MgcpTranslationTest.sh
  test-files/cmd/glacial/PoiPolygonConflateCombinedTest.sh
  test-files/cmd/glacial/RndServiceLanguageConvertCmdTest.sh.off
  test-files/cmd/quick/ConvertMissingCropOptsTest.sh
  test-files/cmd/quick/GeometryModifierTest.sh
  test-files/cmd/quick/MergePolygonsConvertCmdTest.sh
  test-files/cmd/quick/regexTranslationAssistantTest.sh
  test-files/cmd/slow/AreaConflateStandaloneTest.sh
  test-files/cmd/slow/ConflateCmdTest.sh
  test-files/cmd/slow/ConflateInlineTranslationTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/GGDMv30TranslationTest.sh
  test-files/cmd/slow/PerturbScoreCmdTest.sh
  test-files/cmd/slow/ServiceHootApiDbConflateTest.sh
  test-files/cmd/slow/TDSv40TranslationTest.sh
  test-files/cmd/slow/TDSv61TranslationTest.sh
  test-files/cmd/slow/archive/BigIteratorTest.sh.off
  test-files/cmd/slow/eTDSTranslationAssistantTest.sh
Labels: Type: Maintenance, Category: Core

#4863 OSMTAGS fixes
  scripts/schema/ConvertTDSv70Schema.py
  test-files/MGCPv3/LAN010-output.osm
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsToyRoadsTest.sh.stdout
  test-files/cmd/slow/GGDMv30/GGDMv30.osm
  test-files/cmd/slow/GGDMv30TranslationTest.sh.stdout
  test-files/cmd/slow/StatsCmdTest.sh.stdout
  test-files/cmd/slow/TDSv40/TDSv40.osm
  test-files/cmd/slow/TDSv61/TDSv61.osm
  test-files/cmd/slow/TDSv61TranslationTest.sh
  test-files/cmd/slow/o2sTranslationTest.sh.stdout
  translations/ENCv311_to_OGR.js
  translations/ENCv311_to_OSM.js
  translations/dnc_core.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/test/TranslationServer.js
  translations/test/pass_thru_unknown.js
  translations/test/preserve_OTH.js
  translations/translate.js
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium, Category: Translation, Status: Ready For Review, Category: Schema

#4936 sonar code smell fixes
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/DualHighwaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/PolyClusterGeoModifierAction.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CumulativeConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.h
  hoot-rnd/src/main/cpp/hoot/rnd/ops/ResolveReviewsOp.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/ops/ResolveReviewsOp.h
Labels: Type: Maintenance, Category: Core

#4937 Sonar fixes 8/9/21 part 2
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/conflate/CumulativeConflator2.h
  hoot-rnd/src/main/cpp/hoot/rnd/ops/ResolveReviewsOp.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/ops/ResolveReviewsOp.h
Labels: Type: Maintenance, Category: Core

#4930 Add support for VSI containers to the `convert` command
  docs/user/CommandLineExamples.asciidoc
  docs/user/SupportedDataFormats.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OgrReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/HttpTestServer.h
  hoot-core/src/main/cpp/hoot/core/cmd/CleanCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbDeleteCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ExtentCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagInfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TaskGridCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.h
  hoot-josm/src/main/cpp/hoot/josm/cmd/ValidateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  test-files/MGCPv3.tar
  test-files/MGCPv3.tar.gz
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh.stdout
  test-files/cmd/slow/ConvertCmdTest/combined_shapefile.osm
  test-files/cmd/slow/Ogr2OsmTranslation.sh
Labels: Type: Feature, Type: Task, Category: Core, Priority: Medium

#4941 Test optimization 8/9/21
  docs/developer/HootenannyTests.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/TestUtils.h
  hoot-core-test/src/test/cpp/hoot/core/algorithms/BufferedLineSegmentIntersectorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayAveragerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayJoinerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayMatchStringMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/BufferedOverlapExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/CentroidDistanceExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/HausdorffDistanceExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonPhoneNumberScoreExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/WayMatchStringMappingConverterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/perty/PertyMatchScorerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/perty/PertyTestRunnerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/LargeWaySplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/subline-matching/MaximalNearestSublineTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/subline-matching/MaximalSublineTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/address/AddressConflateTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/merging/LinearTagOnlyMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/network/EdgeMatchSetFinderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/network/EdgeSublineMatchTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/network/LegacyVertexMatcherTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/point/PoiSearchRadiusTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/criterion/HasPhoneNumberCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/ClosePointHashTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmPbfReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/CookieCutterOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/DuplicateWayRemoverTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/FindIntersectionsOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/MapCleanerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/ReprojectToPlanarOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/SearchRadiusCalculatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/WaySplitterOpTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/MatchComparatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/scoring/MatchFeatureExtractorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/MatchCandidateCountVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/MedianNodeVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/NormalizePhoneNumbersVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/PhoneNumberCountVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/PhoneNumberLocateVisitorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RandomWaySplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveRef2VisitorMultipleCriterionTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/RemoveRef2VisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-josm/src/test/cpp/hoot/josm/ops/JosmMapCleanerTest.cpp
  hoot-josm/src/test/cpp/hoot/josm/ops/JosmMapValidatorTest.cpp
  hoot-js/src/main/cpp/hoot/js/algorithms/extractors/FeatureExtractorJs.cpp
  hoot-js/src/main/cpp/hoot/js/algorithms/extractors/FeatureExtractorJs.h
  hoot-js/src/test/cpp/hoot/js/conflate/merging/ElementMergerJsTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryReviewCommandTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/conflate/multiary/MultiaryUtilitiesTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/ops/ResolveReviewsOpTest.cpp
  hoot-rnd/src/test/cpp/hoot/rnd/visitors/ImplicitPoiTypeTaggerTest.cpp
  hoot-test/src/main/cpp/hoot/test/ScriptTestSuite.cpp
Labels: Type: Maintenance, Category: Test

#4950 Preliminary changes from 3652 and some sonar fixes
  conf/core/ConfigOptions.asciidoc
  docs/commands/clean.asciidoc
  docs/commands/validate.asciidoc
  docs/developer/HootenannyCodeBestPractices.asciidoc
  docs/developer/HootenannyDevelopmentProcess.asciidoc
  docs/user/FeatureValidationAndCleaning.asciidoc
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/SearchRadiusCalculator.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  hoot-josm/src/main/cpp/hoot/josm/jni/JavaEnvironment.cpp
  hoot-josm/src/main/cpp/hoot/josm/jni/JavaEnvironment.h
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidator.h
  hoot-rnd/src/main/cpp/hoot/rnd/ops/ResolveReviewsOp.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/ops/ResolveReviewsOp.h
  scripts/core/make-hoot-josm-java.sh
Labels: Type: Support, Category: Core

#4953 Fixed link to road unifying conflation algo
  docs/algorithms/ConflationAlgsOverview.md
Labels: Type: Bug, Category: Documentation

#4966 Diff conflate bug fix/feature
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/conflate/ConflateUtilsTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchFactory.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RoadCrossingPolyMarker.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/validation/Validator.h
  test-files/cmd/glacial/DiffConflateCmdTest.sh
  test-files/cmd/glacial/DiffConflateCmdTest.sh.stdout
  test-files/cmd/glacial/DiffConflateCmdTest/snapped-output.osm
  test-files/cmd/glacial/DiffConflateCmdTest/snapped-with-all-ref-removed-output.osm
  test-files/cmd/glacial/DiffConflateCmdTest/snapped-with-ref-output.osm
  test-files/conflate/ConflateUtilsTest/runWriteDiffTest-out.osm
Labels: Type: Bug, Type: Feature, Category: Core, Priority: Medium

#4969 Typo fixes and a little more info.
  docs/user/VAGRANT.md
Labels: Category: Core, Category: Documentation, Category: UI

#4927 MGCP road fix
  translations/mgcp.js
  translations/mgcp_rules.js
Labels: Type: Bug, Category: Core, Status: In Progress, Priority: Medium, Category: Translation

#4982 Very basic Dockerfile for a Nightly container
  docker/hoot_commandline_nightly/Dockerfile
  docker/hoot_commandline_nightly/README.md
  docker/hoot_commandline_nightly/build_image.sh
  docker/hoot_commandline_nightly/run_image.sh
Labels: Type: Feature, Category: Build, Category: Core, Status: Ready for Test, Priority: Medium

#5001 Add option to the UI to turn on rubber sheeting for roads with the Unifying alg
  conf/core/ConfigOptions.asciidoc
  conf/core/NetworkAlgorithm.conf
  conf/services/conflationTypes.json
  docs/HootenannyUserGuide.asciidoc
  docs/algorithms/RubberSheeting.asciidoc
  docs/user/RubberSheeting.asciidoc
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.h
Labels: Type: Feature, Category: Core, Category: UI
