Repository ngageoint/hootenanny, pull requests merged in 2021-05, with the labels that each got.

#4767 Added OSMTAGS to TDSv7
  translations/mgcp.js
  translations/tds70.js
Labels: Category: Core, Category: Schema, Category: Translation, Priority: High, Status: Ready for Test, Type: Feature

#4776 Sonar fixes for 4772
  hoot-core/src/main/cpp/hoot/core/criterion/LinearWaterwayCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/LinearWayNodeCriterion.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.h
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.h
Labels: Category: Core, Type: Maintenance

#4778 Gcc upgrade to devtoolset 8
  LocalConfig.pri.orig
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbBulkInserterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/util/StringUtilsTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/ScoreMatrix.h
  tgs/src/main/cpp/tgs/BigContainers/Stxxl.cpp
Labels: Category: Core, Priority: High, Status: Defined, Type: Maintenance, Type: Task

#4782 Changes default logging level to `--status`
  hoot-cmd/src/main/cpp/hoot/cmd/HelpCmd.cpp
  hoot-core/src/main/cpp/hoot/core/Hoot.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheeter.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AlignCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BuildModelCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetApplyCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CleanCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.h
  hoot-core/src/main/cpp/hoot/core/cmd/ConvertCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CountCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CutCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbDeleteCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DbListCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ExtentCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/IsSortedCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/PerturbCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SchemaCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ScoreMatchesCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SortCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/SplitCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/StatsCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagCompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagDistributionCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TagInfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TaskGridCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TypeSimilarityCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchConflicts.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RandomForestModelBuilder.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/poi-polygon/PoiPolygonMatchVisitor.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/CropRandomCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/DeDuplicateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ImplicitTypeTaggingRulesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/InfoRndCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/LoginCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/LogoutCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryPoiConflateCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryPoiIngestCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/MultiaryScorePoiMatchesCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/PlotNodeDensityCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/ScoreMatchesDiffCmd.cpp
  hoot-rnd/src/main/cpp/hoot/rnd/cmd/SynchronizeElementIdsCmd.cpp
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Category: Core, Type: Maintenance

#4779 Install and use update compiler `devtoolset-8` for Hootenanny
  VagrantProvisionCentOS7.sh
  VagrantProvisionVars.sh
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  test-files/cases/attribute/network/highway-2927-multiple-types-1/Expected.osm
  test-files/cases/attribute/network/highway-2927-unmarked-ref-divided-road-1/Expected.osm
  test-files/cmd/glacial/ConflateAverageRoadTest/output-dc-network.osm
  test-files/cmd/slow/ConflateCmdStatsAllDataTypesTest.sh.stdout
  test-files/cmd/slow/ConflateCmdStatsTest/all-data-types-out.osm
  test-files/cmd/slow/ConflateCmdTest/output.osm
  test-files/cmd/slow/ServiceHootApiDbConflateTest/output1.osm
Labels: Category: Build, Category: Core, Priority: High, Type: Maintenance, Type: Task

#4789 TDS7 Metadata
  scripts/schema/ConvertTDSv70Schema.py
  translations/tds70.js
  translations/tds70_rules.js
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: In Progress, Type: Feature, Type: Maintenance

#4793 Added cleaner docker scripts
  DockerBuild.sh
  docker/gbdx_hootcore/DockerBuild_HootCore.txt
  docker/gbdx_hootcore/Dockerfile
  docker/gbdx_hootcore/HootCore_01_Build.sh
  docker/gbdx_hootcore/HootCore_02_Install.sh
  docker/gbdx_hootcore/HootCore_03_Cleanup.sh
  docker/gbdx_hootcore/Orig_Dockerfile
  docker/gbdx_hootcore/README.md
  docker/gbdx_hootcore/gbdx_task_interface.py
  docker/gbdx_hootcore/hoot-gbdx.py
  docker/gbdx_hootcore/hoot_etc.tar.gz
  docker/hoot_commandline/Dockerfile
  docker/hoot_commandline/README.md
  docker/hoot_commandline/build_image.sh
  docker/hoot_commandline/run_image.sh
  docker/hoot_commandline/test_image.sh
  docker/old_centos7.2/Dockerfile
  docker/old_centos7.4/Dockerfile
  dockerCommandline.sh
Labels: Category: Build, Category: Core, Priority: Medium, Status: Ready for Test, Type: Feature, Type: Maintenance

#4794 Allow for retrieving the appropriate available way snapping criteria for a given conflate config
  docs/commands/info.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/BaseCommand.h
  hoot-core/src/main/cpp/hoot/core/cmd/InfoCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SuperfluousConflateOpRemover.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/SuperfluousConflateOpRemover.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchCreator.h
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.cpp
  hoot-core/src/main/cpp/hoot/core/info/ApiEntityDisplayInfo.h
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/util/Factory.h
  test-files/cmd/slow/InfoCmdTest.sh
  test-files/cmd/slow/InfoCmdTest.sh.stdout
Labels: Category: Core, Type: Task
