Repository ngageoint/hootenanny, pull requests merged in 2021-11, with the labels that each got.

#5127 Remove some dead code
  README.md
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationMemberUtils.h
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryPainter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/util/ConfigUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/ConfigUtils.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
Labels: Type: Maintenance, Category: Core

#5116 Stitch cropped datasets back together along the boundaries
  conf/core/ConfigOptions.asciidoc
  docs/commands/stitch.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/MapStitcherTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/index/ClosePointHashTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/MapStitcher.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/MapStitcher.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.h
  hoot-core/src/main/cpp/hoot/core/cmd/StitchCmd.cpp
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.cpp
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/RailwayMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/util/SettingsJs.cpp
  test-files/algorithms/MapStitcher/IntersectionTest-Expected.osm
  test-files/algorithms/MapStitcher/IntersectionTest1.osm
  test-files/algorithms/MapStitcher/IntersectionTest2.osm
  test-files/algorithms/MapStitcher/OrderTest-Expected.osm
  test-files/algorithms/MapStitcher/OrderTest1.osm
  test-files/algorithms/MapStitcher/OrderTest2.osm
  test-files/algorithms/MapStitcher/OverAndBackTest-Expected.osm
  test-files/algorithms/MapStitcher/OverAndBackTest1.osm
  test-files/algorithms/MapStitcher/OverAndBackTest2.osm
  test-files/algorithms/MapStitcher/PolygonTest-Expected.osm
  test-files/algorithms/MapStitcher/PolygonTest1.osm
  test-files/algorithms/MapStitcher/PolygonTest2.osm
  test-files/algorithms/MapStitcher/ToyTestACrop1.osm
  test-files/algorithms/MapStitcher/ToyTestACrop2.osm
  test-files/algorithms/MapStitcher/ToyTestAStitchExpected-Mixed.osm
  test-files/algorithms/MapStitcher/ToyTestAStitchExpected-Negative.osm
  test-files/algorithms/MapStitcher/ToyTestAStitchExpected-Positive.osm
  test-files/algorithms/MapStitcher/ToyTestAStitchExpected.osm
  test-files/cmd/quick/HelpCmdTest.sh.stdout
Labels: Type: Feature, Type: Task, Category: Algorithms, Category: Core, Priority: High

#5133 Fix serial conflate tests to run at the end of the serial tests
  hoot-test/src/main/cpp/hoot/test/ProcessPool.cpp
  hoot-test/src/main/cpp/hoot/test/ProcessPool.h
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Type: Bug, Type: Task, Category: Core, Category: Test, Priority: High

#5134 Fix `make clean-all`
  docs/Makefile
Labels: Type: Bug, Type: Task, Category: Build, Priority: Low

#5136 Improve `merge.nearby.nodes` settings for UI
  conf/core/ConfigOptions.asciidoc
  conf/services/importTypes.json
  docs/user/Translation.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-services/src/test/java/hoot/services/controllers/ingest/ImportCommandTest.java
  hoot-test/src/main/cpp/hoot/test/ProcessPool.cpp
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Category: Test, Priority: Medium, Category: UI

#5137 Fix a few minor annoyances tripping out QtCreator
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/NodeDensityTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonTypeScoreExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/AlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ConflateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/TaskGridCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/point/PoiSearchRadius.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/AttributeValueCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagAdvancedCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/GeoNamesReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPgCsvWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.h
  hoot-core/src/main/cpp/hoot/core/util/DbUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-js/src/main/cpp/hoot/js/conflate/point/PoiSearchRadiusJs.cpp
  hoot-test/src/main/cpp/hoot/test/conflate/optimization/PertyTest.cpp
  hoot-test/src/main/cpp/hoot/test/conflate/optimization/ReleaseTest.cpp
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5138 MultipleChangesetProvider combine changeset changes
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/GeoTagCombinationChangesetProvider.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/GeoTagCombinationChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/MemChangesetProvider.h
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  test-files/cmd/slow/DiffConflateTagChangeDifferingGeometriesTest/output.tags.osc
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Priority: High

#5154 Fix differential with tags output directly to OSC file
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/RfExtractorClassifier.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/RfExtractorClassifier.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.cpp
  test-files/cmd/glacial/DiffConflateCmdTest/output_unified.osc
  test-files/cmd/glacial/DiffConflateCmdTest/output_unified_changeset_stats.json
  tgs/src/main/cpp/tgs/Interpolation/BaseInterpolator.cpp
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForestManager.cpp
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.cpp
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.h
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.h
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Priority: Critical

#5158 Long way splitters aren't respecting relations
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/visitors/SplitLongLinearWaysVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangesetElement.h
  hoot-core/src/main/cpp/hoot/core/visitors/SplitLongLinearWaysVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SplitLongLinearWaysVisitor.h
  test-files/cmd/slow/SplitLongWaysTest/SplitLongWaysTestResults.osm.pbf
  test-files/io/OsmChangesetElementTest/ChangesetSplitWayExpected.osc
  test-files/io/OsmChangesetElementTest/ChangesetSplitWayRelationExpected.osc
  test-files/io/OsmChangesetElementTest/RelationSplitTest.osc
  test-files/visitors/SplitLongLinearWaysVisitorTest/SplitWayInRelationTest-Expected.osm
  test-files/visitors/SplitLongLinearWaysVisitorTest/SplitWayInRelationTest.osm
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5153 Drop error:circular from the translation assistant output
  translations/translation_assistant.js
Labels: Type: Bug, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation

#5160 Turn on the code coverage steps in Jenkins for the nightly build.
  scripts/jenkins/Jenkinsfile
Labels: Type: Task, Type: Maintenance, Category: Core, Category: Release, Priority: Medium
