Repository ngageoint/hootenanny, pull requests merged in 2021-02, with the labels that each got.

#4477 Add ENC to the node export server
  node-export-server/config.json
  translations/ENCv311_to_OGR.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Support, Type: Task

#4473 Added multi inputs to ogr exports
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapReaderFactory.h
Labels: Category: Core, Priority: Medium, Status: Ready for Test, Type: Bug, Type: Maintenance

#4483 Remove optional input filter from Cut and Replace
  docs/commands/changeset-derive-replacement.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacement.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersChainedTest/ServiceChangesetReplacementAdditionalFiltersChainedTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementAdditionalFiltersTest/ServiceChangesetReplacementAdditionalFiltersTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementBuildingTest/ServiceChangesetReplacementBuildingTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementDeleteOnlyTest/ServiceChangesetReplacementDeleteOnlyTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementEmptyGeometryFilterTest/ServiceChangesetReplacementEmptyGeometryFilterTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementFilterChainedTest.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementFilterChainedTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementFilterChainedTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementFilterTest.sh.off
  test-files/cmd/glacial/serial/ServiceChangesetReplacementFilterTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementFilterTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stderr
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementMultipleGeometryFiltersTest/ServiceChangesetReplacementMultipleGeometryFiltersTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementNonRectangularBoundsTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementNonRectangularBoundsTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementNonRectangularBoundsTest/ServiceChangesetReplacementNonRectangularBoundsTest-xml-replaced.osm
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest.sh.stdout
  test-files/cmd/glacial/serial/ServiceChangesetReplacementRoadTest/ServiceChangesetReplacementRoadTest-xml-replaced.osm
Labels: Category: Core, Type: Maintenance

#4482 Renamed the AEI attribute
  scripts/schema/ConvertTDSv61Schema.py
  scripts/schema/ConvertTDSv70Schema.py
  scripts/schema/ConvertTDSv70Schema_XML.py
  translations/tds70.js
  translations/tds70_rules.js
Labels: Category: Core, Category: Schema, Category: Translation, Priority: Medium, Status: Ready for Test, Type: Maintenance, Type: Support

#4484 Collapse changeset-derive-replacement into changeset-derive command
  README.md
  conf/core/ConfigOptions.asciidoc
  docs/commands/HootCommandLineReference.asciidoc
  docs/commands/changeset-derive-replacement.asciidoc
  docs/commands/changeset-derive.asciidoc
  docs/commands/conflate.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-cmd/src/main/cpp/hoot/cmd/HelpCmd.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacement.h
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveCmd.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ChangesetDeriveReplacementCmd.cpp
  hoot-core/src/main/cpp/hoot/core/ops/CookieCutterOp.cpp
  hoot-services/src/main/java/hoot/services/controllers/grail/DeriveChangesetReplacementCommand.java
  test-files/cmd/glacial/ChangesetReplacementInvalidReviewRelationTest.sh
  test-files/cmd/glacial/serial/ServiceChangesetReplacement.sh.off
  test-files/cmd/quick/ChangesetReplacementToy1Test.sh
  test-files/cmd/quick/ChangesetReplacementToy2Test.sh
Labels: Category: Core, Type: Maintenance

#4489 Fixed: MGCP water wells
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/test/line-to-area-cases.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Type: Bug

#4490 Fixed bug in way crit and made it easier to use
  hoot-core/src/main/cpp/hoot/core/criterion/BuildingCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/WayLengthCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/WayLengthCriterion.h
  hoot-core/src/main/cpp/hoot/core/criterion/WayNodeCountCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/WayNodeCountCriterion.h
Labels: Category: Core, Type: Bug

#4493 Fix diff conflate match removal bug
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
Labels: Category: Algorithms, Type: Bug

#4497 Fixed AH055/AH-50 Fortification
  translations/UFD_to_OSM.js
  translations/dnc_core.js
  translations/dnc_rules.js
  translations/ggdm30.js
  translations/gifd_d4_core.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
Labels: Category: Core, Category: Translation, Priority: High, Status: Ready for Test, Type: Bug, Type: Maintenance

#4545 Rnd ports 1/23/21
  hoot-core-test/src/test/cpp/hoot/core/conflate/merging/LinearSnapMergerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.h
  hoot-core/src/main/cpp/hoot/core/conflate/MultipleSublineMatcherSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearMergerAbstract.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearSnapMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/merging/LinearTagOnlyMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/DirectedGraph.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/DirectedGraph.h
  hoot-core/src/main/cpp/hoot/core/scoring/GraphComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapCompareUtils.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapCompareUtils.h
  hoot-core/src/main/cpp/hoot/core/scoring/ShortestPath.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/ShortestPath.h
  hoot-core/src/main/cpp/hoot/core/util/HootException.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/StringUtils.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/LinearSnapMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/LinearSnapMergerJs.h
  test-files/cmd/slow/CompareCmdTest.sh
  test-files/cmd/slow/CompareCmdTest.sh.stdout
  test-files/conflate/merging/LinearSnapMergerTest/runTagsNoRelationTest.json
  test-files/conflate/merging/LinearSnapMergerTest/runTagsSplitTest.json
  test-files/conflate/merging/LinearSnapMergerTest/runTagsTest.json
Labels: Category: Core, Type: Maintenance

#4551 WayJoiner to join ways before conflation
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayJoinerTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/NonIntersectionWayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/NonIntersectionWayJoiner.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.h
  test-files/algorithms/wayjoiner/NonIntersectionWayJoinerExpected.osm
  test-files/algorithms/wayjoiner/NonIntersectionWayJoinerInput.osm
Labels: Category: Algorithms, Category: Core, Priority: High, Type: Feature, Type: Task

#4553 Var fixes and a schema change
  translations/ggdm30.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/translate.js
Labels: Category: Core, Category: Translation, Priority: Medium, Status: Ready For Review, Type: Bug, Type: Support

#4554 Data Summary Post Process Operation
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/DataSummaryTagVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/DataSummaryTagVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/DataSummaryTagVisitor.h
  test-files/visitors/DataSummaryTagVisitorTest/DataSummaryTagVisitorTestExpected.osm
  test-files/visitors/DataSummaryTagVisitorTest/DataSummaryTagVisitorTestInput.osm
Labels: Category: Algorithms, Category: Core, Priority: High, Type: Feature, Type: Task
