Repository ngageoint/hootenanny, pull requests merged in 2022-02, with the labels that each got.

#5233 Ogr reader updates
  hoot-core-test/src/test/cpp/hoot/core/io/OgrReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbSqlChangesetApplierTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/util/DateTimeUtils.cpp
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5222 line/poly: Schema change
  Makefile.hoot
  conf/schema/man_made.json
  conf/translations/MGCP_FeatureCatalogue_TRD4_v4.5_20190208.xml.gz
  conf/translations/MGCP_FeatureCatalogue_TRD4_v4.6_20210129.xml.gz
  scripts/schema/ConvertMGCPSchema_XML.py
  scripts/schema/hootLibrary.py
  translations/GeoNames_to_OSM.js
  translations/UFD_to_OSM.js
  translations/dnc_rules.js
  translations/ggdm30_rules.js
  translations/gifd_d4_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40_rules.js
  translations/tds61_rules.js
  translations/tds70_rules.js
Labels: Type: Bug, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation, Category: Schema

#5237 Hoot api db crash
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/SqlBulkInsert.cpp
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Priority: Critical

#5240 fix typo
  hoot-services/src/main/resources/db/liquibase.properties.in
Labels: Status: Ready For Review

#5239 OGR streaming discards translation
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5241 Sonar findings introduced by recent commits
  hoot-core/src/main/cpp/hoot/core/conflate/network/LegacyVertexMatcher.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagAdvancedCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrOptions.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ImplicitTypeTaggerBase.cpp
  test-files/cmd/slow/serial/ServiceChangesetDeriveCmdSqlTest/changeset-1.osc.sql
  test-files/cmd/slow/serial/ServiceChangesetDeriveCmdSqlTest/changeset-2.osc.sql
  test-files/cmd/slow/serial/ServiceChangesetDeriveCmdSqlTest/changeset-3.osc.sql
  test-files/cmd/slow/serial/ServiceChangesetDeriveCmdSqlTest/changeset-4.osc.sql
  test-files/io/ServiceOsmApiDbSqlChangesetFileWriterTest/changeset.osc.sql
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5247 MGCP fixes
  translations/mgcp.js
  translations/mgcp_rules.js
Labels: Category: Core, Priority: Medium, Category: Translation, Status: Ready For Review

#5251 Code maintenance updates
  conf/core/ConfigOptions.asciidoc
  docs/algorithms/AreaToAreaConflation.asciidoc
  docs/algorithms/AttributeConflation.asciidoc
  docs/algorithms/BuildingConflation.asciidoc
  docs/algorithms/FeatureReview.asciidoc
  docs/algorithms/RailwayConflation.asciidoc
  docs/algorithms/ScriptConflation.asciidoc
  docs/developer/HootenannyElementMergeService.asciidoc
  docs/developer/HootenannyManualConflation.asciidoc
  docs/developer/HootenannyTests.asciidoc
  docs/user/CommandLineExamples.asciidoc
  docs/user/Hootenanny-id.asciidoc
  docs/user/Translation.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/ops/ManualMatchValidatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsFileTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/AbstractConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/Address.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMergerCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchGraph.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchGraph.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetwork.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/OsmNetwork.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMerger.h
  hoot-core/src/main/cpp/hoot/core/conflate/railway/RailwayOneToManySecondaryMatchElementRemover.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/railway/RailwayOneToManySecondaryMatchElementRemover.h
  hoot-core/src/main/cpp/hoot/core/criterion/RailwayOneToManySourceCriterion.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriterBase.h
  hoot-core/src/main/cpp/hoot/core/ops/ManualMatchValidator.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RailwaysCrossingMarker.cpp
  hoot-core/src/main/cpp/hoot/core/ops/RailwaysCrossingMarker.h
  hoot-core/src/main/cpp/hoot/core/schema/MetadataTags.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddAttributesVisitor.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatchCreator.h
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ElementMergerJs.cpp
  hoot-js/src/main/cpp/hoot/js/conflate/merging/ElementMergerJs.h
  hoot-js/src/test/cpp/hoot/js/conflate/matching/ScriptMatchCreatorTest.cpp
  hoot-js/src/test/cpp/hoot/js/conflate/merging/ElementMergerJsTest.cpp
  rules/Area.js
  rules/Railway.js
  rules/template/ConflateRules.js
  translations/dnc_core.js
  translations/mgcp_rules.js
  translations/tds70.js
  translations/test/ElementMergeServer.js
  translations/translate.js
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5257 RelationToMultiPolygonConverter memory leaks
  hoot-core-test/src/test/cpp/hoot/core/geometry/RelationToMultiPolygonConverterTest.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5268 Fix `SplitLongLinearWaysVisitor`
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/visitors/SplitLongWaysVisitorTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.h
  hoot-core/src/main/cpp/hoot/core/visitors/SplitLongWaysVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SplitLongWaysVisitor.h
  test-files/cmd/slow/SplitLongWaysTest.sh
  test-files/cmd/slow/SplitLongWaysTest/SplitLongWaysTestResults.osm.pbf
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical
