Repository ngageoint/hootenanny, pull requests merged in 2022-10, with the labels that each got.

#5448 More schema test helper functions
  translations/TranslationServer.js
  translations/checkAllFeatures.js
  translations/checkTranslations.js
Labels: Type: Maintenance, Type: Support, Category: Test, Status: Ready for Test, Priority: Medium, Category: Translation, Category: Schema

#5451 Updated GEOS from 3.9.2 to 3.9.3 available from geoint-deps
  VagrantProvisionVars.sh
  configure.ac
Labels: Type: Task, Type: Maintenance, Category: Build, Priority: Low

#5454 SONAR: Ignore `enum class` rule
  sonar-project.properties
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5455 Update `changeset-derive` command to include review relations with bounds parameter
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsFileTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsStringTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/NodeDensityTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/UniformTaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/subline-matching/MaximalSubline.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/Match.h
  hoot-core/src/main/cpp/hoot/core/conflate/merging/Merger.h
  hoot-core/src/main/cpp/hoot/core/conflate/network/EdgeMatchSetFinder.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/network/NetworkDetails.h
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatchCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Status.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayData.h
  hoot-core/src/main/cpp/hoot/core/geometry/CoordinateExt.h
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbSqlStatementFormatter.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbWriter.h
  hoot-core/src/main/cpp/hoot/core/io/MapStatsWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/MapStatsWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmPbfWriter.h
  hoot-core/src/main/cpp/hoot/core/ops/MetadataOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TranslatedTagDifferencer.cpp
  hoot-core/src/main/cpp/hoot/core/validation/Validator.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddBboxVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/MembersPerRelationVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RandomWaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SplitNameVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/geometrymodifiers/PolyClusterGeoModifierAction.cpp
  hoot-josm/src/main/cpp/hoot/josm/jni/JniConversion.cpp
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapCleaner.cpp
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidator.h
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidatorAbstract.cpp
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapValidatorAbstract.h
  hoot-js/src/main/cpp/hoot/js/conflate/matching/ScriptMatch.cpp
  tgs/src/main/cpp/tgs/Optimization/FitnessFunction.h
  tgs/src/main/cpp/tgs/RStarTree/RStarTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/RStarTreePrinter.cpp
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.cpp
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.h
  tgs/src/main/cpp/tgs/RandomForest/InfoGainCalculator.cpp
  tgs/src/main/cpp/tgs/RandomForest/InfoGainCalculator.h
  tgs/src/main/cpp/tgs/RandomForest/MissingDataHandler.cpp
  tgs/src/main/cpp/tgs/RandomForest/MissingDataHandler.h
  tgs/src/main/cpp/tgs/RandomForest/MultithreadedRandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/MultithreadedRandomForest.h
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.h
  tgs/src/main/cpp/tgs/StreamUtils.cpp
  tgs/src/main/cpp/tgs/StreamUtils.h
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5450 Fixed the translation for `highway=pedestrian`
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds70.js
  translations/tds71.js
  translations/test/pedestrian_area.js
Labels: Type: Bug, Type: Maintenance, Type: Support, Status: Ready for Test, Category: Translation, hacktoberfest-accepted

#5460 Include status in JOSM OSM XML without other DEBUG tags
  conf/core/ConfigOptions.asciidoc
  conf/core/DeriveChangeset.conf
  conf/core/DeriveJosmOsm.conf
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ServiceChangesetReplacementGridTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlChangesetFileWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmBaseXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJosmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJosmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmOscChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.h
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.cpp
  hoot-core/src/main/cpp/hoot/core/ops/UnconnectedWaySnapper.h
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/AddExportTagsVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/MultiLineStringVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MultiLineStringVisitor.h
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/badPolyIdSync2Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedNodes1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/droppedPointPolyRelationMembers1Test-out.osm
  test-files/algorithms/changeset/ServiceChangesetReplacementGridTest/orphanedNodes2Test-out.osm
  test-files/cmd/quick/ChangesetReplacementToy2Test/output.osc
  test-files/cmd/quick/ConflateReuseNodeIds/BuildingsConflatedJosmExpected.osm
  test-files/cmd/quick/ConflateReuseNodeIdsBuildings.sh
  test-files/cmd/slow/ChangesetDeriveCmdTest.sh
  test-files/cmd/slow/ChangesetDeriveCmdTest/changeset-11.osm
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5458 Upgrade `libpostal` to latest version
  .circleci/config.yml
  VagrantProvisionCentOS7Deps.sh
  VagrantProvisionVars.sh
  hoot-core-test/src/test/cpp/hoot/core/conflate/address/AddressConflateTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressNormalizer.h
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/LibPostalInit.cpp
  test-files/conflate/address/AddressConflateTest/normalizeAddressesVisitorBasicTest-out.osm
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5465 Fixed Vineyards
  translations/ggdm30.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/tds71.js
Labels: Type: Bug, Status: Ready for Test, Priority: Medium, Category: Translation

#5467 Fix mangled text
  translations/translate.js
Labels: Type: Bug, Type: Task, Status: Ready for Test, Priority: Medium, Category: Translation

#5470 Create file splitting object for GeoJSON work.
  hoot-core-test/src/test/cpp/hoot/core/io/MultiFileWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/MultiFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/MultiFileWriter.h
  test-files/io/MultiFileWriter/FCodeTest-AAL200.json
  test-files/io/MultiFileWriter/FCodeTest-ABA030.json
  test-files/io/MultiFileWriter/FCodeTest-ABA040.json
  test-files/io/MultiFileWriter/FCodeTest-ABH080.json
  test-files/io/MultiFileWriter/FCodeTest-ABH090.json
  test-files/io/MultiFileWriter/FCodeTest-ABH140.json
  test-files/io/MultiFileWriter/FCodeTest-ABH160.json
  test-files/io/MultiFileWriter/FCodeTest-ADA010.json
  test-files/io/MultiFileWriter/FCodeTest-AEA010.json
  test-files/io/MultiFileWriter/FCodeTest-AEB010.json
  test-files/io/MultiFileWriter/FCodeTest-AEB020.json
  test-files/io/MultiFileWriter/FCodeTest-AEC030.json
  test-files/io/MultiFileWriter/GeometryTest-Lines.json
  test-files/io/MultiFileWriter/GeometryTest-Points.json
  test-files/io/MultiFileWriter/GeometryTest-Polygons.json
  test-files/io/MultiFileWriter/SingleFileTest.json
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5471 Update GeoJSON writer to follow standard
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  test-files/io/GeoJson/SampleObjectsWriterHoot.geojson
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5473 Added config file reading to the node-export server
  node-export-server/config.json
  node-export-server/server.js
  translations/translationConfig.json
Labels: Type: Feature, Type: Task, Type: Maintenance, Category: Services, Status: Ready for Test, Priority: Medium, Category: Translation

#5474 Remove GBDX writers
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5475 Create translation interface extracting translation out of the OgrWriter
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/TranslationInterface.cpp
  hoot-core/src/main/cpp/hoot/core/io/TranslationInterface.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5479 Overpass queries fail
  hoot-core-test/src/test/cpp/hoot/core/geometry/GeometryUtilsTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/BoundsStringTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetTaskGridReplacer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/UniformTaskGridGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/ExtentCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateUtils.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/NodeDensityTileBoundsCalculator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/tile/TileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/ops/RandomMapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/NodeDensityPlotter.cpp
  test-files/cmd/quick/ExtentCmdTest.sh.stdout
Labels: Type: Bug, Type: Task, Category: Core, Priority: High
