Repository ngageoint/hootenanny, pull requests merged in 2022-12, with the labels that each got.

#5521 Output `MultiFileWriter` files into a separate directory
  hoot-core-test/src/test/cpp/hoot/core/io/MultiFileWriterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/MultiFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/MultiFileWriter.h
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/BRIDGE_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/BUILDING_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/BUILDING_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/BUILT_UP_AREA_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/CART_TRACK_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/CROP_LAND_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/CROSSING_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/CULVERT_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/ENGINEERED_TURNAROUND_SITE_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/FACILITY_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/GATE_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/INLAND_WATERBODY_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/MARSH_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/MOTOR_VEHICLE_STATION_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/NAMED_LOCATION_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/PARK_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/RAMP_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/RIVER_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/ROAD_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/SHED_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/SPORTS_GROUND_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/STAIR_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/TOWER_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/TRAFFIC_LIGHT_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/TRAIL_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/TRANSPORTATION_STATION_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/UNKNOWN_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/VEHICLE_LOT_S.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/WALL_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/o2s_A.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/o2s_L.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/o2s_P.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/AgricultureSrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/CultureSrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/FacilitySrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/HydrographyCrv.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/HydrographySrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/InformationPnt.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/RecreationSrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/SettlementPnt.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/StructureCrv.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/StructurePnt.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/StructureSrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/TransportationGroundCrv.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/TransportationGroundPnt.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/TransportationGroundSrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/VegetationSrf.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/o2s_A.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/o2s_L.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/o2s_P.geojson
  test-files/io/MultiFileWriter/ThematicTest/AgricultureSrf.json
  test-files/io/MultiFileWriter/ThematicTest/CultureSrf.json
  test-files/io/MultiFileWriter/ThematicTest/FacilitySrf.json
  test-files/io/MultiFileWriter/ThematicTest/HydrographyCrv.json
  test-files/io/MultiFileWriter/ThematicTest/HydrographySrf.json
  test-files/io/MultiFileWriter/ThematicTest/InformationPnt.json
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5524 HootJs Require Statements Failing
  .gitignore
  hoot-js/src/main/cpp/hoot/js/util/RequireJs.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5535 Added a translation for power=minor_line
  translations/ggdm30.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/tds71.js
  translations/tds71_rules.js
  translations/test/powerline.js
  translations/translate.js
Labels: Type: Task, Type: Maintenance, Status: Ready for Test, Priority: Medium, Category: Translation
