Repository ngageoint/hootenanny, pull requests merged in 2022-03, with the labels that each got.

#5262 More memory issues
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/IntersectionSplitter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.h
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/SharedPtrPool.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5274 Tweaked the TDS exports
  scripts/schema/ConvertTDSv71Schema_XML.py
  translations/checkAllFeatures.js
  translations/checkSingleFeature.js
  translations/etds71_rules.js
  translations/ggdm30.js
  translations/tds61.js
  translations/tds70.js
  translations/tds71.js
  translations/tds71_full_schema.js
  translations/tds71_schema.js
  translations/tds71_thematic_schema.js
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: High, Category: Translation

#5275 Fixed the AC000 vs AL010 translation issue
  translations/etds71_osm.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/tds61_rules.js
  translations/tds71_rules.js
Labels: Type: Bug, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation

#5277 Clean export
  conf/core/ConfigOptions.asciidoc
  translations/TDSv71_Clean.js
  translations/TDSv71_CleanExport.conf
  translations/tds71.js
Labels: Type: Feature, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation

#5279 Come up with a faster algorithm for `DuplicateNodeRemover`
  hoot-core/src/main/cpp/hoot/core/algorithms/LongestCommonNodeString.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/LongestCommonNodeString.h
  hoot-core/src/main/cpp/hoot/core/algorithms/NonIntersectionWayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ProbabilityOfMatch.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/ProbabilityOfMatch.h
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/RdpWayGeneralizer.h
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.cpp
  hoot-core/src/main/cpp/hoot/core/index/ClosePointHash.h
  hoot-core/src/main/cpp/hoot/core/ops/DuplicateNodeRemover.cpp
  test-files/cmd/quick/DuplicateNodeRemoverTest.sh
  test-files/cmd/quick/DuplicateNodeRemoverTest/crossing_input.osm
  test-files/cmd/quick/DuplicateNodeRemoverTest/crossing_test.osm
  test-files/cmd/slow/SplitLongWaysTest.sh
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Critical

#5282 Make API Timeout Configurable
  conf/core/ApplyChangeset.conf
  conf/core/ConfigOptions.asciidoc
  docs/commands/diff.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ChangesetDeriverTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/aggregator/QuantileAggregator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShape.h
  hoot-core/src/main/cpp/hoot/core/algorithms/alpha-shape/AlphaShapeGenerator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/Change.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCleaner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetDeriver.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheet.h
  hoot-core/src/main/cpp/hoot/core/auth/HootServicesLoginManager.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/DiffCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/language/HootServicesLanguageDetectorClient.cpp
  hoot-core/src/main/cpp/hoot/core/language/HootServicesLanguageInfoClient.cpp
  hoot-core/src/main/cpp/hoot/core/language/HootServicesLanguageInfoClient.h
  hoot-core/src/main/cpp/hoot/core/language/HootServicesTranslatorClient.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MapComparator.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5290 TDS71 fixes
  conf/core/ConfigOptions.asciidoc
  scripts/schema/compareTrans.py
  test-files/cmd/slow/TDSv40TranslationTest.sh
  test-files/cmd/slow/TDSv71/TDSv71.osm
  test-files/cmd/slow/TDSv71TranslationTest.sh
  test-files/cmd/slow/TDSv71TranslationTest.sh.stderr
  test-files/cmd/slow/TDSv71TranslationTest.sh.stdout
  translations/tds70.js
  translations/tds70_rules.js
  translations/tds71.js
  translations/tds71_rules.js
  translations/translate.js
Labels: Type: Bug, Type: Feature, Type: Support, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation

#5293 Fixing random HTTP 504 error in OsmJsonReaderTest::urlTest
  hoot-core/src/main/cpp/hoot/core/cmd/DeDuplicateCmd.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/TagKeyContainsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
Labels: Type: Bug, Type: Task, Category: Core, Category: Test, Priority: High

#5295 Fixed the UUID issue
  translations/UFD_to_OSM.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/tds71.js
Labels: Type: Bug, Category: Core, Status: Ready for Test, Priority: High, Category: Translation, Category: Schema

#5297 Rejoin multilinestring relations created by SplitLongWaysVisitor when output to GDAL outputs
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/LargeWaySplitterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/geometry/ElementToGeometryConverterTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiChangesetElementTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServicesDbTestUtils.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/EdgeDistanceExtractor.h
  hoot-core/src/main/cpp/hoot/core/geometry/ElementToGeometryConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGbdxXmlWriter.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagComparator.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/ElementConstOsmMapVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/MultiLineStringVisitor.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/MultiLineStringVisitor.h
  hoot-core/src/main/cpp/hoot/core/visitors/SplitLongWaysVisitor.cpp
  test-files/cmd/slow/PowerLineConflateTest/output-validation-report
  test-files/cmd/slow/PowerLineConflateTest/output.osm
  test-files/cmd/slow/SplitLongWaysTest.sh
  test-files/cmd/slow/SplitLongWaysTest.sh.stdout
  test-files/cmd/slow/SplitLongWaysTest/SplitLongWaysTestResults.osm.pbf
  test-files/cmd/slow/SplitLongWaysTest/TransportationGroundCrv.cpg
  test-files/cmd/slow/SplitLongWaysTest/TransportationGroundCrv.dbf
  test-files/cmd/slow/SplitLongWaysTest/TransportationGroundCrv.prj
  test-files/cmd/slow/SplitLongWaysTest/TransportationGroundCrv.shp
  test-files/cmd/slow/SplitLongWaysTest/TransportationGroundCrv.shx
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5300 Critical bug was identified in Hootenanny
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ChangesetCreatorTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/optimizer/SingleAssignmentProblemSolverTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OgrReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmXmlChangesetFileWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacement.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/TaskGridGenerator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/optimizer/SingleAssignmentProblemSolver.h
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateExecutor.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/DiffConflator.h
  hoot-core/src/main/cpp/hoot/core/conflate/matching/MatchType.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementType.h
  hoot-core/src/main/cpp/hoot/core/io/ChangesetStatsFormat.h
  hoot-core/src/main/cpp/hoot/core/io/OsmChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlChangesetFileWriter.h
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.cpp
  hoot-core/src/main/cpp/hoot/core/schema/OsmSchema.h
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForest.h
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForestManager.cpp
  tgs/src/main/cpp/tgs/RandomForest/BaseRandomForestManager.h
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.cpp
  tgs/src/main/cpp/tgs/RandomForest/DataFrame.h
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Core, Priority: Critical

#5301 See if distance weighting helps other linear script conflators
  conf/core/ConfigOptions.asciidoc
  rules/Railway.js
  rules/River.js
  test-files/cmd/slow/serial/RailwayAttributeConflateTest/output.osm
  test-files/cmd/slow/serial/RailwayConflateTest/output.osm
  test-files/cmd/slow/serial/RailwayDiffConflateTest/output-partial.osm
Labels: Type: Feature, Category: Algorithms, Priority: Medium
