Repository ngageoint/hootenanny, pull requests merged in 2022-08, with the labels that each got.

#5393 Added support for ASAN
  LocalConfig.pri.orig
  VagrantProvisionCentOS7.sh
Labels: Type: Task, Type: Maintenance, Category: Build, Category: Core, Status: Ready for Test, Priority: Medium

#5407 Add Overpass API to ParallelBoundedReader
  conf/core/ConfigOptions.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ParallelBoundedApiReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementId.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementId.h
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.cpp
  hoot-core/src/main/cpp/hoot/core/index/OsmMapIndex.h
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/ops/RemoveWayByEid.cpp
  test-files/io/OsmJsonReaderTest/overpass_query.oql
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5402 Fixed the WID vs WD1 issue in MGCP
  test-files/MGCPv3/LAP010-output.osm
  test-files/MGCPv3/LAP030-output.osm
  test-files/cmd/slow/ConvertCmdTest/combined_shapefile.osm
  translations/checkSingleFeature.js
  translations/checkTranslations.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds70.js
  translations/tds71.js
  translations/test/road.js
Labels: Type: Bug, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation, Category: Schema

#5410 Polygon boundaries for overpass reader
  hoot-core-test/src/test/cpp/hoot/core/algorithms/WayJoinerConflateTest.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/ScoreMatchesDiff.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/matching/ScoreMatchesDiff.h
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayUtils.h
  hoot-core/src/main/cpp/hoot/core/io/ArffWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ImplicitTagRulesSqliteReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ImplicitTagRulesSqliteReader.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbBulkInserter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/ops/ReuseNodeIdsOnWayOp.cpp
  hoot-core/src/main/cpp/hoot/core/schema/AttributeCoOccurrence.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchFeatureExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/MatchFeatureExtractor.h
  hoot-josm/src/main/cpp/hoot/josm/ops/JosmMapCleaner.h
  test-files/cmd/quick/ScoreMatchesDiffCmdTest/output
  tgs/src/main/cpp/tgs/Interpolation/DelaunayInterpolator.cpp
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5413 Relation issues
  hoot-core-test/src/test/cpp/hoot/core/elements/RelationTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Element.h
  hoot-core/src/main/cpp/hoot/core/elements/Node.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/ops/AddHilbertReviewSortOrderOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveInvalidMultilineStringMembersVisitor.cpp
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Critical

#5416 Fix NodeJS install issue
  VagrantProvisionCentOS7.sh
Labels: Type: Bug, Type: Task, Type: Maintenance, Category: Build, Status: Ready for Test, Priority: High
