Repository ngageoint/hootenanny, pull requests merged in 2022-06, with the labels that each got.

#5357 hoot tag-info adds an area=yes attribute to shapefile output
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.h
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.cpp
  hoot-core/src/main/cpp/hoot/core/schema/TagInfo.h
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.cpp
  hoot-js/src/main/cpp/hoot/js/schema/JavaScriptSchemaTranslator.h
  test-files/cmd/slow/TagInfoCmdTest.sh
  test-files/cmd/slow/TagInfoCmdTest.sh.stdout
  test-files/cmd/slow/TagInfoCmdTest/class_building.dbf
  test-files/cmd/slow/TagInfoCmdTest/class_building.prj
  test-files/cmd/slow/TagInfoCmdTest/class_building.shp
  test-files/cmd/slow/TagInfoCmdTest/class_building.shx
  test-files/cmd/slow/TagInfoCmdTest/class_non_building.dbf
  test-files/cmd/slow/TagInfoCmdTest/class_non_building.prj
  test-files/cmd/slow/TagInfoCmdTest/class_non_building.shp
  test-files/cmd/slow/TagInfoCmdTest/class_non_building.shx
Labels: Type: Bug, Type: Task, Category: Core, Priority: Medium

#5367 Sonar findings to kick off Jenkins build
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetCutOnlyCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreator.h
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.h
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDb.h
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.h
  hoot-core/src/main/cpp/hoot/core/language/ToEnglishDictionaryTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.cpp
  hoot-core/src/main/cpp/hoot/core/schema/PythonSchemaTranslator.h
  scripts/TestConfigure.sh
  tgs/src/main/cpp/tgs/RStarTree/RStarTree.cpp
  tgs/src/main/cpp/tgs/RStarTree/RStarTree.h
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.cpp
  tgs/src/main/cpp/tgs/RStarTree/RTreeNode.h
Labels: Category: Core, Priority: Critical

#5374 Restore OGDI Support
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-js/src/main/cpp/hoot/js/io/StreamUtilsJs.h
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh.stdout
  test-files/cmd/slow/ConvertCmdTest/coa17d.zip
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5376 Unit tests occasionally fail when processing `jakarta_raya_coastline.shp`
  conf/core/ConfigOptions.asciidoc
  conf/core/Testing.conf
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: Medium

#5378 Translations: Small fixes and cleanup
  translations/ENCv311_to_OGR.js
  translations/GeoNames_to_OSM.js
  translations/SchemaTools.js
  translations/ggdm30.js
  translations/mgcp.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/tds71.js
  translations/translate.js
Labels: Type: Maintenance, Category: Core, Status: Ready for Test, Priority: Low, Category: Translation

#5377 Nightly build fails because of configuration issue in `TestConfigure.sh`
  LocalConfig.pri.orig
  scripts/jenkins/Jenkinsfile
Labels: Type: Bug, Type: Task, Category: Build, Priority: Critical
