Repository ngageoint/hootenanny, pull requests merged in 2022-11, with the labels that each got.

#5481 JOSM OSM XML files with reviews are missing tag information
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Tags.h
  hoot-core/src/main/cpp/hoot/core/io/OsmBaseXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJosmXmlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmOscChangesetFileWriter.cpp
  test-files/cmd/slow/ChangesetDeriveCmdTest.sh
  test-files/cmd/slow/ChangesetDeriveCmdTest.sh.stdout
  test-files/cmd/slow/ChangesetDeriveCmdTest/AllDataTypesA.osm
  test-files/cmd/slow/ChangesetDeriveCmdTest/AllDataTypesB.osm
  test-files/cmd/slow/ChangesetDeriveCmdTest/AllDataTypesConflated.osm
  test-files/cmd/slow/ChangesetDeriveCmdTest/changeset-13.osm
  test-files/cmd/slow/ChangesetDeriveCmdTest/changeset-stats-13.json
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5482 Fix mangled tags and other things
  conf/schema/landcover.json
  conf/schema/schema.json
  translations/checkTranslations.js
  translations/translate.js
Labels: Type: Bug, Type: Feature, Type: Task, Category: Core, Status: In Progress, Priority: Medium, Category: Translation, Category: Schema

#5485 Merging multiple datasets in database causes crash
  hoot-core/src/main/cpp/hoot/core/io/ApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetApplier.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5491 Make `OsmApiReader` read XML from Overpass
  conf/core/ConfigOptions.asciidoc
  docs/user/CommandLineExamples.asciidoc
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OverpassReaderInterfaceTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OverpassReaderInterface.cpp
  hoot-core/src/main/cpp/hoot/core/io/OverpassReaderInterface.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5501 Including `bounds` parameter with `ParallelBoundedReader` should still stream
  LocalConfig.pri.orig
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTestServer.h
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiWriterTestServer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementInputStream.h
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.cpp
  hoot-core/src/main/cpp/hoot/core/io/ElementStreamer.h
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/util/HootNetworkUtils.h
  hoot-core/src/main/cpp/hoot/core/util/OsmApiUtils.h
  test-files/io/OsmApiReaderTest/ToyTestAOverpass1.osm
  test-files/io/OsmApiReaderTest/ToyTestAOverpass2.osm
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5506 Remove GeoJSON abstraction that is no longer needed
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriterBase.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriterBase.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium
