Repository ngageoint/hootenanny, pull requests merged in 2022-04, with the labels that each got.

#5311 Re-enable RelationToMultiPolygonConverter::_classifyRings() function and test if it is needed
  hoot-core-test/src/test/cpp/hoot/core/geometry/RelationToMultiPolygonConverterTest.cpp
  hoot-core/src/main/cpp/hoot/core/Hoot.cpp
  hoot-core/src/main/cpp/hoot/core/Hoot.h
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.h
Labels: Type: Task, Category: Core, Priority: Medium

#5312 Updated sonar name fixes to resolve Sonar warnings
  sonar-project.properties
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5314 TDSv7.1 Schema fixes
  conf/translations/TDSv71.xml.gz
  scripts/schema/ConvertTDSv71Schema_XML.py
  scripts/schema/hootLibrary.py
  test-files/cmd/slow/TDSv71/TDSv71.osm
  test-files/cmd/slow/TDSv71TranslationTest.sh
  test-files/cmd/slow/TDSv71TranslationTest.sh.stdout
  translations/etds71_osm_rules.js
  translations/etds71_rules.js
  translations/ggdm30_rules.js
  translations/tds70_rules.js
  translations/tds71.js
  translations/tds71_full_schema.js
  translations/tds71_rules.js
  translations/tds71_schema.js
  translations/tds71_thematic_schema.js
  translations/tds71_to_csv.js
  translations/translate.js
Labels: Type: Bug, Type: Maintenance, Priority: Medium, Category: Translation, Status: Ready For Review

#5320 JS logging no longer picks up script name
  hoot-core/src/main/cpp/hoot/core/algorithms/ReplacementSnappedWayJoiner.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.h
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-js/src/main/cpp/hoot/js/PluginContext.cpp
  hoot-js/src/main/cpp/hoot/js/PluginContext.h
  hoot-js/src/main/cpp/hoot/js/util/LogJs.cpp
  hoot-js/src/main/cpp/hoot/js/util/RequireJs.cpp
  sonar-project.properties
  test-files/cmd/quick/BadJavaScriptTranslation.sh.stdout
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomForest.h
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.cpp
  tgs/src/main/cpp/tgs/RandomForest/RandomTree.h
  tgs/src/test/cpp/tgs/RandomForest/RandomTreeTest.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: Medium

#5327 Handle features with unknown geometry
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
Labels: Type: Task, Type: Support, Category: Core, Status: Ready for Test, Priority: Medium

#5328 Bridge Conflation
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoiner.cpp
  test-files/cmd/glacial/serial/ServiceDiffConflateBounds1Test.sh.stdout
  test-files/cmd/glacial/serial/ServiceDiffConflateBoundsTest/out-1.osm
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5334 `ParallelBoundedReader` throws `std::bad_alloc`
  hoot-core-test/src/test/cpp/hoot/core/ops/DuplicateNodeRemoverTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/schema/ExactTagDifferencerTest.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Status.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5335 FGDB and GeoPackage error
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5336 Test parallelism in sonar scan
  scripts/sonar/sonar-scan.sh
Labels: Type: Task, Type: Maintenance, Category: Test, Priority: Low
