Repository ngageoint/hootenanny, pull requests merged in 2023-11, with the labels that each got.

#5725 Fix array length bug in RubberSheetCreator
  hoot-core/src/main/cpp/hoot/core/algorithms/rubber-sheet/RubberSheetCreator.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5726 Update `RunCommandsAcrossContainers.sh` to update Hoot options
  docker/hoot_external_command_nightly/scripts/RunCommandsAcrossContainers.sh
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5731 Tweaked the format for appending to an FGDB
  hoot-services/src/main/java/hoot/services/controllers/export/ExportCommand.java
Labels: Type: Task, Type: Maintenance, Category: Core, Category: Services, Priority: Medium, Category: Translation, Status: Ready For Review

#5733 Bad Allocation Exception in API Reader
  hoot-core-test/src/test/cpp/hoot/core/io/ParallelBoundedApiReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.h
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/FileUtils.h
  hoot-test/src/main/cpp/hoot/test/main.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5734 Gdal/geos version upgrade
  VagrantProvisionVars.sh
  configure.ac
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/WayStringTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/conflate/merging/LinearSnapMergerTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/elements/OsmUtilsTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/io/ServiceOsmApiDbTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/BufferedOverlapExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/OverlapExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SmallerOverlapExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/SmallerOverlapExtractor.h
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonAlphaShapeDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/extractors/poi-polygon/PoiPolygonDistanceExtractor.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/merging/BuildingPartPreMergeCollector.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/ConflateInfoCache.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/poi-polygon/PoiPolygonReviewReducer.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/WayBufferCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementGeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/PolygonCompare.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/RelationToMultiPolygonConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/HootApiDb.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrMultifileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlChangesetFileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbSqlStatementFormatter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/TranslationInterface.cpp
  hoot-core/src/main/cpp/hoot/core/ops/BuildingOutlineUpdateOp.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/RemoveDuplicateAreasVisitor.cpp
  scripts/schema/compareTrans.py
  scripts/yum/geoint-repo.sh
  test-files/cmd/slow/Osm2OgrTranslation.sh
  test-files/cmd/slow/gdal2tilesTest.sh.off
  test-files/cmd/slow/gdal2tilesTest.sh.stderr
  test-files/cmd/slow/gdal2tilesTest.sh.stdout
  test-files/ops/UnconnectedWaySnapper/runSnapMultiCrossingTestOut.osm
Labels: Type: Task, Type: Maintenance, Category: Build, Category: Core, Category: Test, Priority: Critical
