Repository ngageoint/hootenanny, pull requests merged in 2023-05, with the labels that each got.

#5635 Catching topography errors and fixing them.
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical

#5640 Fix bad JSON parsing of XML tag values
  hoot-core-test/src/test/cpp/hoot/core/io/OsmJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonWriter.h
  test-files/io/Json/JsonInTags.json
  test-files/io/Json/JsonInTags.osm
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5639 Soil Surface Area fixes
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/tds71.js
  translations/tds71_rules.js
  translations/test/natural.js
Labels: Type: Bug, Category: Core, Priority: High, Category: Translation, Status: Ready For Review, Category: Schema

#5642 Catch Overpass memory error
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
Labels: Type: Bug, Type: Task

#5644 Added untangle to GGDM
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/translate.js
Labels: Type: Bug, Type: Task, Category: Core, Priority: High, Category: Translation, Status: Ready For Review

#5649 MGCP Thematic
  Makefile.hoot
  scripts/schema/ConvertMGCPSchema_XML.py
  scripts/schema/hootLibrary.py
  test-files/cmd/slow/o2sTranslationTest.sh
  translations/MGCP_preset.xml
  translations/emgcp_osm_rules.js
  translations/emgcp_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/mgcp_schema.js
  translations/mgcp_thematic_schema.js
  translations/tds71.js
  translations/test/TranslationServer.js
Labels: Type: Feature, Type: Task, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation, Category: Schema

#5650 NETWORK: Boston Conflate - Circular road error
  conf/core/NetworkAlgorithm.conf
  hoot-core-test/src/test/cpp/hoot/core/algorithms/linearreference/WaySublineTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/algorithms/splitter/ClosedHighwaySplitterTest.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/ClosedHighwaySplitter.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/splitter/ClosedHighwaySplitter.h
  test-files/algorithms/splitter/ClosedHighwaySplitter.osm
  test-files/algorithms/splitter/ClosedHighwaySplitterExpected.osm
  test-files/cases/misc/network/roundabout-connector-conflate-merged-1/Expected.osm
  test-files/cmd/glacial/ConflateAverageRoadTest/output-dc-network.osm
  test-files/cmd/glacial/NetworkConflateCmdInputReverseTest/output.osm
  test-files/cmd/glacial/NetworkConflateCmdTest/output.osm
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5654 Restriction Relations in thematic GeoJSON
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.h
  test-files/io/GeoJson/BostonSubsetRoadBuilding-Translated.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuilding.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuilding.osm
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/BRIDGE_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/RESTRICTION.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/ROAD_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/Restriction.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/TransportationGroundCrv.geojson
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5657 GeoJSON writer not cropping single elements correctly
  hoot-core-test/src/test/cpp/hoot/core/io/OsmGeoJsonWriterTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  test-files/io/GeoJson/CroppingTest.osm
  test-files/io/GeoJson/CroppingTest/BUILDING_S.geojson
  test-files/io/GeoJson/CroppingTest/ROAD_C.geojson
Labels: Type: Bug, Type: Task, Category: Core, Priority: Critical
