Repository ngageoint/hootenanny, pull requests merged in 2023-08, with the labels that each got.

#5697 Changeset derive empty map
  hoot-core-test/src/test/cpp/hoot/core/algorithms/changeset/ChangesetCreatorTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmBaseXmlChangesetFileWriter.cpp
  test-files/algorithms/changeset/ChangesetCreatorTest/ChangesetDeriveEmpty.osm
  test-files/algorithms/changeset/ChangesetCreatorTest/ChangesetDeriveEmpty_expected.osc
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5701 Optimize `MapCropper`
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.cpp
  hoot-core/src/main/cpp/hoot/core/elements/OsmMap.h
  hoot-core/src/main/cpp/hoot/core/io/DataConverter.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.h
  hoot-core/src/main/cpp/hoot/core/io/OsmGeoJsonWriter.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/visitors/SchemaTranslationVisitor.cpp
  test-files/io/GeoJson/CroppingTest/BUILDING_S.geojson
  test-files/io/GeoJson/CroppingTest/ROAD_C.geojson
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Medium

#5704 Removed conversion from route to highway
  test-files/io/GeoJson/BostonSubsetRoadBuilding-Translated.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/ROAD_C.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingFcode/o2s_L.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/TransportationGroundCrv.geojson
  test-files/io/GeoJson/BostonSubsetRoadBuildingSplit/o2s_L.geojson
  translations/ggdm30.js
  translations/tds40.js
  translations/tds61.js
  translations/tds70.js
  translations/tds71.js
  translations/translate.js
Labels: Type: Maintenance, Category: Core, Status: In Progress, Priority: Medium, Category: Translation
