Repository ngageoint/hootenanny, pull requests merged in 2023-06, with the labels that each got.

#5662 Raster Compare Failure
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/BaseComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RasterComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RasterComparator.h
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/LogGeneric.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5663 Create fix for all building GeoJSON file comparison
  hoot-core/src/main/cpp/hoot/core/cmd/CompareCmd.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/AttributeComparator.cpp
  hoot-core/src/main/cpp/hoot/core/scoring/RasterComparator.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5674 Combine FlatGeobuf polygon layers into one layer
  hoot-core/src/main/cpp/hoot/core/io/FlatGeobufWriter.h
  hoot-core/src/main/cpp/hoot/core/io/OgrMultifileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrMultifileWriter.h
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5676 FCODE and Thematic FlatGeobuf files
  hoot-core/src/main/cpp/hoot/core/cmd/AlphaShapeCmd.cpp
  hoot-core/src/main/cpp/hoot/core/io/FlatGeobufWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/FlatGeobufWriter.h
  hoot-core/src/main/cpp/hoot/core/io/IoUtils.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrUtilities.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmMapWriterFactory.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ShapefileWriter.h
  test-files/cmd/slow/ConvertCmdTest/AllDataTypesFgb.osm
  test-files/cmd/slow/ConvertCmdTest3.sh
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5680 Landuse Fixes
  translations/fcode_common.js
  translations/ggdm30.js
  translations/ggdm30_rules.js
  translations/mgcp.js
  translations/mgcp_rules.js
  translations/tds40.js
  translations/tds40_rules.js
  translations/tds61.js
  translations/tds61_rules.js
  translations/tds70.js
  translations/tds70_rules.js
  translations/tds71.js
  translations/tds71_rules.js
Labels: Type: Maintenance, Type: Support, Category: Core, Priority: Medium, Category: Translation, Status: Ready For Review, Category: Schema
