Repository ngageoint/hootenanny, pull requests merged in 2023-01, with the labels that each got.

#5538 Refactor bounds
  hoot-core-test/src/test/cpp/hoot/core/io/OsmApiReaderTest.cpp
  hoot-core-test/src/test/cpp/hoot/core/ops/ImmediatelyConnectedOutOfBoundsWayTaggerTest.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/BoundedCommand.cpp
  hoot-core/src/main/cpp/hoot/core/cmd/CropCmd.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/CookieCutter.cpp
  hoot-core/src/main/cpp/hoot/core/criterion/InBoundsCriterion.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.cpp
  hoot-core/src/main/cpp/hoot/core/geometry/GeometryUtils.h
  hoot-core/src/main/cpp/hoot/core/io/HootApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiDbReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.h
  hoot-core/src/main/cpp/hoot/core/io/OsmXmlReader.cpp
  hoot-core/src/main/cpp/hoot/core/ops/MapCropper.cpp
  hoot-core/src/main/cpp/hoot/core/util/Boundable.cpp
  hoot-core/src/main/cpp/hoot/core/util/Boundable.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: High

#5540 Sonar fixes jan 2023
  hoot-core/src/main/cpp/hoot/core/algorithms/WayJoinerAdvanced.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/changeset/ChangesetReplacementCreatorAbstract.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/MultiLineStringLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/zindex/ZValue.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/address/AddressParser.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/HighwayMatch.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/polygon/BuildingMatch.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Element.h
  hoot-core/src/main/cpp/hoot/core/elements/ElementData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/ElementData.h
  hoot-core/src/main/cpp/hoot/core/elements/Node.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Node.h
  hoot-core/src/main/cpp/hoot/core/elements/NodeData.h
  hoot-core/src/main/cpp/hoot/core/elements/Relation.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Relation.h
  hoot-core/src/main/cpp/hoot/core/elements/RelationData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/RelationData.h
  hoot-core/src/main/cpp/hoot/core/elements/Way.cpp
  hoot-core/src/main/cpp/hoot/core/elements/Way.h
  hoot-core/src/main/cpp/hoot/core/elements/WayData.cpp
  hoot-core/src/main/cpp/hoot/core/elements/WayData.h
  hoot-core/src/main/cpp/hoot/core/io/OsmApiChangeset.cpp
  hoot-core/src/main/cpp/hoot/core/util/DateTimeUtils.cpp
  hoot-core/src/main/cpp/hoot/core/util/DateTimeUtils.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5541 Map Cropping in OGR output
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  test-files/cmd/slow/ConvertCmdTest.sh
  test-files/cmd/slow/ConvertCmdTest.sh.stdout
  test-files/cmd/slow/ConvertCmdTest/clipped_lines.osm
  test-files/cmd/slow/ConvertCmdTest/clipped_poly.osm
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5546 Update `ParallelBoundedReader::_isQueryError()` to handle XML responses
  hoot-core-test/src/test/cpp/hoot/core/io/ParallelBoundedApiReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5547 ParallelBoundedReader needs to throttle requests
  hoot-core/src/main/cpp/hoot/core/io/HootNetworkRequest.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
Labels: Type: Feature, Type: Task, Category: Core, Priority: High

#5548 Overpass queries in XML failing
  hoot-core/src/main/cpp/hoot/core/io/OsmApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/OsmJsonReader.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
  hoot-core/src/main/cpp/hoot/core/util/DateTimeUtils.h
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5531 Converted the exception to an error message
  hoot-core-test/src/test/cpp/hoot/core/util/SettingsTest.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.cpp
  hoot-core/src/main/cpp/hoot/core/util/Log.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
Labels: Type: Feature, Type: Task, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: Medium

#5551 Attribute Conflation Errors
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/elements/Tags.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5528 Add translation conf files to the node-export server
  node-export-server/server.js
Labels: Type: Feature, Type: Task, Type: Maintenance, Category: Core, Status: Ready for Test, Priority: Medium, Category: Translation

#5553 Add option to turn on/off OGR writer polygon cropping
  conf/core/ConfigOptions.asciidoc
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.h
  test-files/cmd/slow/ConvertCmdTest.sh
Labels: Type: Maintenance, Category: Core, Priority: High

#5555 `Remark` tags cause Hoot to parse Overpass JSON incorrectly
  hoot-core-test/src/test/cpp/hoot/core/io/ParallelBoundedApiReaderTest.cpp
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
  hoot-core/src/main/cpp/hoot/core/io/ParallelBoundedApiReader.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High

#5557 Testing move constructor sonar find
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  hoot-core/src/main/cpp/hoot/core/util/Settings.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5558 More move constructor sonar fixes
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WayLocation.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySubline.h
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineMatch.cpp
  hoot-core/src/main/cpp/hoot/core/algorithms/linearreference/WaySublineMatch.h
  hoot-core/src/main/cpp/hoot/core/conflate/highway/RoadCrossingPolyRule.cpp
  hoot-core/src/main/cpp/hoot/core/conflate/highway/RoadCrossingPolyRule.h
  hoot-core/src/main/cpp/hoot/core/util/HootException.cpp
  hoot-core/src/main/cpp/hoot/core/util/HootException.h
  hoot-core/src/main/cpp/hoot/core/util/Settings.cpp
  tgs/src/main/cpp/tgs/BigContainers/BasicBloomFilter.h
  tgs/src/main/cpp/tgs/RStarTree/Box.cpp
  tgs/src/main/cpp/tgs/RStarTree/Box.h
Labels: Type: Task, Type: Maintenance, Category: Core, Priority: Low

#5562 Map crop should crop polygon geometry, not they way nodes and then assemble a mangled polygon
  hoot-core/src/main/cpp/hoot/core/io/OgrWriter.cpp
Labels: Type: Bug, Type: Task, Category: Core, Priority: High
